In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.chrome.service import Service as ChromeService
import requests
from bs4 import BeautifulSoup
import pandas as pd
import psycopg2
#from sqlalchemy import create_engine

In [2]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36'
}

cookies = {
    'cookie_name': 'cookie_value'
}

In [3]:
urlDal = "https://www.espn.com.mx/futbol-americano/nfl/equipo/calendario/_/nombre/dal"

In [4]:
urlGb = "https://www.espn.com.mx/futbol-americano/nfl/equipo/calendario/_/nombre/gb"

In [5]:
urlMia = "https://www.espn.com.mx/futbol-americano/nfl/equipo/calendario/_/nombre/mia"

In [6]:
urlJax = "https://www.espn.com.mx/futbol-americano/nfl/equipo/calendario/_/nombre/jax"

In [7]:
urlLar = "https://www.espn.com.mx/futbol-americano/nfl/equipo/calendario/_/nombre/lar"

In [8]:
urlSf = "https://www.espn.com.mx/futbol-americano/nfl/equipo/calendario/_/nombre/sf"

In [9]:
urlBal = "https://www.espn.com.mx/futbol-americano/nfl/equipo/calendario/_/nombre/bal"

In [10]:
urlPhi = "https://www.espn.com.mx/futbol-americano/nfl/equipo/calendario/_/nombre/phi"

In [11]:
urlAtl = "https://www.espn.com.mx/futbol-americano/nfl/equipo/calendario/_/nombre/atl"

In [12]:
urlCle = "https://www.espn.com.mx/futbol-americano/nfl/equipo/calendario/_/nombre/cle"

In [13]:
urlDet = "https://www.espn.com.mx/futbol-americano/nfl/equipo/calendario/_/nombre/det"

In [14]:
urlNyj = "https://www.espn.com.mx/futbol-americano/nfl/equipo/calendario/_/nombre/nyj"

In [15]:
urlTb = "https://www.espn.com.mx/futbol-americano/nfl/equipo/calendario/_/nombre/tb"

In [16]:
urlWsh = "https://www.espn.com.mx/futbol-americano/nfl/equipo/calendario/_/nombre/wsh"

In [17]:
urlLv = "https://www.espn.com.mx/futbol-americano/nfl/equipo/calendario/_/nombre/lv"

In [18]:
urlNo = "https://www.espn.com.mx/futbol-americano/nfl/equipo/calendario/_/nombre/no"

In [19]:
urlLac = "https://www.espn.com.mx/futbol-americano/nfl/equipo/calendario/_/nombre/lac"

In [20]:
urlInd = "https://www.espn.com.mx/futbol-americano/nfl/equipo/calendario/_/nombre/ind"

In [21]:
urlChi = "https://www.espn.com.mx/futbol-americano/nfl/equipo/calendario/_/nombre/chi"

In [22]:
urlKc = "https://www.espn.com.mx/futbol-americano/nfl/equipo/calendario/_/nombre/kc"

In [23]:
urlNe = "https://www.espn.com.mx/futbol-americano/nfl/equipo/calendario/_/nombre/ne"

In [24]:
urlMin = "https://www.espn.com.mx/futbol-americano/nfl/equipo/calendario/_/nombre/min"

In [25]:
urlAri = "https://www.espn.com.mx/futbol-americano/nfl/equipo/calendario/_/nombre/ari"

In [26]:
urlBuf = "https://www.espn.com.mx/futbol-americano/nfl/equipo/calendario/_/nombre/buf"

In [27]:
urlDen = "https://www.espn.com.mx/futbol-americano/nfl/equipo/calendario/_/nombre/den"

In [28]:
urlTen = "https://www.espn.com.mx/futbol-americano/nfl/equipo/calendario/_/nombre/ten"

In [29]:
urlSea = "https://www.espn.com.mx/futbol-americano/nfl/equipo/calendario/_/nombre/sea"

In [30]:
urlCar = "https://www.espn.com.mx/futbol-americano/nfl/equipo/calendario/_/nombre/car"

In [31]:
urlHou = "https://www.espn.com.mx/futbol-americano/nfl/equipo/calendario/_/nombre/hou"

In [32]:
urlPit = "https://www.espn.com.mx/futbol-americano/nfl/equipo/calendario/_/nombre/pit"

In [33]:
urlCin = "https://www.espn.com.mx/futbol-americano/nfl/equipo/calendario/_/nombre/cin"

In [34]:
urlNyg = "https://www.espn.com.mx/futbol-americano/nfl/equipo/calendario/_/nombre/nyg"

In [35]:
TabGen = ['Semana','Fecha', 'Oponente','Resultado','G-P','L.Pases','L. Corr','L. Recib']

# Dallas

In [36]:
rDal = requests.get(urlDal, cookies=cookies, headers=headers)
html_contentsDal = rDal.text

In [37]:
html_soupDal = BeautifulSoup(html_contentsDal, 'html.parser')

In [38]:
calendarioDal = html_soupDal.find_all('table', class_='Table')

In [39]:
Dallas = pd.DataFrame(columns = TabGen)

In [40]:
for table in calendarioDal:
    for row in table.find_all('tr')[2:21]:
        values = []
        for col in row.find_all(['th','td']):
            values.append(col.text)
        if len(values) == len(TabGen):
            Dallas.loc[len(Dallas)] = values

In [41]:
column_2 = 1
column_3 = 2

# Lista para almacenar los datos
data_list = []

# Recorre cada tabla
for table_index, table in enumerate(calendarioDal):
    # Recorre cada fila en la tabla
    for row_index, row in enumerate(table.find_all('tr')):
        # Inicializar variables para almacenar los datos
        column_2_data = None
        column_3_data = None
        
        # Recorre cada celda en la fila
        for col_index, col in enumerate(row.find_all(['th', 'td'])):
            # Extraer el contenido de la columna 2
            if col_index == column_2:
                span_tag = col.find('span')
                if span_tag:
                    column_2_data = span_tag.text.strip()
                else:
                    column_2_data = col.text.strip()
                
            # Extraer el contenido de la columna 3
            if col_index == column_3:
                a_tag = col.find('a', class_='AnchorLink')
                if a_tag:
                    href_value = a_tag.get('href')
                    relevant_part = href_value.split('/')[-1]
                    cadena_sin_guiones = relevant_part.replace('-', ' ')
                    column_3_data = cadena_sin_guiones

        # Agregar los datos a la lista si ambos datos están presentes
        if column_2_data and column_3_data:
            data_list.append({
                'Column_2': column_2_data,
                'OpNomCom': column_3_data
            })

# Convertir la lista de datos en un DataFrame
dfNomComDetOp = pd.DataFrame(data_list)

In [42]:
Dallas.insert(0, 'Equipo', 'Dallas Cowboys')
Dallas['Resultado_L'] = Dallas['Resultado'].str.extract(r'([A-Za-z]+)')
Dallas['Resultado_Numeros'] = Dallas['Resultado'].str.extract(r'(\d+-\d+)')
Dallas[['R1', 'R2']] = Dallas['Resultado_Numeros'].str.split('-', expand=True)
Dallas['Local_Visitante'] = Dallas['Oponente'].str.split().str[0].str.replace('.', '')
Dallas['Local_Visitante'] = Dallas['Local_Visitante'].str.replace('vs', 'local').str.replace('en', 'visitante')
Dallas['Equipo_Oponente'] = Dallas['Oponente'].str.extract(r'(vs\.|en\s)([^,]+)')[1]
# Agregar las columnas "G," "P," y "E" basadas en la columna "Resultado_L"
Dallas['G'] = (Dallas['Resultado_L'] == 'G').astype(int)
Dallas['P'] = (Dallas['Resultado_L'] == 'P').astype(int)
Dallas['E'] = (Dallas['Resultado_L'] == 'E').astype(int)
columnas_deseadas = ['Equipo', 'Semana', 'Fecha', 'Resultado_L', 'R1', 'R2', 'Local_Visitante', 'Equipo_Oponente', 'G', 'P', 'E']
Dallas_select = Dallas[columnas_deseadas]
Dallas_select.loc[:, ['Semana', 'R1', 'R2', 'G', 'P', 'E']] = Dallas_select[['Semana', 'R1', 'R2', 'G', 'P', 'E']].astype(int)
Dallas_select = Dallas_select.copy()
Dallas_select['Diferencia_Pts.'] = Dallas_select['R1'] - Dallas_select['R2']

In [43]:
Dallas_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.
0,Dallas Cowboys,1,"Dom., 8 de Sep.",G,33,17,visitante,Cleveland,1,0,0,16
1,Dallas Cowboys,2,"Dom., 15 de Sep.",P,44,19,local,New Orleans,0,1,0,25

In [44]:
# Convertir fechas a un formato común en ambos DataFrames
Dallas_select['Fecha'] = Dallas_select['Fecha'].str.strip()
dfNomComDetOp['Column_2'] = dfNomComDetOp['Column_2'].str.strip()

# Realizar la unión basada en las fechas
Dallas_select = pd.merge(Dallas_select, dfNomComDetOp, left_on='Fecha', right_on='Column_2', how='inner')
Dallas_select = Dallas_select.drop(columns=['Column_2'])

# Mostrar el DataFrame combinado
Dallas_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.,OpNomCom
0,Dallas Cowboys,1,"Dom., 8 de Sep.",G,33,17,visitante,Cleveland,1,0,0,16,cleveland browns
1,Dallas Cowboys,2,"Dom., 15 de Sep.",P,44,19,local,New Orleans,0,1,0,25,new orleans saints

# Green Bay

In [45]:
rGb = requests.get(urlGb, cookies=cookies, headers=headers)
html_contentsGb = rGb.text

In [46]:
html_soupGb = BeautifulSoup(html_contentsGb, 'html.parser')

In [47]:
calendarioGb = html_soupGb.find_all('table', class_='Table')

In [48]:
Green_Bay = pd.DataFrame(columns = TabGen)

In [49]:
for table in calendarioGb:
    for row in table.find_all('tr')[2:21]:
        values = []
        for col in row.find_all(['th','td']):
            values.append(col.text)
        if len(values) == len(TabGen):
            Green_Bay.loc[len(Green_Bay)] = values

In [50]:
column_2 = 1
column_3 = 2

# Lista para almacenar los datos
data_list = []

# Recorre cada tabla
for table_index, table in enumerate(calendarioGb):
    # Recorre cada fila en la tabla
    for row_index, row in enumerate(table.find_all('tr')):
        # Inicializar variables para almacenar los datos
        column_2_data = None
        column_3_data = None
        
        # Recorre cada celda en la fila
        for col_index, col in enumerate(row.find_all(['th', 'td'])):
            # Extraer el contenido de la columna 2
            if col_index == column_2:
                span_tag = col.find('span')
                if span_tag:
                    column_2_data = span_tag.text.strip()
                else:
                    column_2_data = col.text.strip()
                
            # Extraer el contenido de la columna 3
            if col_index == column_3:
                a_tag = col.find('a', class_='AnchorLink')
                if a_tag:
                    href_value = a_tag.get('href')
                    relevant_part = href_value.split('/')[-1]
                    cadena_sin_guiones = relevant_part.replace('-', ' ')
                    column_3_data = cadena_sin_guiones

        # Agregar los datos a la lista si ambos datos están presentes
        if column_2_data and column_3_data:
            data_list.append({
                'Column_2': column_2_data,
                'OpNomCom': column_3_data
            })

# Convertir la lista de datos en un DataFrame
dfNomComDetOp = pd.DataFrame(data_list)

In [51]:
Green_Bay.insert(0, 'Equipo', 'Green Bay Packers')
Green_Bay['Resultado_L'] = Green_Bay['Resultado'].str.extract(r'([A-Za-z]+)')
Green_Bay['Resultado_Numeros'] = Green_Bay['Resultado'].str.extract(r'(\d+-\d+)')
Green_Bay[['R1', 'R2']] = Green_Bay['Resultado_Numeros'].str.split('-', expand=True)
Green_Bay['Local_Visitante'] = Green_Bay['Oponente'].str.split().str[0].str.replace('.', '')
Green_Bay['Local_Visitante'] = Green_Bay['Local_Visitante'].str.replace('vs', 'local').str.replace('en', 'visitante')
Green_Bay['Equipo_Oponente'] = Green_Bay['Oponente'].str.extract(r'(vs\.|en\s)([^,]+)')[1]
# Agregar las columnas "G," "P," y "E" basadas en la columna "Resultado_L"
Green_Bay['G'] = (Green_Bay['Resultado_L'] == 'G').astype(int)
Green_Bay['P'] = (Green_Bay['Resultado_L'] == 'P').astype(int)
Green_Bay['E'] = (Green_Bay['Resultado_L'] == 'E').astype(int)
columnas_deseadas = ['Equipo', 'Semana', 'Fecha', 'Resultado_L', 'R1', 'R2', 'Local_Visitante', 'Equipo_Oponente', 'G', 'P', 'E']
Green_Bay_select = Green_Bay[columnas_deseadas]
Green_Bay_select.loc[:, ['Semana', 'R1', 'R2', 'G', 'P', 'E']] = Green_Bay_select[['Semana', 'R1', 'R2', 'G', 'P', 'E']].astype(int)
Green_Bay_select = Green_Bay_select.copy()
Green_Bay_select['Diferencia_Pts.'] = Green_Bay_select['R1'] - Green_Bay_select['R2']

In [52]:
Green_Bay_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.
0,Green Bay Packers,1,"Vie., 6 de Sep.",P,34,29,local,Philadelphia *,0,1,0,5
1,Green Bay Packers,2,"Dom., 15 de Sep.",G,16,10,local,Indianapolis,1,0,0,6

In [53]:
# Convertir fechas a un formato común en ambos DataFrames
Green_Bay_select['Fecha'] = Green_Bay_select['Fecha'].str.strip()
dfNomComDetOp['Column_2'] = dfNomComDetOp['Column_2'].str.strip()

# Realizar la unión basada en las fechas
Green_Bay_select = pd.merge(Green_Bay_select, dfNomComDetOp, left_on='Fecha', right_on='Column_2', how='inner')
Green_Bay_select = Green_Bay_select.drop(columns=['Column_2'])

# Mostrar el DataFrame combinado
Green_Bay_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.,OpNomCom
0,Green Bay Packers,1,"Vie., 6 de Sep.",P,34,29,local,Philadelphia *,0,1,0,5,philadelphia eagles
1,Green Bay Packers,2,"Dom., 15 de Sep.",G,16,10,local,Indianapolis,1,0,0,6,indianapolis colts

# Miami

In [54]:
rMia = requests.get(urlMia, cookies=cookies, headers=headers)
html_contentsMia = rMia.text

In [55]:
html_soupMia = BeautifulSoup(html_contentsMia, 'html.parser')

In [56]:
calendarioMia = html_soupMia.find_all('table', class_='Table')

In [57]:
Miami = pd.DataFrame(columns = TabGen)

In [58]:
for table in calendarioMia:
    for row in table.find_all('tr')[2:21]:
        values = []
        for col in row.find_all(['th','td']):
            values.append(col.text)
        if len(values) == len(TabGen):
            Miami.loc[len(Miami)] = values

In [59]:
column_2 = 1
column_3 = 2

# Lista para almacenar los datos
data_list = []

# Recorre cada tabla
for table_index, table in enumerate(calendarioMia):
    # Recorre cada fila en la tabla
    for row_index, row in enumerate(table.find_all('tr')):
        # Inicializar variables para almacenar los datos
        column_2_data = None
        column_3_data = None
        
        # Recorre cada celda en la fila
        for col_index, col in enumerate(row.find_all(['th', 'td'])):
            # Extraer el contenido de la columna 2
            if col_index == column_2:
                span_tag = col.find('span')
                if span_tag:
                    column_2_data = span_tag.text.strip()
                else:
                    column_2_data = col.text.strip()
                
            # Extraer el contenido de la columna 3
            if col_index == column_3:
                a_tag = col.find('a', class_='AnchorLink')
                if a_tag:
                    href_value = a_tag.get('href')
                    relevant_part = href_value.split('/')[-1]
                    cadena_sin_guiones = relevant_part.replace('-', ' ')
                    column_3_data = cadena_sin_guiones

        # Agregar los datos a la lista si ambos datos están presentes
        if column_2_data and column_3_data:
            data_list.append({
                'Column_2': column_2_data,
                'OpNomCom': column_3_data
            })

# Convertir la lista de datos en un DataFrame
dfNomComDetOp = pd.DataFrame(data_list)

In [60]:
Miami.insert(0, 'Equipo', 'Miami Dolphins')
Miami['Resultado_L'] = Miami['Resultado'].str.extract(r'([A-Za-z]+)')
Miami['Resultado_Numeros'] = Miami['Resultado'].str.extract(r'(\d+-\d+)')
Miami[['R1', 'R2']] = Miami['Resultado_Numeros'].str.split('-', expand=True)
Miami['Local_Visitante'] = Miami['Oponente'].str.split().str[0].str.replace('.', '')
Miami['Local_Visitante'] = Miami['Local_Visitante'].str.replace('vs', 'local').str.replace('en', 'visitante')
Miami['Equipo_Oponente'] = Miami['Oponente'].str.extract(r'(vs\.|en\s)([^,]+)')[1]
# Agregar las columnas "G," "P," y "E" basadas en la columna "Resultado_L"
Miami['G'] = (Miami['Resultado_L'] == 'G').astype(int)
Miami['P'] = (Miami['Resultado_L'] == 'P').astype(int)
Miami['E'] = (Miami['Resultado_L'] == 'E').astype(int)
columnas_deseadas = ['Equipo', 'Semana', 'Fecha', 'Resultado_L', 'R1', 'R2', 'Local_Visitante', 'Equipo_Oponente', 'G', 'P', 'E']
Miami_select = Miami[columnas_deseadas]
Miami_select.loc[:, ['Semana', 'R1', 'R2', 'G', 'P', 'E']] = Miami_select[['Semana', 'R1', 'R2', 'G', 'P', 'E']].astype(int)
Miami_select = Miami_select.copy()
Miami_select['Diferencia_Pts.'] = Miami_select['R1'] - Miami_select['R2']

In [61]:
Miami_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.
0,Miami Dolphins,1,"Dom., 8 de Sep.",G,20,17,local,Jacksonville,1,0,0,3
1,Miami Dolphins,2,"Jue., 12 de Sep.",P,31,10,local,Buffalo,0,1,0,21

In [62]:
# Convertir fechas a un formato común en ambos DataFrames
Miami_select['Fecha'] = Miami_select['Fecha'].str.strip()
dfNomComDetOp['Column_2'] = dfNomComDetOp['Column_2'].str.strip()

# Realizar la unión basada en las fechas
Miami_select = pd.merge(Miami_select, dfNomComDetOp, left_on='Fecha', right_on='Column_2', how='inner')
Miami_select = Miami_select.drop(columns=['Column_2'])

# Mostrar el DataFrame combinado
Miami_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.,OpNomCom
0,Miami Dolphins,1,"Dom., 8 de Sep.",G,20,17,local,Jacksonville,1,0,0,3,jacksonville jaguars
1,Miami Dolphins,2,"Jue., 12 de Sep.",P,31,10,local,Buffalo,0,1,0,21,buffalo bills

# Jacksonville

In [63]:
rJax = requests.get(urlJax, cookies=cookies, headers=headers)
html_contentsJax = rJax.text

In [64]:
html_soupJax = BeautifulSoup(html_contentsJax, 'html.parser')

In [65]:
calendarioJax = html_soupJax.find_all('table', class_='Table')

In [66]:
Jacksonville = pd.DataFrame(columns = TabGen)

In [67]:
for table in calendarioJax:
    for row in table.find_all('tr')[2:21]:
        values = []
        for col in row.find_all(['th','td']):
            values.append(col.text)
        if len(values) == len(TabGen):
            Jacksonville.loc[len(Jacksonville)] = values

In [68]:
column_2 = 1
column_3 = 2

# Lista para almacenar los datos
data_list = []

# Recorre cada tabla
for table_index, table in enumerate(calendarioJax):
    # Recorre cada fila en la tabla
    for row_index, row in enumerate(table.find_all('tr')):
        # Inicializar variables para almacenar los datos
        column_2_data = None
        column_3_data = None
        
        # Recorre cada celda en la fila
        for col_index, col in enumerate(row.find_all(['th', 'td'])):
            # Extraer el contenido de la columna 2
            if col_index == column_2:
                span_tag = col.find('span')
                if span_tag:
                    column_2_data = span_tag.text.strip()
                else:
                    column_2_data = col.text.strip()
                
            # Extraer el contenido de la columna 3
            if col_index == column_3:
                a_tag = col.find('a', class_='AnchorLink')
                if a_tag:
                    href_value = a_tag.get('href')
                    relevant_part = href_value.split('/')[-1]
                    cadena_sin_guiones = relevant_part.replace('-', ' ')
                    column_3_data = cadena_sin_guiones

        # Agregar los datos a la lista si ambos datos están presentes
        if column_2_data and column_3_data:
            data_list.append({
                'Column_2': column_2_data,
                'OpNomCom': column_3_data
            })

# Convertir la lista de datos en un DataFrame
dfNomComDetOp = pd.DataFrame(data_list)

In [69]:
Jacksonville.insert(0, 'Equipo', 'Jacksonville Jaguars')
Jacksonville['Resultado_L'] = Jacksonville['Resultado'].str.extract(r'([A-Za-z]+)')
Jacksonville['Resultado_Numeros'] = Jacksonville['Resultado'].str.extract(r'(\d+-\d+)')
Jacksonville[['R1', 'R2']] = Jacksonville['Resultado_Numeros'].str.split('-', expand=True)
Jacksonville['Local_Visitante'] = Jacksonville['Oponente'].str.split().str[0].str.replace('.', '')
Jacksonville['Local_Visitante'] = Jacksonville['Local_Visitante'].str.replace('vs', 'local').str.replace('en', 'visitante')
Jacksonville['Equipo_Oponente'] = Jacksonville['Oponente'].str.extract(r'(vs\.|en\s)([^,]+)')[1]
# Agregar las columnas "G," "P," y "E" basadas en la columna "Resultado_L"
Jacksonville['G'] = (Jacksonville['Resultado_L'] == 'G').astype(int)
Jacksonville['P'] = (Jacksonville['Resultado_L'] == 'P').astype(int)
Jacksonville['E'] = (Jacksonville['Resultado_L'] == 'E').astype(int)
columnas_deseadas = ['Equipo', 'Semana', 'Fecha', 'Resultado_L', 'R1', 'R2', 'Local_Visitante', 'Equipo_Oponente', 'G', 'P', 'E']
Jacksonville_select = Jacksonville[columnas_deseadas]
Jacksonville_select.loc[:, ['Semana', 'R1', 'R2', 'G', 'P', 'E']] = Jacksonville_select[['Semana', 'R1', 'R2', 'G', 'P', 'E']].astype(int)
Jacksonville_select = Jacksonville_select.copy()
Jacksonville_select['Diferencia_Pts.'] = Jacksonville_select['R1'] - Jacksonville_select['R2']

In [70]:
Jacksonville_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.
0,Jacksonville Jaguars,1,"Dom., 8 de Sep.",P,20,17,visitante,Miami,0,1,0,3
1,Jacksonville Jaguars,2,"Dom., 15 de Sep.",P,18,13,local,Cleveland,0,1,0,5

In [71]:
# Convertir fechas a un formato común en ambos DataFrames
Jacksonville_select['Fecha'] = Jacksonville_select['Fecha'].str.strip()
dfNomComDetOp['Column_2'] = dfNomComDetOp['Column_2'].str.strip()

# Realizar la unión basada en las fechas
Jacksonville_select = pd.merge(Jacksonville_select, dfNomComDetOp, left_on='Fecha', right_on='Column_2', how='inner')
Jacksonville_select = Jacksonville_select.drop(columns=['Column_2'])

# Mostrar el DataFrame combinado
Jacksonville_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.,OpNomCom
0,Jacksonville Jaguars,1,"Dom., 8 de Sep.",P,20,17,visitante,Miami,0,1,0,3,miami dolphins
1,Jacksonville Jaguars,2,"Dom., 15 de Sep.",P,18,13,local,Cleveland,0,1,0,5,cleveland browns

# Los Angeles Rams

In [72]:
rLar = requests.get(urlLar, cookies=cookies, headers=headers)
html_contentsLar = rLar.text

In [73]:
html_soupLar = BeautifulSoup(html_contentsLar, 'html.parser')

In [74]:
calendarioLar = html_soupLar.find_all('table', class_='Table')

In [75]:
Los_Angeles_Rams = pd.DataFrame(columns = TabGen)

In [76]:
for table in calendarioLar:
    for row in table.find_all('tr')[2:21]:
        values = []
        for col in row.find_all(['th','td']):
            values.append(col.text)
        if len(values) == len(TabGen):
            Los_Angeles_Rams.loc[len(Los_Angeles_Rams)] = values

In [77]:
column_2 = 1
column_3 = 2

# Lista para almacenar los datos
data_list = []

# Recorre cada tabla
for table_index, table in enumerate(calendarioLar):
    # Recorre cada fila en la tabla
    for row_index, row in enumerate(table.find_all('tr')):
        # Inicializar variables para almacenar los datos
        column_2_data = None
        column_3_data = None
        
        # Recorre cada celda en la fila
        for col_index, col in enumerate(row.find_all(['th', 'td'])):
            # Extraer el contenido de la columna 2
            if col_index == column_2:
                span_tag = col.find('span')
                if span_tag:
                    column_2_data = span_tag.text.strip()
                else:
                    column_2_data = col.text.strip()
                
            # Extraer el contenido de la columna 3
            if col_index == column_3:
                a_tag = col.find('a', class_='AnchorLink')
                if a_tag:
                    href_value = a_tag.get('href')
                    relevant_part = href_value.split('/')[-1]
                    cadena_sin_guiones = relevant_part.replace('-', ' ')
                    column_3_data = cadena_sin_guiones

        # Agregar los datos a la lista si ambos datos están presentes
        if column_2_data and column_3_data:
            data_list.append({
                'Column_2': column_2_data,
                'OpNomCom': column_3_data
            })

# Convertir la lista de datos en un DataFrame
dfNomComDetOp = pd.DataFrame(data_list)

In [78]:
Los_Angeles_Rams.insert(0, 'Equipo', 'Los Angeles Rams')
Los_Angeles_Rams['Resultado_L'] = Los_Angeles_Rams['Resultado'].str.extract(r'([A-Za-z]+)')
Los_Angeles_Rams['Resultado_Numeros'] = Los_Angeles_Rams['Resultado'].str.extract(r'(\d+-\d+)')
Los_Angeles_Rams[['R1', 'R2']] = Los_Angeles_Rams['Resultado_Numeros'].str.split('-', expand=True)
Los_Angeles_Rams['Local_Visitante'] = Los_Angeles_Rams['Oponente'].str.split().str[0].str.replace('.', '')
Los_Angeles_Rams['Local_Visitante'] = Los_Angeles_Rams['Local_Visitante'].str.replace('vs', 'local').str.replace('en', 'visitante')
Los_Angeles_Rams['Equipo_Oponente'] = Los_Angeles_Rams['Oponente'].str.extract(r'(vs\.|en\s)([^,]+)')[1]
# Agregar las columnas "G," "P," y "E" basadas en la columna "Resultado_L"
Los_Angeles_Rams['G'] = (Los_Angeles_Rams['Resultado_L'] == 'G').astype(int)
Los_Angeles_Rams['P'] = (Los_Angeles_Rams['Resultado_L'] == 'P').astype(int)
Los_Angeles_Rams['E'] = (Los_Angeles_Rams['Resultado_L'] == 'E').astype(int)
columnas_deseadas = ['Equipo', 'Semana', 'Fecha', 'Resultado_L', 'R1', 'R2', 'Local_Visitante', 'Equipo_Oponente', 'G', 'P', 'E']
Los_Angeles_Rams_select = Los_Angeles_Rams[columnas_deseadas]
Los_Angeles_Rams_select.loc[:, ['Semana', 'R1', 'R2', 'G', 'P', 'E']] = Los_Angeles_Rams_select[['Semana', 'R1', 'R2', 'G', 'P', 'E']].astype(int)
Los_Angeles_Rams_select = Los_Angeles_Rams_select.copy()
Los_Angeles_Rams_select['Diferencia_Pts.'] = Los_Angeles_Rams_select['R1'] - Los_Angeles_Rams_select['R2']

In [79]:
Los_Angeles_Rams_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.
0,Los Angeles Rams,1,"Dom., 8 de Sep.",P,26,20,visitante,Detroit,0,1,0,6
1,Los Angeles Rams,2,"Dom., 15 de Sep.",P,41,10,visitante,Arizona,0,1,0,31

In [80]:
# Convertir fechas a un formato común en ambos DataFrames
Los_Angeles_Rams_select['Fecha'] = Los_Angeles_Rams_select['Fecha'].str.strip()
dfNomComDetOp['Column_2'] = dfNomComDetOp['Column_2'].str.strip()

# Realizar la unión basada en las fechas
Los_Angeles_Rams_select = pd.merge(Los_Angeles_Rams_select, dfNomComDetOp, left_on='Fecha', right_on='Column_2', how='inner')
Los_Angeles_Rams_select = Los_Angeles_Rams_select.drop(columns=['Column_2'])

# Mostrar el DataFrame combinado
Los_Angeles_Rams_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.,OpNomCom
0,Los Angeles Rams,1,"Dom., 8 de Sep.",P,26,20,visitante,Detroit,0,1,0,6,detroit lions
1,Los Angeles Rams,2,"Dom., 15 de Sep.",P,41,10,visitante,Arizona,0,1,0,31,arizona cardinals

# San Francisco

In [81]:
rSf = requests.get(urlSf, cookies=cookies, headers=headers)
html_contentsSf = rSf.text

In [82]:
html_soupSf = BeautifulSoup(html_contentsSf, 'html.parser')

In [83]:
calendarioSf = html_soupSf.find_all('table', class_='Table')

In [84]:
San_Francisco = pd.DataFrame(columns = TabGen)

In [85]:
for table in calendarioSf:
    for row in table.find_all('tr')[2:21]:
        values = []
        for col in row.find_all(['th','td']):
            values.append(col.text)
        if len(values) == len(TabGen):
            San_Francisco.loc[len(San_Francisco)] = values

In [86]:
column_2 = 1
column_3 = 2

# Lista para almacenar los datos
data_list = []

# Recorre cada tabla
for table_index, table in enumerate(calendarioSf):
    # Recorre cada fila en la tabla
    for row_index, row in enumerate(table.find_all('tr')):
        # Inicializar variables para almacenar los datos
        column_2_data = None
        column_3_data = None
        
        # Recorre cada celda en la fila
        for col_index, col in enumerate(row.find_all(['th', 'td'])):
            # Extraer el contenido de la columna 2
            if col_index == column_2:
                span_tag = col.find('span')
                if span_tag:
                    column_2_data = span_tag.text.strip()
                else:
                    column_2_data = col.text.strip()
                
            # Extraer el contenido de la columna 3
            if col_index == column_3:
                a_tag = col.find('a', class_='AnchorLink')
                if a_tag:
                    href_value = a_tag.get('href')
                    relevant_part = href_value.split('/')[-1]
                    cadena_sin_guiones = relevant_part.replace('-', ' ')
                    column_3_data = cadena_sin_guiones

        # Agregar los datos a la lista si ambos datos están presentes
        if column_2_data and column_3_data:
            data_list.append({
                'Column_2': column_2_data,
                'OpNomCom': column_3_data
            })

# Convertir la lista de datos en un DataFrame
dfNomComDetOp = pd.DataFrame(data_list)

In [87]:
San_Francisco.insert(0, 'Equipo', 'San Francisco 49ers')
San_Francisco['Resultado_L'] = San_Francisco['Resultado'].str.extract(r'([A-Za-z]+)')
San_Francisco['Resultado_Numeros'] = San_Francisco['Resultado'].str.extract(r'(\d+-\d+)')
San_Francisco[['R1', 'R2']] = San_Francisco['Resultado_Numeros'].str.split('-', expand=True)
San_Francisco['Local_Visitante'] = San_Francisco['Oponente'].str.split().str[0].str.replace('.', '')
San_Francisco['Local_Visitante'] = San_Francisco['Local_Visitante'].str.replace('vs', 'local').str.replace('en', 'visitante')
San_Francisco['Equipo_Oponente'] = San_Francisco['Oponente'].str.extract(r'(vs\.|en\s)([^,]+)')[1]
# Agregar las columnas "G," "P," y "E" basadas en la columna "Resultado_L"
San_Francisco['G'] = (San_Francisco['Resultado_L'] == 'G').astype(int)
San_Francisco['P'] = (San_Francisco['Resultado_L'] == 'P').astype(int)
San_Francisco['E'] = (San_Francisco['Resultado_L'] == 'E').astype(int)
columnas_deseadas = ['Equipo', 'Semana', 'Fecha', 'Resultado_L', 'R1', 'R2', 'Local_Visitante', 'Equipo_Oponente', 'G', 'P', 'E']
San_Francisco_select = San_Francisco[columnas_deseadas]
San_Francisco_select.loc[:, ['Semana', 'R1', 'R2', 'G', 'P', 'E']] = San_Francisco_select[['Semana', 'R1', 'R2', 'G', 'P', 'E']].astype(int)
San_Francisco_select = San_Francisco_select.copy()
San_Francisco_select['Diferencia_Pts.'] = San_Francisco_select['R1'] - San_Francisco_select['R2']

In [88]:
San_Francisco_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.
0,San Francisco 49ers,1,"Lun., 9 de Sep.",G,32,19,local,New York,1,0,0,13
1,San Francisco 49ers,2,"Dom., 15 de Sep.",P,23,17,visitante,Minnesota,0,1,0,6

In [89]:
# Convertir fechas a un formato común en ambos DataFrames
San_Francisco_select['Fecha'] = San_Francisco_select['Fecha'].str.strip()
dfNomComDetOp['Column_2'] = dfNomComDetOp['Column_2'].str.strip()

# Realizar la unión basada en las fechas
San_Francisco_select = pd.merge(San_Francisco_select, dfNomComDetOp, left_on='Fecha', right_on='Column_2', how='inner')
San_Francisco_select = San_Francisco_select.drop(columns=['Column_2'])

# Mostrar el DataFrame combinado
San_Francisco_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.,OpNomCom
0,San Francisco 49ers,1,"Lun., 9 de Sep.",G,32,19,local,New York,1,0,0,13,new york jets
1,San Francisco 49ers,2,"Dom., 15 de Sep.",P,23,17,visitante,Minnesota,0,1,0,6,minnesota vikings

# Baltimore Ravens

In [90]:
rBal = requests.get(urlBal, cookies=cookies, headers=headers)
html_contentsBal = rBal.text

In [91]:
html_soupBal = BeautifulSoup(html_contentsBal, 'html.parser')

In [92]:
calendarioBal = html_soupBal.find_all('table', class_='Table')

In [93]:
Baltimore_Ravens = pd.DataFrame(columns = TabGen)

In [94]:
for table in calendarioBal:
    for row in table.find_all('tr')[2:21]:
        values = []
        for col in row.find_all(['th','td']):
            values.append(col.text)
        if len(values) == len(TabGen):
            Baltimore_Ravens.loc[len(Baltimore_Ravens)] = values

In [95]:
column_2 = 1
column_3 = 2

# Lista para almacenar los datos
data_list = []

# Recorre cada tabla
for table_index, table in enumerate(calendarioBal):
    # Recorre cada fila en la tabla
    for row_index, row in enumerate(table.find_all('tr')):
        # Inicializar variables para almacenar los datos
        column_2_data = None
        column_3_data = None
        
        # Recorre cada celda en la fila
        for col_index, col in enumerate(row.find_all(['th', 'td'])):
            # Extraer el contenido de la columna 2
            if col_index == column_2:
                span_tag = col.find('span')
                if span_tag:
                    column_2_data = span_tag.text.strip()
                else:
                    column_2_data = col.text.strip()
                
            # Extraer el contenido de la columna 3
            if col_index == column_3:
                a_tag = col.find('a', class_='AnchorLink')
                if a_tag:
                    href_value = a_tag.get('href')
                    relevant_part = href_value.split('/')[-1]
                    cadena_sin_guiones = relevant_part.replace('-', ' ')
                    column_3_data = cadena_sin_guiones

        # Agregar los datos a la lista si ambos datos están presentes
        if column_2_data and column_3_data:
            data_list.append({
                'Column_2': column_2_data,
                'OpNomCom': column_3_data
            })

# Convertir la lista de datos en un DataFrame
dfNomComDetOp = pd.DataFrame(data_list)

In [96]:
Baltimore_Ravens.insert(0, 'Equipo', 'Baltimore Ravens')
Baltimore_Ravens['Resultado_L'] = Baltimore_Ravens['Resultado'].str.extract(r'([A-Za-z]+)')
Baltimore_Ravens['Resultado_Numeros'] = Baltimore_Ravens['Resultado'].str.extract(r'(\d+-\d+)')
Baltimore_Ravens[['R1', 'R2']] = Baltimore_Ravens['Resultado_Numeros'].str.split('-', expand=True)
Baltimore_Ravens['Local_Visitante'] = Baltimore_Ravens['Oponente'].str.split().str[0].str.replace('.', '')
Baltimore_Ravens['Local_Visitante'] = Baltimore_Ravens['Local_Visitante'].str.replace('vs', 'local').str.replace('en', 'visitante')
Baltimore_Ravens['Equipo_Oponente'] = Baltimore_Ravens['Oponente'].str.extract(r'(vs\.|en\s)([^,]+)')[1]
# Agregar las columnas "G," "P," y "E" basadas en la columna "Resultado_L"
Baltimore_Ravens['G'] = (Baltimore_Ravens['Resultado_L'] == 'G').astype(int)
Baltimore_Ravens['P'] = (Baltimore_Ravens['Resultado_L'] == 'P').astype(int)
Baltimore_Ravens['E'] = (Baltimore_Ravens['Resultado_L'] == 'E').astype(int)
columnas_deseadas = ['Equipo', 'Semana', 'Fecha', 'Resultado_L', 'R1', 'R2', 'Local_Visitante', 'Equipo_Oponente', 'G', 'P', 'E']
Baltimore_Ravens_select = Baltimore_Ravens[columnas_deseadas]
Baltimore_Ravens_select.loc[:, ['Semana', 'R1', 'R2', 'G', 'P', 'E']] = Baltimore_Ravens_select[['Semana', 'R1', 'R2', 'G', 'P', 'E']].astype(int)
Baltimore_Ravens_select = Baltimore_Ravens_select.copy()
Baltimore_Ravens_select['Diferencia_Pts.'] = Baltimore_Ravens_select['R1'] - Baltimore_Ravens_select['R2']

In [97]:
Baltimore_Ravens_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.
0,Baltimore Ravens,1,"Jue., 5 de Sep.",P,27,20,visitante,Kansas City,0,1,0,7
1,Baltimore Ravens,2,"Dom., 15 de Sep.",P,26,23,local,Las Vegas,0,1,0,3

In [98]:
# Convertir fechas a un formato común en ambos DataFrames
Baltimore_Ravens_select['Fecha'] = Baltimore_Ravens_select['Fecha'].str.strip()
dfNomComDetOp['Column_2'] = dfNomComDetOp['Column_2'].str.strip()

# Realizar la unión basada en las fechas
Baltimore_Ravens_select = pd.merge(Baltimore_Ravens_select, dfNomComDetOp, left_on='Fecha', right_on='Column_2', how='inner')
Baltimore_Ravens_select = Baltimore_Ravens_select.drop(columns=['Column_2'])

# Mostrar el DataFrame combinado
Baltimore_Ravens_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.,OpNomCom
0,Baltimore Ravens,1,"Jue., 5 de Sep.",P,27,20,visitante,Kansas City,0,1,0,7,kansas city chiefs
1,Baltimore Ravens,2,"Dom., 15 de Sep.",P,26,23,local,Las Vegas,0,1,0,3,las vegas raiders

# Philadelphia

In [99]:
rPhi = requests.get(urlPhi, cookies=cookies, headers=headers)
html_contentsPhi = rPhi.text

In [100]:
html_soupPhi = BeautifulSoup(html_contentsPhi, 'html.parser')

In [101]:
calendarioPhi = html_soupPhi.find_all('table', class_='Table')

In [102]:
Philadelphia = pd.DataFrame(columns = TabGen)

In [103]:
for table in calendarioPhi:
    for row in table.find_all('tr')[2:21]:
        values = []
        for col in row.find_all(['th','td']):
            values.append(col.text)
        if len(values) == len(TabGen):
            Philadelphia.loc[len(Philadelphia)] = values

In [104]:
column_2 = 1
column_3 = 2

# Lista para almacenar los datos
data_list = []

# Recorre cada tabla
for table_index, table in enumerate(calendarioPhi):
    # Recorre cada fila en la tabla
    for row_index, row in enumerate(table.find_all('tr')):
        # Inicializar variables para almacenar los datos
        column_2_data = None
        column_3_data = None
        
        # Recorre cada celda en la fila
        for col_index, col in enumerate(row.find_all(['th', 'td'])):
            # Extraer el contenido de la columna 2
            if col_index == column_2:
                span_tag = col.find('span')
                if span_tag:
                    column_2_data = span_tag.text.strip()
                else:
                    column_2_data = col.text.strip()
                
            # Extraer el contenido de la columna 3
            if col_index == column_3:
                a_tag = col.find('a', class_='AnchorLink')
                if a_tag:
                    href_value = a_tag.get('href')
                    relevant_part = href_value.split('/')[-1]
                    cadena_sin_guiones = relevant_part.replace('-', ' ')
                    column_3_data = cadena_sin_guiones

        # Agregar los datos a la lista si ambos datos están presentes
        if column_2_data and column_3_data:
            data_list.append({
                'Column_2': column_2_data,
                'OpNomCom': column_3_data
            })

# Convertir la lista de datos en un DataFrame
dfNomComDetOp = pd.DataFrame(data_list)

In [105]:
Philadelphia.insert(0, 'Equipo', 'Philadelphia Eagles')
Philadelphia['Resultado_L'] = Philadelphia['Resultado'].str.extract(r'([A-Za-z]+)')
Philadelphia['Resultado_Numeros'] = Philadelphia['Resultado'].str.extract(r'(\d+-\d+)')
Philadelphia[['R1', 'R2']] = Philadelphia['Resultado_Numeros'].str.split('-', expand=True)
Philadelphia['Local_Visitante'] = Philadelphia['Oponente'].str.split().str[0].str.replace('.', '')
Philadelphia['Local_Visitante'] = Philadelphia['Local_Visitante'].str.replace('vs', 'local').str.replace('en', 'visitante')
Philadelphia['Equipo_Oponente'] = Philadelphia['Oponente'].str.extract(r'(vs\.|en\s)([^,]+)')[1]
# Agregar las columnas "G," "P," y "E" basadas en la columna "Resultado_L"
Philadelphia['G'] = (Philadelphia['Resultado_L'] == 'G').astype(int)
Philadelphia['P'] = (Philadelphia['Resultado_L'] == 'P').astype(int)
Philadelphia['E'] = (Philadelphia['Resultado_L'] == 'E').astype(int)
columnas_deseadas = ['Equipo', 'Semana', 'Fecha', 'Resultado_L', 'R1', 'R2', 'Local_Visitante', 'Equipo_Oponente', 'G', 'P', 'E']
Philadelphia_select = Philadelphia[columnas_deseadas]
Philadelphia_select.loc[:, ['Semana', 'R1', 'R2', 'G', 'P', 'E']] = Philadelphia_select[['Semana', 'R1', 'R2', 'G', 'P', 'E']].astype(int)
Philadelphia_select = Philadelphia_select.copy()
Philadelphia_select['Diferencia_Pts.'] = Philadelphia_select['R1'] - Philadelphia_select['R2']

In [106]:
Philadelphia_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.
0,Philadelphia Eagles,1,"Vie., 6 de Sep.",G,34,29,local,Green Bay *,1,0,0,5
1,Philadelphia Eagles,2,"Lun., 16 de Sep.",P,22,21,local,Atlanta,0,1,0,1

In [107]:
# Convertir fechas a un formato común en ambos DataFrames
Philadelphia_select['Fecha'] = Philadelphia_select['Fecha'].str.strip()
dfNomComDetOp['Column_2'] = dfNomComDetOp['Column_2'].str.strip()

# Realizar la unión basada en las fechas
Philadelphia_select = pd.merge(Philadelphia_select, dfNomComDetOp, left_on='Fecha', right_on='Column_2', how='inner')
Philadelphia_select = Philadelphia_select.drop(columns=['Column_2'])

# Mostrar el DataFrame combinado
Philadelphia_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.,OpNomCom
0,Philadelphia Eagles,1,"Vie., 6 de Sep.",G,34,29,local,Green Bay *,1,0,0,5,green bay packers
1,Philadelphia Eagles,2,"Lun., 16 de Sep.",P,22,21,local,Atlanta,0,1,0,1,atlanta falcons

# Atlanta

In [108]:
rAtl = requests.get(urlAtl, cookies=cookies, headers=headers)
html_contentsAtl = rAtl.text

In [109]:
html_soupAtl = BeautifulSoup(html_contentsAtl, 'html.parser')

In [110]:
calendarioAtl = html_soupAtl.find_all('table', class_='Table')

In [111]:
Atlanta = pd.DataFrame(columns = TabGen)

In [112]:
for table in calendarioAtl:
    for row in table.find_all('tr')[2:21]:
        values = []
        for col in row.find_all(['th','td']):
            values.append(col.text)
        if len(values) == len(TabGen):
            Atlanta.loc[len(Atlanta)] = values

In [113]:
column_2 = 1
column_3 = 2

# Lista para almacenar los datos
data_list = []

# Recorre cada tabla
for table_index, table in enumerate(calendarioAtl):
    # Recorre cada fila en la tabla
    for row_index, row in enumerate(table.find_all('tr')):
        # Inicializar variables para almacenar los datos
        column_2_data = None
        column_3_data = None
        
        # Recorre cada celda en la fila
        for col_index, col in enumerate(row.find_all(['th', 'td'])):
            # Extraer el contenido de la columna 2
            if col_index == column_2:
                span_tag = col.find('span')
                if span_tag:
                    column_2_data = span_tag.text.strip()
                else:
                    column_2_data = col.text.strip()
                
            # Extraer el contenido de la columna 3
            if col_index == column_3:
                a_tag = col.find('a', class_='AnchorLink')
                if a_tag:
                    href_value = a_tag.get('href')
                    relevant_part = href_value.split('/')[-1]
                    cadena_sin_guiones = relevant_part.replace('-', ' ')
                    column_3_data = cadena_sin_guiones

        # Agregar los datos a la lista si ambos datos están presentes
        if column_2_data and column_3_data:
            data_list.append({
                'Column_2': column_2_data,
                'OpNomCom': column_3_data
            })

# Convertir la lista de datos en un DataFrame
dfNomComDetOp = pd.DataFrame(data_list)

In [114]:
Atlanta.insert(0, 'Equipo', 'Atlanta Falcons')
Atlanta['Resultado_L'] = Atlanta['Resultado'].str.extract(r'([A-Za-z]+)')
Atlanta['Resultado_Numeros'] = Atlanta['Resultado'].str.extract(r'(\d+-\d+)')
Atlanta[['R1', 'R2']] = Atlanta['Resultado_Numeros'].str.split('-', expand=True)
Atlanta['Local_Visitante'] = Atlanta['Oponente'].str.split().str[0].str.replace('.', '')
Atlanta['Local_Visitante'] = Atlanta['Local_Visitante'].str.replace('vs', 'local').str.replace('en', 'visitante')
Atlanta['Equipo_Oponente'] = Atlanta['Oponente'].str.extract(r'(vs\.|en\s)([^,]+)')[1]
# Agregar las columnas "G," "P," y "E" basadas en la columna "Resultado_L"
Atlanta['G'] = (Atlanta['Resultado_L'] == 'G').astype(int)
Atlanta['P'] = (Atlanta['Resultado_L'] == 'P').astype(int)
Atlanta['E'] = (Atlanta['Resultado_L'] == 'E').astype(int)
columnas_deseadas = ['Equipo', 'Semana', 'Fecha', 'Resultado_L', 'R1', 'R2', 'Local_Visitante', 'Equipo_Oponente', 'G', 'P', 'E']
Atlanta_select = Atlanta[columnas_deseadas]
Atlanta_select.loc[:, ['Semana', 'R1', 'R2', 'G', 'P', 'E']] = Atlanta_select[['Semana', 'R1', 'R2', 'G', 'P', 'E']].astype(int)
Atlanta_select = Atlanta_select.copy()
Atlanta_select['Diferencia_Pts.'] = Atlanta_select['R1'] - Atlanta_select['R2']

In [115]:
Atlanta_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.
0,Atlanta Falcons,1,"Dom., 8 de Sep.",P,18,10,local,Pittsburgh,0,1,0,8
1,Atlanta Falcons,2,"Lun., 16 de Sep.",G,22,21,visitante,Philadelphia,1,0,0,1

In [116]:
# Convertir fechas a un formato común en ambos DataFrames
Atlanta_select['Fecha'] = Atlanta_select['Fecha'].str.strip()
dfNomComDetOp['Column_2'] = dfNomComDetOp['Column_2'].str.strip()

# Realizar la unión basada en las fechas
Atlanta_select = pd.merge(Atlanta_select, dfNomComDetOp, left_on='Fecha', right_on='Column_2', how='inner')
Atlanta_select = Atlanta_select.drop(columns=['Column_2'])

# Mostrar el DataFrame combinado
Atlanta_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.,OpNomCom
0,Atlanta Falcons,1,"Dom., 8 de Sep.",P,18,10,local,Pittsburgh,0,1,0,8,pittsburgh steelers
1,Atlanta Falcons,2,"Lun., 16 de Sep.",G,22,21,visitante,Philadelphia,1,0,0,1,philadelphia eagles

# Cleveland

In [117]:
rCle = requests.get(urlCle, cookies=cookies, headers=headers)
html_contentsCle = rCle.text

In [118]:
html_soupCle = BeautifulSoup(html_contentsCle, 'html.parser')

In [119]:
calendarioCle = html_soupCle.find_all('table', class_='Table')

In [120]:
Cleveland = pd.DataFrame(columns = TabGen)

In [121]:
for table in calendarioCle:
    for row in table.find_all('tr')[2:21]:
        values = []
        for col in row.find_all(['th','td']):
            values.append(col.text)
        if len(values) == len(TabGen):
            Cleveland.loc[len(Cleveland)] = values

In [122]:
column_2 = 1
column_3 = 2

# Lista para almacenar los datos
data_list = []

# Recorre cada tabla
for table_index, table in enumerate(calendarioCle):
    # Recorre cada fila en la tabla
    for row_index, row in enumerate(table.find_all('tr')):
        # Inicializar variables para almacenar los datos
        column_2_data = None
        column_3_data = None
        
        # Recorre cada celda en la fila
        for col_index, col in enumerate(row.find_all(['th', 'td'])):
            # Extraer el contenido de la columna 2
            if col_index == column_2:
                span_tag = col.find('span')
                if span_tag:
                    column_2_data = span_tag.text.strip()
                else:
                    column_2_data = col.text.strip()
                
            # Extraer el contenido de la columna 3
            if col_index == column_3:
                a_tag = col.find('a', class_='AnchorLink')
                if a_tag:
                    href_value = a_tag.get('href')
                    relevant_part = href_value.split('/')[-1]
                    cadena_sin_guiones = relevant_part.replace('-', ' ')
                    column_3_data = cadena_sin_guiones

        # Agregar los datos a la lista si ambos datos están presentes
        if column_2_data and column_3_data:
            data_list.append({
                'Column_2': column_2_data,
                'OpNomCom': column_3_data
            })

# Convertir la lista de datos en un DataFrame
dfNomComDetOp = pd.DataFrame(data_list)

In [123]:
Cleveland.insert(0, 'Equipo', 'Cleveland Browns')
Cleveland['Resultado_L'] = Cleveland['Resultado'].str.extract(r'([A-Za-z]+)')
Cleveland['Resultado_Numeros'] = Cleveland['Resultado'].str.extract(r'(\d+-\d+)')
Cleveland[['R1', 'R2']] = Cleveland['Resultado_Numeros'].str.split('-', expand=True)
Cleveland['Local_Visitante'] = Cleveland['Oponente'].str.split().str[0].str.replace('.', '')
Cleveland['Local_Visitante'] = Cleveland['Local_Visitante'].str.replace('vs', 'local').str.replace('en', 'visitante')
Cleveland['Equipo_Oponente'] = Cleveland['Oponente'].str.extract(r'(vs\.|en\s)([^,]+)')[1]
# Agregar las columnas "G," "P," y "E" basadas en la columna "Resultado_L"
Cleveland['G'] = (Cleveland['Resultado_L'] == 'G').astype(int)
Cleveland['P'] = (Cleveland['Resultado_L'] == 'P').astype(int)
Cleveland['E'] = (Cleveland['Resultado_L'] == 'E').astype(int)
columnas_deseadas = ['Equipo', 'Semana', 'Fecha', 'Resultado_L', 'R1', 'R2', 'Local_Visitante', 'Equipo_Oponente', 'G', 'P', 'E']
Cleveland_select = Cleveland[columnas_deseadas]
Cleveland_select.loc[:, ['Semana', 'R1', 'R2', 'G', 'P', 'E']] = Cleveland_select[['Semana', 'R1', 'R2', 'G', 'P', 'E']].astype(int)
Cleveland_select = Cleveland_select.copy()
Cleveland_select['Diferencia_Pts.'] = Cleveland_select['R1'] - Cleveland_select['R2']

In [124]:
Cleveland_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.
0,Cleveland Browns,1,"Dom., 8 de Sep.",P,33,17,local,Dallas,0,1,0,16
1,Cleveland Browns,2,"Dom., 15 de Sep.",G,18,13,visitante,Jacksonville,1,0,0,5

In [125]:
# Convertir fechas a un formato común en ambos DataFrames
Cleveland_select['Fecha'] = Cleveland_select['Fecha'].str.strip()
dfNomComDetOp['Column_2'] = dfNomComDetOp['Column_2'].str.strip()

# Realizar la unión basada en las fechas
Cleveland_select = pd.merge(Cleveland_select, dfNomComDetOp, left_on='Fecha', right_on='Column_2', how='inner')
Cleveland_select = Cleveland_select.drop(columns=['Column_2'])

# Mostrar el DataFrame combinado
Cleveland_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.,OpNomCom
0,Cleveland Browns,1,"Dom., 8 de Sep.",P,33,17,local,Dallas,0,1,0,16,dallas cowboys
1,Cleveland Browns,2,"Dom., 15 de Sep.",G,18,13,visitante,Jacksonville,1,0,0,5,jacksonville jaguars

# New York Jets

In [126]:
rNyj = requests.get(urlNyj, cookies=cookies, headers=headers)
html_contentsNyj = rNyj.text

In [127]:
html_soupNyj = BeautifulSoup(html_contentsNyj, 'html.parser')

In [128]:
calendarioNyj = html_soupNyj.find_all('table', class_='Table')

In [129]:
New_York_Jets = pd.DataFrame(columns = TabGen)

In [130]:
for table in calendarioNyj:
    for row in table.find_all('tr')[2:21]:
        values = []
        for col in row.find_all(['th','td']):
            values.append(col.text)
        if len(values) == len(TabGen):
            New_York_Jets.loc[len(New_York_Jets)] = values

In [131]:
column_2 = 1
column_3 = 2

# Lista para almacenar los datos
data_list = []

# Recorre cada tabla
for table_index, table in enumerate(calendarioNyj):
    # Recorre cada fila en la tabla
    for row_index, row in enumerate(table.find_all('tr')):
        # Inicializar variables para almacenar los datos
        column_2_data = None
        column_3_data = None
        
        # Recorre cada celda en la fila
        for col_index, col in enumerate(row.find_all(['th', 'td'])):
            # Extraer el contenido de la columna 2
            if col_index == column_2:
                span_tag = col.find('span')
                if span_tag:
                    column_2_data = span_tag.text.strip()
                else:
                    column_2_data = col.text.strip()
                
            # Extraer el contenido de la columna 3
            if col_index == column_3:
                a_tag = col.find('a', class_='AnchorLink')
                if a_tag:
                    href_value = a_tag.get('href')
                    relevant_part = href_value.split('/')[-1]
                    cadena_sin_guiones = relevant_part.replace('-', ' ')
                    column_3_data = cadena_sin_guiones

        # Agregar los datos a la lista si ambos datos están presentes
        if column_2_data and column_3_data:
            data_list.append({
                'Column_2': column_2_data,
                'OpNomCom': column_3_data
            })

# Convertir la lista de datos en un DataFrame
dfNomComDetOp = pd.DataFrame(data_list)

In [132]:
New_York_Jets.insert(0, 'Equipo', 'New York Jets')
New_York_Jets['Resultado_L'] = New_York_Jets['Resultado'].str.extract(r'([A-Za-z]+)')
New_York_Jets['Resultado_Numeros'] = New_York_Jets['Resultado'].str.extract(r'(\d+-\d+)')
New_York_Jets[['R1', 'R2']] = New_York_Jets['Resultado_Numeros'].str.split('-', expand=True)
New_York_Jets['Local_Visitante'] = New_York_Jets['Oponente'].str.split().str[0].str.replace('.', '')
New_York_Jets['Local_Visitante'] = New_York_Jets['Local_Visitante'].str.replace('vs', 'local').str.replace('en', 'visitante')
New_York_Jets['Equipo_Oponente'] = New_York_Jets['Oponente'].str.extract(r'(vs\.|en\s)([^,]+)')[1]
# Agregar las columnas "G," "P," y "E" basadas en la columna "Resultado_L"
New_York_Jets['G'] = (New_York_Jets['Resultado_L'] == 'G').astype(int)
New_York_Jets['P'] = (New_York_Jets['Resultado_L'] == 'P').astype(int)
New_York_Jets['E'] = (New_York_Jets['Resultado_L'] == 'E').astype(int)
columnas_deseadas = ['Equipo', 'Semana', 'Fecha', 'Resultado_L', 'R1', 'R2', 'Local_Visitante', 'Equipo_Oponente', 'G', 'P', 'E']
New_York_Jets_select = New_York_Jets[columnas_deseadas]
New_York_Jets_select.loc[:, ['Semana', 'R1', 'R2', 'G', 'P', 'E']] = New_York_Jets_select[['Semana', 'R1', 'R2', 'G', 'P', 'E']].astype(int)
New_York_Jets_select = New_York_Jets_select.copy()
New_York_Jets_select['Diferencia_Pts.'] = New_York_Jets_select['R1'] - New_York_Jets_select['R2']

In [133]:
New_York_Jets_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.
0,New York Jets,1,"Lun., 9 de Sep.",P,32,19,visitante,San Francisco,0,1,0,13
1,New York Jets,2,"Dom., 15 de Sep.",G,24,17,visitante,Tennessee,1,0,0,7

In [134]:
# Convertir fechas a un formato común en ambos DataFrames
New_York_Jets_select['Fecha'] = New_York_Jets_select['Fecha'].str.strip()
dfNomComDetOp['Column_2'] = dfNomComDetOp['Column_2'].str.strip()

# Realizar la unión basada en las fechas
New_York_Jets_select = pd.merge(New_York_Jets_select, dfNomComDetOp, left_on='Fecha', right_on='Column_2', how='inner')
New_York_Jets_select = New_York_Jets_select.drop(columns=['Column_2'])

# Mostrar el DataFrame combinado
New_York_Jets_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.,OpNomCom
0,New York Jets,1,"Lun., 9 de Sep.",P,32,19,visitante,San Francisco,0,1,0,13,san francisco 49ers
1,New York Jets,2,"Dom., 15 de Sep.",G,24,17,visitante,Tennessee,1,0,0,7,tennessee titans

# Detroit

In [135]:
rDet = requests.get(urlDet, cookies=cookies, headers=headers)
html_contentsDet = rDet.text

In [136]:
html_soupDet = BeautifulSoup(html_contentsDet, 'html.parser')

In [137]:
calendarioDet = html_soupDet.find_all('table', class_='Table')

In [138]:
Detroit = pd.DataFrame(columns = TabGen)

In [139]:
for table in calendarioDet:
    for row in table.find_all('tr')[2:21]:
        values = []
        for col in row.find_all(['th','td']):
            values.append(col.text)
        if len(values) == len(TabGen):
            Detroit.loc[len(Detroit)] = values

# Aqui Va el Codigo del Nombre Completo del Oponente
Ej:
New York: Se repite dos veces (New York Giants, New York Jets).
Los Angeles: Se repite dos veces (Los Angeles Rams, Los Angeles Chargers).

En esta parte itera sobre la tabla del html extrayendo las fechas (Columna 2) para despues compararlas con las fechas ya existentes de la tabla anterior, asi como tambien el nombre completo de los equipos mediante la etiqueta "a" con la classe 'AnchorLink' de la columna 3

In [140]:
column_2 = 1
column_3 = 2

# Lista para almacenar los datos
data_list = []

# Recorre cada tabla
for table_index, table in enumerate(calendarioDet):
    # Recorre cada fila en la tabla
    for row_index, row in enumerate(table.find_all('tr')):
        # Inicializar variables para almacenar los datos
        column_2_data = None
        column_3_data = None
        
        # Recorre cada celda en la fila
        for col_index, col in enumerate(row.find_all(['th', 'td'])):
            # Extraer el contenido de la columna 2
            if col_index == column_2:
                span_tag = col.find('span')
                if span_tag:
                    column_2_data = span_tag.text.strip()
                else:
                    column_2_data = col.text.strip()
                
            # Extraer el contenido de la columna 3
            if col_index == column_3:
                a_tag = col.find('a', class_='AnchorLink')
                if a_tag:
                    href_value = a_tag.get('href')
                    relevant_part = href_value.split('/')[-1]
                    cadena_sin_guiones = relevant_part.replace('-', ' ')
                    column_3_data = cadena_sin_guiones

        # Agregar los datos a la lista si ambos datos están presentes
        if column_2_data and column_3_data:
            data_list.append({
                'Column_2': column_2_data,
                'OpNomCom': column_3_data
            })

# Convertir la lista de datos en un DataFrame
dfNomComDetOp = pd.DataFrame(data_list)

In [141]:
Detroit.insert(0, 'Equipo', 'Detroit Lions')
Detroit['Resultado_L'] = Detroit['Resultado'].str.extract(r'([A-Za-z]+)')
Detroit['Resultado_Numeros'] = Detroit['Resultado'].str.extract(r'(\d+-\d+)')
Detroit[['R1', 'R2']] = Detroit['Resultado_Numeros'].str.split('-', expand=True)
Detroit['Local_Visitante'] = Detroit['Oponente'].str.split().str[0].str.replace('.', '')
Detroit['Local_Visitante'] = Detroit['Local_Visitante'].str.replace('vs', 'local').str.replace('en', 'visitante')
Detroit['Equipo_Oponente'] = Detroit['Oponente'].str.extract(r'(vs\.|en\s)([^,]+)')[1]
# Agregar las columnas "G," "P," y "E" basadas en la columna "Resultado_L"
Detroit['G'] = (Detroit['Resultado_L'] == 'G').astype(int)
Detroit['P'] = (Detroit['Resultado_L'] == 'P').astype(int)
Detroit['E'] = (Detroit['Resultado_L'] == 'E').astype(int)
columnas_deseadas = ['Equipo', 'Semana', 'Fecha', 'Resultado_L', 'R1', 'R2', 'Local_Visitante', 'Equipo_Oponente', 'G', 'P', 'E']
Detroit_select = Detroit[columnas_deseadas]
Detroit_select.loc[:, ['Semana', 'R1', 'R2', 'G', 'P', 'E']] = Detroit_select[['Semana', 'R1', 'R2', 'G', 'P', 'E']].astype(int)
Detroit_select = Detroit_select.copy()
Detroit_select['Diferencia_Pts.'] = Detroit_select['R1'] - Detroit_select['R2']

In [142]:
Detroit_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.
0,Detroit Lions,1,"Dom., 8 de Sep.",G,26,20,local,Los Angeles,1,0,0,6
1,Detroit Lions,2,"Dom., 15 de Sep.",P,20,16,local,Tampa Bay,0,1,0,4

# Agg a una nueva tabla
Aqui es donde se compara la fecha para agregarla a la nueva tabla

In [143]:
# Convertir fechas a un formato común en ambos DataFrames
Detroit_select['Fecha'] = Detroit_select['Fecha'].str.strip()
dfNomComDetOp['Column_2'] = dfNomComDetOp['Column_2'].str.strip()
# Realizar la unión basada en las fechas
Detroit_select = pd.merge(Detroit_select, dfNomComDetOp, left_on='Fecha', right_on='Column_2', how='inner')
Detroit_select = Detroit_select.drop(columns=['Column_2'])
# Mostrar el DataFrame combinado
Detroit_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.,OpNomCom
0,Detroit Lions,1,"Dom., 8 de Sep.",G,26,20,local,Los Angeles,1,0,0,6,los angeles rams
1,Detroit Lions,2,"Dom., 15 de Sep.",P,20,16,local,Tampa Bay,0,1,0,4,tampa bay buccaneers

# Tampa Bay

In [144]:
rTb = requests.get(urlTb, cookies=cookies, headers=headers)
html_contentsTb = rTb.text

In [145]:
html_soupTb = BeautifulSoup(html_contentsTb, 'html.parser')

In [146]:
calendarioTb = html_soupTb.find_all('table', class_='Table')

In [147]:
Tampa_Bay = pd.DataFrame(columns = TabGen)

In [148]:
for table in calendarioTb:
    for row in table.find_all('tr')[2:21]:
        values = []
        for col in row.find_all(['th','td']):
            values.append(col.text)
        if len(values) == len(TabGen):
            Tampa_Bay.loc[len(Tampa_Bay)] = values

In [149]:
column_2 = 1
column_3 = 2

# Lista para almacenar los datos
data_list = []

# Recorre cada tabla
for table_index, table in enumerate(calendarioTb):
    # Recorre cada fila en la tabla
    for row_index, row in enumerate(table.find_all('tr')):
        # Inicializar variables para almacenar los datos
        column_2_data = None
        column_3_data = None
        
        # Recorre cada celda en la fila
        for col_index, col in enumerate(row.find_all(['th', 'td'])):
            # Extraer el contenido de la columna 2
            if col_index == column_2:
                span_tag = col.find('span')
                if span_tag:
                    column_2_data = span_tag.text.strip()
                else:
                    column_2_data = col.text.strip()
                
            # Extraer el contenido de la columna 3
            if col_index == column_3:
                a_tag = col.find('a', class_='AnchorLink')
                if a_tag:
                    href_value = a_tag.get('href')
                    relevant_part = href_value.split('/')[-1]
                    cadena_sin_guiones = relevant_part.replace('-', ' ')
                    column_3_data = cadena_sin_guiones

        # Agregar los datos a la lista si ambos datos están presentes
        if column_2_data and column_3_data:
            data_list.append({
                'Column_2': column_2_data,
                'OpNomCom': column_3_data
            })

# Convertir la lista de datos en un DataFrame
dfNomComDetOp = pd.DataFrame(data_list)

In [150]:
Tampa_Bay.insert(0, 'Equipo', 'Tampa Bay Buccaneers')
Tampa_Bay['Resultado_L'] = Tampa_Bay['Resultado'].str.extract(r'([A-Za-z]+)')
Tampa_Bay['Resultado_Numeros'] = Tampa_Bay['Resultado'].str.extract(r'(\d+-\d+)')
Tampa_Bay[['R1', 'R2']] = Tampa_Bay['Resultado_Numeros'].str.split('-', expand=True)
Tampa_Bay['Local_Visitante'] = Tampa_Bay['Oponente'].str.split().str[0].str.replace('.', '')
Tampa_Bay['Local_Visitante'] = Tampa_Bay['Local_Visitante'].str.replace('vs', 'local').str.replace('en', 'visitante')
Tampa_Bay['Equipo_Oponente'] = Tampa_Bay['Oponente'].str.extract(r'(vs\.|en\s)([^,]+)')[1]
# Agregar las columnas "G," "P," y "E" basadas en la columna "Resultado_L"
Tampa_Bay['G'] = (Tampa_Bay['Resultado_L'] == 'G').astype(int)
Tampa_Bay['P'] = (Tampa_Bay['Resultado_L'] == 'P').astype(int)
Tampa_Bay['E'] = (Tampa_Bay['Resultado_L'] == 'E').astype(int)
columnas_deseadas = ['Equipo', 'Semana', 'Fecha', 'Resultado_L', 'R1', 'R2', 'Local_Visitante', 'Equipo_Oponente', 'G', 'P', 'E']
Tampa_Bay_select = Tampa_Bay[columnas_deseadas]
Tampa_Bay_select.loc[:, ['Semana', 'R1', 'R2', 'G', 'P', 'E']] = Tampa_Bay_select[['Semana', 'R1', 'R2', 'G', 'P', 'E']].astype(int)
Tampa_Bay_select = Tampa_Bay_select.copy()
Tampa_Bay_select['Diferencia_Pts.'] = Tampa_Bay_select['R1'] - Tampa_Bay_select['R2']

In [151]:
Tampa_Bay_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.
0,Tampa Bay Buccaneers,1,"Dom., 8 de Sep.",G,37,20,local,Washington,1,0,0,17
1,Tampa Bay Buccaneers,2,"Dom., 15 de Sep.",G,20,16,visitante,Detroit,1,0,0,4

In [152]:
# Convertir fechas a un formato común en ambos DataFrames
Tampa_Bay_select['Fecha'] = Tampa_Bay_select['Fecha'].str.strip()
dfNomComDetOp['Column_2'] = dfNomComDetOp['Column_2'].str.strip()

# Realizar la unión basada en las fechas
Tampa_Bay_select = pd.merge(Tampa_Bay_select, dfNomComDetOp, left_on='Fecha', right_on='Column_2', how='inner')
Tampa_Bay_select = Tampa_Bay_select.drop(columns=['Column_2'])

# Mostrar el DataFrame combinado
Tampa_Bay_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.,OpNomCom
0,Tampa Bay Buccaneers,1,"Dom., 8 de Sep.",G,37,20,local,Washington,1,0,0,17,washington commanders
1,Tampa Bay Buccaneers,2,"Dom., 15 de Sep.",G,20,16,visitante,Detroit,1,0,0,4,detroit lions

# Washington

In [153]:
rWsh = requests.get(urlWsh, cookies=cookies, headers=headers)
html_contentsWsh = rWsh.text

In [154]:
html_soupWsh = BeautifulSoup(html_contentsWsh, 'html.parser')

In [155]:
calendarioWsh = html_soupWsh.find_all('table', class_='Table')

In [156]:
Washington = pd.DataFrame(columns = TabGen)

In [157]:
for table in calendarioWsh:
    for row in table.find_all('tr')[2:21]:
        values = []
        for col in row.find_all(['th','td']):
            values.append(col.text)
        if len(values) == len(TabGen):
            Washington.loc[len(Washington)] = values

In [158]:
column_2 = 1
column_3 = 2

# Lista para almacenar los datos
data_list = []

# Recorre cada tabla
for table_index, table in enumerate(calendarioWsh):
    # Recorre cada fila en la tabla
    for row_index, row in enumerate(table.find_all('tr')):
        # Inicializar variables para almacenar los datos
        column_2_data = None
        column_3_data = None
        
        # Recorre cada celda en la fila
        for col_index, col in enumerate(row.find_all(['th', 'td'])):
            # Extraer el contenido de la columna 2
            if col_index == column_2:
                span_tag = col.find('span')
                if span_tag:
                    column_2_data = span_tag.text.strip()
                else:
                    column_2_data = col.text.strip()
                
            # Extraer el contenido de la columna 3
            if col_index == column_3:
                a_tag = col.find('a', class_='AnchorLink')
                if a_tag:
                    href_value = a_tag.get('href')
                    relevant_part = href_value.split('/')[-1]
                    cadena_sin_guiones = relevant_part.replace('-', ' ')
                    column_3_data = cadena_sin_guiones

        # Agregar los datos a la lista si ambos datos están presentes
        if column_2_data and column_3_data:
            data_list.append({
                'Column_2': column_2_data,
                'OpNomCom': column_3_data
            })

# Convertir la lista de datos en un DataFrame
dfNomComDetOp = pd.DataFrame(data_list)

In [159]:
Washington.insert(0, 'Equipo', 'Washington Commanders')
Washington['Resultado_L'] = Washington['Resultado'].str.extract(r'([A-Za-z]+)')
Washington['Resultado_Numeros'] = Washington['Resultado'].str.extract(r'(\d+-\d+)')
Washington[['R1', 'R2']] = Washington['Resultado_Numeros'].str.split('-', expand=True)
Washington['Local_Visitante'] = Washington['Oponente'].str.split().str[0].str.replace('.', '')
Washington['Local_Visitante'] = Washington['Local_Visitante'].str.replace('vs', 'local').str.replace('en', 'visitante')
Washington['Equipo_Oponente'] = Washington['Oponente'].str.extract(r'(vs\.|en\s)([^,]+)')[1]
# Agregar las columnas "G," "P," y "E" basadas en la columna "Resultado_L"
Washington['G'] = (Washington['Resultado_L'] == 'G').astype(int)
Washington['P'] = (Washington['Resultado_L'] == 'P').astype(int)
Washington['E'] = (Washington['Resultado_L'] == 'E').astype(int)
columnas_deseadas = ['Equipo', 'Semana', 'Fecha', 'Resultado_L', 'R1', 'R2', 'Local_Visitante', 'Equipo_Oponente', 'G', 'P', 'E']
Washington_select = Washington[columnas_deseadas]
Washington_select.loc[:, ['Semana', 'R1', 'R2', 'G', 'P', 'E']] = Washington_select[['Semana', 'R1', 'R2', 'G', 'P', 'E']].astype(int)
Washington_select = Washington_select.copy()
Washington_select['Diferencia_Pts.'] = Washington_select['R1'] - Washington_select['R2']

In [160]:
Washington_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.
0,Washington Commanders,1,"Dom., 8 de Sep.",P,37,20,visitante,Tampa Bay,0,1,0,17
1,Washington Commanders,2,"Dom., 15 de Sep.",G,21,18,local,New York,1,0,0,3

In [161]:
# Convertir fechas a un formato común en ambos DataFrames
Washington_select['Fecha'] = Washington_select['Fecha'].str.strip()
dfNomComDetOp['Column_2'] = dfNomComDetOp['Column_2'].str.strip()

# Realizar la unión basada en las fechas
Washington_select = pd.merge(Washington_select, dfNomComDetOp, left_on='Fecha', right_on='Column_2', how='inner')
Washington_select = Washington_select.drop(columns=['Column_2'])

# Mostrar el DataFrame combinado
Washington_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.,OpNomCom
0,Washington Commanders,1,"Dom., 8 de Sep.",P,37,20,visitante,Tampa Bay,0,1,0,17,tampa bay buccaneers
1,Washington Commanders,2,"Dom., 15 de Sep.",G,21,18,local,New York,1,0,0,3,new york giants

# Las Vegas

In [162]:
rLv = requests.get(urlLv, cookies=cookies, headers=headers)
html_contentsLv = rLv.text

In [163]:
html_soupLv = BeautifulSoup(html_contentsLv, 'html.parser')

In [164]:
calendarioLv = html_soupLv.find_all('table', class_='Table')

In [165]:
Las_Vegas = pd.DataFrame(columns = TabGen)

In [166]:
for table in calendarioLv:
    for row in table.find_all('tr')[2:21]:
        values = []
        for col in row.find_all(['th','td']):
            values.append(col.text)
        if len(values) == len(TabGen):
            Las_Vegas.loc[len(Las_Vegas)] = values

In [167]:
column_2 = 1
column_3 = 2

# Lista para almacenar los datos
data_list = []

# Recorre cada tabla
for table_index, table in enumerate(calendarioLv):
    # Recorre cada fila en la tabla
    for row_index, row in enumerate(table.find_all('tr')):
        # Inicializar variables para almacenar los datos
        column_2_data = None
        column_3_data = None
        
        # Recorre cada celda en la fila
        for col_index, col in enumerate(row.find_all(['th', 'td'])):
            # Extraer el contenido de la columna 2
            if col_index == column_2:
                span_tag = col.find('span')
                if span_tag:
                    column_2_data = span_tag.text.strip()
                else:
                    column_2_data = col.text.strip()
                
            # Extraer el contenido de la columna 3
            if col_index == column_3:
                a_tag = col.find('a', class_='AnchorLink')
                if a_tag:
                    href_value = a_tag.get('href')
                    relevant_part = href_value.split('/')[-1]
                    cadena_sin_guiones = relevant_part.replace('-', ' ')
                    column_3_data = cadena_sin_guiones

        # Agregar los datos a la lista si ambos datos están presentes
        if column_2_data and column_3_data:
            data_list.append({
                'Column_2': column_2_data,
                'OpNomCom': column_3_data
            })

# Convertir la lista de datos en un DataFrame
dfNomComDetOp = pd.DataFrame(data_list)

In [168]:
Las_Vegas.insert(0, 'Equipo', 'Las Vegas Raiders')
Las_Vegas['Resultado_L'] = Las_Vegas['Resultado'].str.extract(r'([A-Za-z]+)')
Las_Vegas['Resultado_Numeros'] = Las_Vegas['Resultado'].str.extract(r'(\d+-\d+)')
Las_Vegas[['R1', 'R2']] = Las_Vegas['Resultado_Numeros'].str.split('-', expand=True)
Las_Vegas['Local_Visitante'] = Las_Vegas['Oponente'].str.split().str[0].str.replace('.', '')
Las_Vegas['Local_Visitante'] = Las_Vegas['Local_Visitante'].str.replace('vs', 'local').str.replace('en', 'visitante')
Las_Vegas['Equipo_Oponente'] = Las_Vegas['Oponente'].str.extract(r'(vs\.|en\s)([^,]+)')[1]
# Agregar las columnas "G," "P," y "E" basadas en la columna "Resultado_L"
Las_Vegas['G'] = (Las_Vegas['Resultado_L'] == 'G').astype(int)
Las_Vegas['P'] = (Las_Vegas['Resultado_L'] == 'P').astype(int)
Las_Vegas['E'] = (Las_Vegas['Resultado_L'] == 'E').astype(int)
columnas_deseadas = ['Equipo', 'Semana', 'Fecha', 'Resultado_L', 'R1', 'R2', 'Local_Visitante', 'Equipo_Oponente', 'G', 'P', 'E']
Las_Vegas_select = Las_Vegas[columnas_deseadas]
Las_Vegas_select.loc[:, ['Semana', 'R1', 'R2', 'G', 'P', 'E']] = Las_Vegas_select[['Semana', 'R1', 'R2', 'G', 'P', 'E']].astype(int)
Las_Vegas_select = Las_Vegas_select.copy()
Las_Vegas_select['Diferencia_Pts.'] = Las_Vegas_select['R1'] - Las_Vegas_select['R2']

In [169]:
Las_Vegas_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.
0,Las Vegas Raiders,1,"Dom., 8 de Sep.",P,22,10,visitante,Los Angeles,0,1,0,12
1,Las Vegas Raiders,2,"Dom., 15 de Sep.",G,26,23,visitante,Baltimore,1,0,0,3

In [170]:
# Convertir fechas a un formato común en ambos DataFrames
Las_Vegas_select['Fecha'] = Las_Vegas_select['Fecha'].str.strip()
dfNomComDetOp['Column_2'] = dfNomComDetOp['Column_2'].str.strip()

# Realizar la unión basada en las fechas
Las_Vegas_select = pd.merge(Las_Vegas_select, dfNomComDetOp, left_on='Fecha', right_on='Column_2', how='inner')
Las_Vegas_select = Las_Vegas_select.drop(columns=['Column_2'])

# Mostrar el DataFrame combinado
Las_Vegas_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.,OpNomCom
0,Las Vegas Raiders,1,"Dom., 8 de Sep.",P,22,10,visitante,Los Angeles,0,1,0,12,los angeles chargers
1,Las Vegas Raiders,2,"Dom., 15 de Sep.",G,26,23,visitante,Baltimore,1,0,0,3,baltimore ravens

# New Orleans

In [171]:
rNo = requests.get(urlNo, cookies=cookies, headers=headers)
html_contentsNo = rNo.text

In [172]:
html_soupNo = BeautifulSoup(html_contentsNo, 'html.parser')

In [173]:
calendarioNo = html_soupNo.find_all('table', class_='Table')

In [174]:
New_Orleans = pd.DataFrame(columns = TabGen)

In [175]:
for table in calendarioNo:
    for row in table.find_all('tr')[2:21]:
        values = []
        for col in row.find_all(['th','td']):
            values.append(col.text)
        if len(values) == len(TabGen):
            New_Orleans.loc[len(New_Orleans)] = values

In [176]:
column_2 = 1
column_3 = 2

# Lista para almacenar los datos
data_list = []

# Recorre cada tabla
for table_index, table in enumerate(calendarioNo):
    # Recorre cada fila en la tabla
    for row_index, row in enumerate(table.find_all('tr')):
        # Inicializar variables para almacenar los datos
        column_2_data = None
        column_3_data = None
        
        # Recorre cada celda en la fila
        for col_index, col in enumerate(row.find_all(['th', 'td'])):
            # Extraer el contenido de la columna 2
            if col_index == column_2:
                span_tag = col.find('span')
                if span_tag:
                    column_2_data = span_tag.text.strip()
                else:
                    column_2_data = col.text.strip()
                
            # Extraer el contenido de la columna 3
            if col_index == column_3:
                a_tag = col.find('a', class_='AnchorLink')
                if a_tag:
                    href_value = a_tag.get('href')
                    relevant_part = href_value.split('/')[-1]
                    cadena_sin_guiones = relevant_part.replace('-', ' ')
                    column_3_data = cadena_sin_guiones

        # Agregar los datos a la lista si ambos datos están presentes
        if column_2_data and column_3_data:
            data_list.append({
                'Column_2': column_2_data,
                'OpNomCom': column_3_data
            })

# Convertir la lista de datos en un DataFrame
dfNomComDetOp = pd.DataFrame(data_list)

In [177]:
New_Orleans.insert(0, 'Equipo', 'New Orleans Saints')
New_Orleans['Resultado_L'] = New_Orleans['Resultado'].str.extract(r'([A-Za-z]+)')
New_Orleans['Resultado_Numeros'] = New_Orleans['Resultado'].str.extract(r'(\d+-\d+)')
New_Orleans[['R1', 'R2']] = New_Orleans['Resultado_Numeros'].str.split('-', expand=True)
New_Orleans['Local_Visitante'] = New_Orleans['Oponente'].str.split().str[0].str.replace('.', '')
New_Orleans['Local_Visitante'] = New_Orleans['Local_Visitante'].str.replace('vs', 'local').str.replace('en', 'visitante')
New_Orleans['Equipo_Oponente'] = New_Orleans['Oponente'].str.extract(r'(vs\.|en\s)([^,]+)')[1]
# Agregar las columnas "G," "P," y "E" basadas en la columna "Resultado_L"
New_Orleans['G'] = (New_Orleans['Resultado_L'] == 'G').astype(int)
New_Orleans['P'] = (New_Orleans['Resultado_L'] == 'P').astype(int)
New_Orleans['E'] = (New_Orleans['Resultado_L'] == 'E').astype(int)
columnas_deseadas = ['Equipo', 'Semana', 'Fecha', 'Resultado_L', 'R1', 'R2', 'Local_Visitante', 'Equipo_Oponente', 'G', 'P', 'E']
New_Orleans_select = New_Orleans[columnas_deseadas]
New_Orleans_select.loc[:, ['Semana', 'R1', 'R2', 'G', 'P', 'E']] = New_Orleans_select[['Semana', 'R1', 'R2', 'G', 'P', 'E']].astype(int)
New_Orleans_select = New_Orleans_select.copy()
New_Orleans_select['Diferencia_Pts.'] = New_Orleans_select['R1'] - New_Orleans_select['R2']

In [178]:
New_Orleans_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.
0,New Orleans Saints,1,"Dom., 8 de Sep.",G,47,10,local,Carolina,1,0,0,37
1,New Orleans Saints,2,"Dom., 15 de Sep.",G,44,19,visitante,Dallas,1,0,0,25

In [179]:
# Convertir fechas a un formato común en ambos DataFrames
New_Orleans_select['Fecha'] = New_Orleans_select['Fecha'].str.strip()
dfNomComDetOp['Column_2'] = dfNomComDetOp['Column_2'].str.strip()

# Realizar la unión basada en las fechas
New_Orleans_select = pd.merge(New_Orleans_select, dfNomComDetOp, left_on='Fecha', right_on='Column_2', how='inner')
New_Orleans_select = New_Orleans_select.drop(columns=['Column_2'])

# Mostrar el DataFrame combinado
New_Orleans_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.,OpNomCom
0,New Orleans Saints,1,"Dom., 8 de Sep.",G,47,10,local,Carolina,1,0,0,37,carolina panthers
1,New Orleans Saints,2,"Dom., 15 de Sep.",G,44,19,visitante,Dallas,1,0,0,25,dallas cowboys

# Los Angeles Chargers

In [180]:
rLac= requests.get(urlLac, cookies=cookies, headers=headers)
html_contentsLac = rLac.text

In [181]:
html_soupLac = BeautifulSoup(html_contentsLac, 'html.parser')

In [182]:
calendarioLac = html_soupLac.find_all('table', class_='Table')

In [183]:
Los_Angeles_Chargers = pd.DataFrame(columns = TabGen)

In [184]:
for table in calendarioLac:
    for row in table.find_all('tr')[2:21]:
        values = []
        for col in row.find_all(['th','td']):
            values.append(col.text)
        if len(values) == len(TabGen):
            Los_Angeles_Chargers.loc[len(Los_Angeles_Chargers)] = values

In [185]:
column_2 = 1
column_3 = 2

# Lista para almacenar los datos
data_list = []

# Recorre cada tabla
for table_index, table in enumerate(calendarioLac):
    # Recorre cada fila en la tabla
    for row_index, row in enumerate(table.find_all('tr')):
        # Inicializar variables para almacenar los datos
        column_2_data = None
        column_3_data = None
        
        # Recorre cada celda en la fila
        for col_index, col in enumerate(row.find_all(['th', 'td'])):
            # Extraer el contenido de la columna 2
            if col_index == column_2:
                span_tag = col.find('span')
                if span_tag:
                    column_2_data = span_tag.text.strip()
                else:
                    column_2_data = col.text.strip()
                
            # Extraer el contenido de la columna 3
            if col_index == column_3:
                a_tag = col.find('a', class_='AnchorLink')
                if a_tag:
                    href_value = a_tag.get('href')
                    relevant_part = href_value.split('/')[-1]
                    cadena_sin_guiones = relevant_part.replace('-', ' ')
                    column_3_data = cadena_sin_guiones

        # Agregar los datos a la lista si ambos datos están presentes
        if column_2_data and column_3_data:
            data_list.append({
                'Column_2': column_2_data,
                'OpNomCom': column_3_data
            })

# Convertir la lista de datos en un DataFrame
dfNomComDetOp = pd.DataFrame(data_list)

In [186]:
Los_Angeles_Chargers.insert(0, 'Equipo', 'Los Angeles Chargers')
Los_Angeles_Chargers['Resultado_L'] = Los_Angeles_Chargers['Resultado'].str.extract(r'([A-Za-z]+)')
Los_Angeles_Chargers['Resultado_Numeros'] = Los_Angeles_Chargers['Resultado'].str.extract(r'(\d+-\d+)')
Los_Angeles_Chargers[['R1', 'R2']] = Los_Angeles_Chargers['Resultado_Numeros'].str.split('-', expand=True)
Los_Angeles_Chargers['Local_Visitante'] = Los_Angeles_Chargers['Oponente'].str.split().str[0].str.replace('.', '')
Los_Angeles_Chargers['Local_Visitante'] = Los_Angeles_Chargers['Local_Visitante'].str.replace('vs', 'local').str.replace('en', 'visitante')
Los_Angeles_Chargers['Equipo_Oponente'] = Los_Angeles_Chargers['Oponente'].str.extract(r'(vs\.|en\s)([^,]+)')[1]
# Agregar las columnas "G," "P," y "E" basadas en la columna "Resultado_L"
Los_Angeles_Chargers['G'] = (Los_Angeles_Chargers['Resultado_L'] == 'G').astype(int)
Los_Angeles_Chargers['P'] = (Los_Angeles_Chargers['Resultado_L'] == 'P').astype(int)
Los_Angeles_Chargers['E'] = (Los_Angeles_Chargers['Resultado_L'] == 'E').astype(int)
columnas_deseadas = ['Equipo', 'Semana', 'Fecha', 'Resultado_L', 'R1', 'R2', 'Local_Visitante', 'Equipo_Oponente', 'G', 'P', 'E']
Los_Angeles_Chargers_select = Los_Angeles_Chargers[columnas_deseadas]
Los_Angeles_Chargers_select.loc[:, ['Semana', 'R1', 'R2', 'G', 'P', 'E']] = Los_Angeles_Chargers_select[['Semana', 'R1', 'R2', 'G', 'P', 'E']].astype(int)
Los_Angeles_Chargers_select = Los_Angeles_Chargers_select.copy()
Los_Angeles_Chargers_select['Diferencia_Pts.'] = Los_Angeles_Chargers_select['R1'] - Los_Angeles_Chargers_select['R2']

In [187]:
Los_Angeles_Chargers_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.
0,Los Angeles Chargers,1,"Dom., 8 de Sep.",G,22,10,local,Las Vegas,1,0,0,12
1,Los Angeles Chargers,2,"Dom., 15 de Sep.",G,26,3,visitante,Carolina,1,0,0,23

In [188]:
# Convertir fechas a un formato común en ambos DataFrames
Los_Angeles_Chargers_select['Fecha'] = Los_Angeles_Chargers_select['Fecha'].str.strip()
dfNomComDetOp['Column_2'] = dfNomComDetOp['Column_2'].str.strip()

# Realizar la unión basada en las fechas
Los_Angeles_Chargers_select = pd.merge(Los_Angeles_Chargers_select, dfNomComDetOp, left_on='Fecha', right_on='Column_2', how='inner')
Los_Angeles_Chargers_select = Los_Angeles_Chargers_select.drop(columns=['Column_2'])

# Mostrar el DataFrame combinado
Los_Angeles_Chargers_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.,OpNomCom
0,Los Angeles Chargers,1,"Dom., 8 de Sep.",G,22,10,local,Las Vegas,1,0,0,12,las vegas raiders
1,Los Angeles Chargers,2,"Dom., 15 de Sep.",G,26,3,visitante,Carolina,1,0,0,23,carolina panthers

# Indianapolis

In [189]:
rInd = requests.get(urlInd, cookies=cookies, headers=headers)
html_contentsInd = rInd.text

In [190]:
html_soupInd = BeautifulSoup(html_contentsInd, 'html.parser')

In [191]:
calendarioInd = html_soupInd.find_all('table', class_='Table')

In [192]:
Indianapolis = pd.DataFrame(columns = TabGen)

In [193]:
for table in calendarioInd:
    for row in table.find_all('tr')[2:21]:
        values = []
        for col in row.find_all(['th','td']):
            values.append(col.text)
        if len(values) == len(TabGen):
            Indianapolis.loc[len(Indianapolis)] = values

In [194]:
column_2 = 1
column_3 = 2

# Lista para almacenar los datos
data_list = []

# Recorre cada tabla
for table_index, table in enumerate(calendarioInd):
    # Recorre cada fila en la tabla
    for row_index, row in enumerate(table.find_all('tr')):
        # Inicializar variables para almacenar los datos
        column_2_data = None
        column_3_data = None
        
        # Recorre cada celda en la fila
        for col_index, col in enumerate(row.find_all(['th', 'td'])):
            # Extraer el contenido de la columna 2
            if col_index == column_2:
                span_tag = col.find('span')
                if span_tag:
                    column_2_data = span_tag.text.strip()
                else:
                    column_2_data = col.text.strip()
                
            # Extraer el contenido de la columna 3
            if col_index == column_3:
                a_tag = col.find('a', class_='AnchorLink')
                if a_tag:
                    href_value = a_tag.get('href')
                    relevant_part = href_value.split('/')[-1]
                    cadena_sin_guiones = relevant_part.replace('-', ' ')
                    column_3_data = cadena_sin_guiones

        # Agregar los datos a la lista si ambos datos están presentes
        if column_2_data and column_3_data:
            data_list.append({
                'Column_2': column_2_data,
                'OpNomCom': column_3_data
            })

# Convertir la lista de datos en un DataFrame
dfNomComDetOp = pd.DataFrame(data_list)

In [195]:
Indianapolis.insert(0, 'Equipo', 'Indianapolis Colts')
Indianapolis['Resultado_L'] = Indianapolis['Resultado'].str.extract(r'([A-Za-z]+)')
Indianapolis['Resultado_Numeros'] = Indianapolis['Resultado'].str.extract(r'(\d+-\d+)')
Indianapolis[['R1', 'R2']] = Indianapolis['Resultado_Numeros'].str.split('-', expand=True)
Indianapolis['Local_Visitante'] = Indianapolis['Oponente'].str.split().str[0].str.replace('.', '')
Indianapolis['Local_Visitante'] = Indianapolis['Local_Visitante'].str.replace('vs', 'local').str.replace('en', 'visitante')
Indianapolis['Equipo_Oponente'] = Indianapolis['Oponente'].str.extract(r'(vs\.|en\s)([^,]+)')[1]
# Agregar las columnas "G," "P," y "E" basadas en la columna "Resultado_L"
Indianapolis['G'] = (Indianapolis['Resultado_L'] == 'G').astype(int)
Indianapolis['P'] = (Indianapolis['Resultado_L'] == 'P').astype(int)
Indianapolis['E'] = (Indianapolis['Resultado_L'] == 'E').astype(int)
columnas_deseadas = ['Equipo', 'Semana', 'Fecha', 'Resultado_L', 'R1', 'R2', 'Local_Visitante', 'Equipo_Oponente', 'G', 'P', 'E']
Indianapolis_select = Indianapolis[columnas_deseadas]
Indianapolis_select.loc[:, ['Semana', 'R1', 'R2', 'G', 'P', 'E']] = Indianapolis_select[['Semana', 'R1', 'R2', 'G', 'P', 'E']].astype(int)
Indianapolis_select = Indianapolis_select.copy()
Indianapolis_select['Diferencia_Pts.'] = Indianapolis_select['R1'] - Indianapolis_select['R2']

In [196]:
Indianapolis_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.
0,Indianapolis Colts,1,"Dom., 8 de Sep.",P,29,27,local,Houston,0,1,0,2
1,Indianapolis Colts,2,"Dom., 15 de Sep.",P,16,10,visitante,Green Bay,0,1,0,6

In [197]:
# Convertir fechas a un formato común en ambos DataFrames
Indianapolis_select['Fecha'] = Indianapolis_select['Fecha'].str.strip()
dfNomComDetOp['Column_2'] = dfNomComDetOp['Column_2'].str.strip()

# Realizar la unión basada en las fechas
Indianapolis_select = pd.merge(Indianapolis_select, dfNomComDetOp, left_on='Fecha', right_on='Column_2', how='inner')
Indianapolis_select = Indianapolis_select.drop(columns=['Column_2'])

# Mostrar el DataFrame combinado
Indianapolis_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.,OpNomCom
0,Indianapolis Colts,1,"Dom., 8 de Sep.",P,29,27,local,Houston,0,1,0,2,houston texans
1,Indianapolis Colts,2,"Dom., 15 de Sep.",P,16,10,visitante,Green Bay,0,1,0,6,green bay packers

# Chicago

In [198]:
rChi = requests.get(urlChi, cookies=cookies, headers=headers)
html_contentsChi = rChi.text

In [199]:
html_soupChi = BeautifulSoup(html_contentsChi, 'html.parser')

In [200]:
calendarioChi = html_soupChi.find_all('table', class_='Table')

In [201]:
Chicago = pd.DataFrame(columns = TabGen)

In [202]:
for table in calendarioChi:
    for row in table.find_all('tr')[2:21]:
        values = []
        for col in row.find_all(['th','td']):
            values.append(col.text)
        if len(values) == len(TabGen):
            Chicago.loc[len(Chicago)] = values

In [203]:
column_2 = 1
column_3 = 2

# Lista para almacenar los datos
data_list = []

# Recorre cada tabla
for table_index, table in enumerate(calendarioChi):
    # Recorre cada fila en la tabla
    for row_index, row in enumerate(table.find_all('tr')):
        # Inicializar variables para almacenar los datos
        column_2_data = None
        column_3_data = None
        
        # Recorre cada celda en la fila
        for col_index, col in enumerate(row.find_all(['th', 'td'])):
            # Extraer el contenido de la columna 2
            if col_index == column_2:
                span_tag = col.find('span')
                if span_tag:
                    column_2_data = span_tag.text.strip()
                else:
                    column_2_data = col.text.strip()
                
            # Extraer el contenido de la columna 3
            if col_index == column_3:
                a_tag = col.find('a', class_='AnchorLink')
                if a_tag:
                    href_value = a_tag.get('href')
                    relevant_part = href_value.split('/')[-1]
                    cadena_sin_guiones = relevant_part.replace('-', ' ')
                    column_3_data = cadena_sin_guiones

        # Agregar los datos a la lista si ambos datos están presentes
        if column_2_data and column_3_data:
            data_list.append({
                'Column_2': column_2_data,
                'OpNomCom': column_3_data
            })

# Convertir la lista de datos en un DataFrame
dfNomComDetOp = pd.DataFrame(data_list)

In [204]:
Chicago.insert(0, 'Equipo', 'Chicago Bears')
Chicago['Resultado_L'] = Chicago['Resultado'].str.extract(r'([A-Za-z]+)')
Chicago['Resultado_Numeros'] = Chicago['Resultado'].str.extract(r'(\d+-\d+)')
Chicago[['R1', 'R2']] = Chicago['Resultado_Numeros'].str.split('-', expand=True)
Chicago['Local_Visitante'] = Chicago['Oponente'].str.split().str[0].str.replace('.', '')
Chicago['Local_Visitante'] = Chicago['Local_Visitante'].str.replace('vs', 'local').str.replace('en', 'visitante')
Chicago['Equipo_Oponente'] = Chicago['Oponente'].str.extract(r'(vs\.|en\s)([^,]+)')[1]
# Agregar las columnas "G," "P," y "E" basadas en la columna "Resultado_L"
Chicago['G'] = (Chicago['Resultado_L'] == 'G').astype(int)
Chicago['P'] = (Chicago['Resultado_L'] == 'P').astype(int)
Chicago['E'] = (Chicago['Resultado_L'] == 'E').astype(int)
columnas_deseadas = ['Equipo', 'Semana', 'Fecha', 'Resultado_L', 'R1', 'R2', 'Local_Visitante', 'Equipo_Oponente', 'G', 'P', 'E']
Chicago_select = Chicago[columnas_deseadas]
Chicago_select.loc[:, ['Semana', 'R1', 'R2', 'G', 'P', 'E']] = Chicago_select[['Semana', 'R1', 'R2', 'G', 'P', 'E']].astype(int)
Chicago_select = Chicago_select.copy()
Chicago_select['Diferencia_Pts.'] = Chicago_select['R1'] - Chicago_select['R2']

In [205]:
Chicago_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.
0,Chicago Bears,1,"Dom., 8 de Sep.",G,24,17,local,Tennessee,1,0,0,7
1,Chicago Bears,2,"Dom., 15 de Sep.",P,19,13,visitante,Houston,0,1,0,6

In [206]:
# Convertir fechas a un formato común en ambos DataFrames
Chicago_select['Fecha'] = Chicago_select['Fecha'].str.strip()
dfNomComDetOp['Column_2'] = dfNomComDetOp['Column_2'].str.strip()

# Realizar la unión basada en las fechas
Chicago_select = pd.merge(Chicago_select, dfNomComDetOp, left_on='Fecha', right_on='Column_2', how='inner')
Chicago_select = Chicago_select.drop(columns=['Column_2'])

# Mostrar el DataFrame combinado
Chicago_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.,OpNomCom
0,Chicago Bears,1,"Dom., 8 de Sep.",G,24,17,local,Tennessee,1,0,0,7,tennessee titans
1,Chicago Bears,2,"Dom., 15 de Sep.",P,19,13,visitante,Houston,0,1,0,6,houston texans

# Kansas City

In [207]:
rKc = requests.get(urlKc, cookies=cookies, headers=headers)
html_contentsKc = rKc.text

In [208]:
html_soupKc = BeautifulSoup(html_contentsKc, 'html.parser')

In [209]:
calendarioKc = html_soupKc.find_all('table', class_='Table')

In [210]:
Kansas_City = pd.DataFrame(columns = TabGen)

In [211]:
for table in calendarioKc:
    for row in table.find_all('tr')[2:21]:
        values = []
        for col in row.find_all(['th','td']):
            values.append(col.text)
        if len(values) == len(TabGen):
            Kansas_City.loc[len(Kansas_City)] = values

In [212]:
column_2 = 1
column_3 = 2

# Lista para almacenar los datos
data_list = []

# Recorre cada tabla
for table_index, table in enumerate(calendarioKc):
    # Recorre cada fila en la tabla
    for row_index, row in enumerate(table.find_all('tr')):
        # Inicializar variables para almacenar los datos
        column_2_data = None
        column_3_data = None
        
        # Recorre cada celda en la fila
        for col_index, col in enumerate(row.find_all(['th', 'td'])):
            # Extraer el contenido de la columna 2
            if col_index == column_2:
                span_tag = col.find('span')
                if span_tag:
                    column_2_data = span_tag.text.strip()
                else:
                    column_2_data = col.text.strip()
                
            # Extraer el contenido de la columna 3
            if col_index == column_3:
                a_tag = col.find('a', class_='AnchorLink')
                if a_tag:
                    href_value = a_tag.get('href')
                    relevant_part = href_value.split('/')[-1]
                    cadena_sin_guiones = relevant_part.replace('-', ' ')
                    column_3_data = cadena_sin_guiones

        # Agregar los datos a la lista si ambos datos están presentes
        if column_2_data and column_3_data:
            data_list.append({
                'Column_2': column_2_data,
                'OpNomCom': column_3_data
            })

# Convertir la lista de datos en un DataFrame
dfNomComDetOp = pd.DataFrame(data_list)

In [213]:
Kansas_City.insert(0, 'Equipo', 'Kansas City Chiefs')
Kansas_City['Resultado_L'] = Kansas_City['Resultado'].str.extract(r'([A-Za-z]+)')
Kansas_City['Resultado_Numeros'] = Kansas_City['Resultado'].str.extract(r'(\d+-\d+)')
Kansas_City[['R1', 'R2']] = Kansas_City['Resultado_Numeros'].str.split('-', expand=True)
Kansas_City['Local_Visitante'] = Kansas_City['Oponente'].str.split().str[0].str.replace('.', '')
Kansas_City['Local_Visitante'] = Kansas_City['Local_Visitante'].str.replace('vs', 'local').str.replace('en', 'visitante')
Kansas_City['Equipo_Oponente'] = Kansas_City['Oponente'].str.extract(r'(vs\.|en\s)([^,]+)')[1]
# Agregar las columnas "G," "P," y "E" basadas en la columna "Resultado_L"
Kansas_City['G'] = (Kansas_City['Resultado_L'] == 'G').astype(int)
Kansas_City['P'] = (Kansas_City['Resultado_L'] == 'P').astype(int)
Kansas_City['E'] = (Kansas_City['Resultado_L'] == 'E').astype(int)
columnas_deseadas = ['Equipo', 'Semana', 'Fecha', 'Resultado_L', 'R1', 'R2', 'Local_Visitante', 'Equipo_Oponente', 'G', 'P', 'E']
Kansas_City_select = Kansas_City[columnas_deseadas]
Kansas_City_select.loc[:, ['Semana', 'R1', 'R2', 'G', 'P', 'E']] = Kansas_City_select[['Semana', 'R1', 'R2', 'G', 'P', 'E']].astype(int)
Kansas_City_select = Kansas_City_select.copy()
Kansas_City_select['Diferencia_Pts.'] = Kansas_City_select['R1'] - Kansas_City_select['R2']

In [214]:
Kansas_City_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.
0,Kansas City Chiefs,1,"Jue., 5 de Sep.",G,27,20,local,Baltimore,1,0,0,7
1,Kansas City Chiefs,2,"Dom., 15 de Sep.",G,26,25,local,Cincinnati,1,0,0,1

In [215]:
# Convertir fechas a un formato común en ambos DataFrames
Kansas_City_select['Fecha'] = Kansas_City_select['Fecha'].str.strip()
dfNomComDetOp['Column_2'] = dfNomComDetOp['Column_2'].str.strip()

# Realizar la unión basada en las fechas
Kansas_City_select = pd.merge(Kansas_City_select, dfNomComDetOp, left_on='Fecha', right_on='Column_2', how='inner')
Kansas_City_select = Kansas_City_select.drop(columns=['Column_2'])

# Mostrar el DataFrame combinado
Kansas_City_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.,OpNomCom
0,Kansas City Chiefs,1,"Jue., 5 de Sep.",G,27,20,local,Baltimore,1,0,0,7,baltimore ravens
1,Kansas City Chiefs,2,"Dom., 15 de Sep.",G,26,25,local,Cincinnati,1,0,0,1,cincinnati bengals

# New England

In [216]:
rNe = requests.get(urlNe, cookies=cookies, headers=headers)
html_contentsNe = rNe.text

In [217]:
html_soupNe = BeautifulSoup(html_contentsNe, 'html.parser')

In [218]:
calendarioNe = html_soupNe.find_all('table', class_='Table')

In [219]:
New_England  = pd.DataFrame(columns = TabGen)

In [220]:
for table in calendarioNe:
    for row in table.find_all('tr')[2:21]:
        values = []
        for col in row.find_all(['th','td']):
            values.append(col.text)
        if len(values) == len(TabGen):
            New_England.loc[len(New_England)] = values

In [221]:
column_2 = 1
column_3 = 2

# Lista para almacenar los datos
data_list = []

# Recorre cada tabla
for table_index, table in enumerate(calendarioNe):
    # Recorre cada fila en la tabla
    for row_index, row in enumerate(table.find_all('tr')):
        # Inicializar variables para almacenar los datos
        column_2_data = None
        column_3_data = None
        
        # Recorre cada celda en la fila
        for col_index, col in enumerate(row.find_all(['th', 'td'])):
            # Extraer el contenido de la columna 2
            if col_index == column_2:
                span_tag = col.find('span')
                if span_tag:
                    column_2_data = span_tag.text.strip()
                else:
                    column_2_data = col.text.strip()
                
            # Extraer el contenido de la columna 3
            if col_index == column_3:
                a_tag = col.find('a', class_='AnchorLink')
                if a_tag:
                    href_value = a_tag.get('href')
                    relevant_part = href_value.split('/')[-1]
                    cadena_sin_guiones = relevant_part.replace('-', ' ')
                    column_3_data = cadena_sin_guiones

        # Agregar los datos a la lista si ambos datos están presentes
        if column_2_data and column_3_data:
            data_list.append({
                'Column_2': column_2_data,
                'OpNomCom': column_3_data
            })

# Convertir la lista de datos en un DataFrame
dfNomComDetOp = pd.DataFrame(data_list)

In [222]:
New_England.insert(0, 'Equipo', 'New England Patriots')
New_England['Resultado_L'] = New_England['Resultado'].str.extract(r'([A-Za-z]+)')
New_England['Resultado_Numeros'] = New_England['Resultado'].str.extract(r'(\d+-\d+)')
New_England[['R1', 'R2']] = New_England['Resultado_Numeros'].str.split('-', expand=True)
New_England['Local_Visitante'] = New_England['Oponente'].str.split().str[0].str.replace('.', '')
New_England['Local_Visitante'] = New_England['Local_Visitante'].str.replace('vs', 'local').str.replace('en', 'visitante')
New_England['Equipo_Oponente'] = New_England['Oponente'].str.extract(r'(vs\.|en\s)([^,]+)')[1]
# Agregar las columnas "G," "P," y "E" basadas en la columna "Resultado_L"
New_England['G'] = (New_England['Resultado_L'] == 'G').astype(int)
New_England['P'] = (New_England['Resultado_L'] == 'P').astype(int)
New_England['E'] = (New_England['Resultado_L'] == 'E').astype(int)
columnas_deseadas = ['Equipo', 'Semana', 'Fecha', 'Resultado_L', 'R1', 'R2', 'Local_Visitante', 'Equipo_Oponente', 'G', 'P', 'E']
New_England_select = New_England[columnas_deseadas]
New_England_select.loc[:, ['Semana', 'R1', 'R2', 'G', 'P', 'E']] = New_England_select[['Semana', 'R1', 'R2', 'G', 'P', 'E']].astype(int)
New_England_select = New_England_select.copy()
New_England_select['Diferencia_Pts.'] = New_England_select['R1'] - New_England_select['R2']

In [223]:
New_England_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.
0,New England Patriots,1,"Dom., 8 de Sep.",G,16,10,visitante,Cincinnati,1,0,0,6
1,New England Patriots,2,"Dom., 15 de Sep.",P,23,20,local,Seattle,0,1,0,3

In [224]:
# Convertir fechas a un formato común en ambos DataFrames
New_England_select['Fecha'] = New_England_select['Fecha'].str.strip()
dfNomComDetOp['Column_2'] = dfNomComDetOp['Column_2'].str.strip()

# Realizar la unión basada en las fechas
New_England_select = pd.merge(New_England_select, dfNomComDetOp, left_on='Fecha', right_on='Column_2', how='inner')
New_England_select = New_England_select.drop(columns=['Column_2'])

# Mostrar el DataFrame combinado
New_England_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.,OpNomCom
0,New England Patriots,1,"Dom., 8 de Sep.",G,16,10,visitante,Cincinnati,1,0,0,6,cincinnati bengals
1,New England Patriots,2,"Dom., 15 de Sep.",P,23,20,local,Seattle,0,1,0,3,seattle seahawks

# Minnesota

In [225]:
rMin = requests.get(urlMin, cookies=cookies, headers=headers)
html_contentsMin = rMin.text

In [226]:
html_soupMin = BeautifulSoup(html_contentsMin, 'html.parser')

In [227]:
calendarioMin = html_soupMin.find_all('table', class_='Table')

In [228]:
Minnesota  = pd.DataFrame(columns = TabGen)

In [229]:
for table in calendarioMin:
    for row in table.find_all('tr')[2:21]:
        values = []
        for col in row.find_all(['th','td']):
            values.append(col.text)
        if len(values) == len(TabGen):
            Minnesota.loc[len(Minnesota)] = values

In [230]:
column_2 = 1
column_3 = 2

# Lista para almacenar los datos
data_list = []

# Recorre cada tabla
for table_index, table in enumerate(calendarioMin):
    # Recorre cada fila en la tabla
    for row_index, row in enumerate(table.find_all('tr')):
        # Inicializar variables para almacenar los datos
        column_2_data = None
        column_3_data = None
        
        # Recorre cada celda en la fila
        for col_index, col in enumerate(row.find_all(['th', 'td'])):
            # Extraer el contenido de la columna 2
            if col_index == column_2:
                span_tag = col.find('span')
                if span_tag:
                    column_2_data = span_tag.text.strip()
                else:
                    column_2_data = col.text.strip()
                
            # Extraer el contenido de la columna 3
            if col_index == column_3:
                a_tag = col.find('a', class_='AnchorLink')
                if a_tag:
                    href_value = a_tag.get('href')
                    relevant_part = href_value.split('/')[-1]
                    cadena_sin_guiones = relevant_part.replace('-', ' ')
                    column_3_data = cadena_sin_guiones

        # Agregar los datos a la lista si ambos datos están presentes
        if column_2_data and column_3_data:
            data_list.append({
                'Column_2': column_2_data,
                'OpNomCom': column_3_data
            })

# Convertir la lista de datos en un DataFrame
dfNomComDetOp = pd.DataFrame(data_list)

In [231]:
Minnesota.insert(0, 'Equipo', 'Minnesota Vikings')
Minnesota['Resultado_L'] = Minnesota['Resultado'].str.extract(r'([A-Za-z]+)')
Minnesota['Resultado_Numeros'] = Minnesota['Resultado'].str.extract(r'(\d+-\d+)')
Minnesota[['R1', 'R2']] = Minnesota['Resultado_Numeros'].str.split('-', expand=True)
Minnesota['Local_Visitante'] = Minnesota['Oponente'].str.split().str[0].str.replace('.', '')
Minnesota['Local_Visitante'] = Minnesota['Local_Visitante'].str.replace('vs', 'local').str.replace('en', 'visitante')
Minnesota['Equipo_Oponente'] = Minnesota['Oponente'].str.extract(r'(vs\.|en\s)([^,]+)')[1]
# Agregar las columnas "G," "P," y "E" basadas en la columna "Resultado_L"
Minnesota['G'] = (Minnesota['Resultado_L'] == 'G').astype(int)
Minnesota['P'] = (Minnesota['Resultado_L'] == 'P').astype(int)
Minnesota['E'] = (Minnesota['Resultado_L'] == 'E').astype(int)
columnas_deseadas = ['Equipo', 'Semana', 'Fecha', 'Resultado_L', 'R1', 'R2', 'Local_Visitante', 'Equipo_Oponente', 'G', 'P', 'E']
Minnesota_select = Minnesota[columnas_deseadas]
Minnesota_select.loc[:, ['Semana', 'R1', 'R2', 'G', 'P', 'E']] = Minnesota_select[['Semana', 'R1', 'R2', 'G', 'P', 'E']].astype(int)
Minnesota_select = Minnesota_select.copy()
Minnesota_select['Diferencia_Pts.'] = Minnesota_select['R1'] - Minnesota_select['R2']

In [232]:
Minnesota_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.
0,Minnesota Vikings,1,"Dom., 8 de Sep.",G,28,6,visitante,New York,1,0,0,22
1,Minnesota Vikings,2,"Dom., 15 de Sep.",G,23,17,local,San Francisco,1,0,0,6

In [233]:
# Convertir fechas a un formato común en ambos DataFrames
Minnesota_select['Fecha'] = Minnesota_select['Fecha'].str.strip()
dfNomComDetOp['Column_2'] = dfNomComDetOp['Column_2'].str.strip()

# Realizar la unión basada en las fechas
Minnesota_select = pd.merge(Minnesota_select, dfNomComDetOp, left_on='Fecha', right_on='Column_2', how='inner')
Minnesota_select = Minnesota_select.drop(columns=['Column_2'])

# Mostrar el DataFrame combinado
Minnesota_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.,OpNomCom
0,Minnesota Vikings,1,"Dom., 8 de Sep.",G,28,6,visitante,New York,1,0,0,22,new york giants
1,Minnesota Vikings,2,"Dom., 15 de Sep.",G,23,17,local,San Francisco,1,0,0,6,san francisco 49ers

# Arizona

In [234]:
rAri = requests.get(urlAri, cookies=cookies, headers=headers)
html_contentsAri = rAri.text

In [235]:
html_soupAri = BeautifulSoup(html_contentsAri, 'html.parser')

In [236]:
calendarioAri = html_soupAri.find_all('table', class_='Table')

In [237]:
Arizona  = pd.DataFrame(columns = TabGen)

In [238]:
for table in calendarioAri:
    for row in table.find_all('tr')[2:21]:
        values = []
        for col in row.find_all(['th','td']):
            values.append(col.text)
        if len(values) == len(TabGen):
            Arizona.loc[len(Arizona)] = values

In [239]:
column_2 = 1
column_3 = 2

# Lista para almacenar los datos
data_list = []

# Recorre cada tabla
for table_index, table in enumerate(calendarioAri):
    # Recorre cada fila en la tabla
    for row_index, row in enumerate(table.find_all('tr')):
        # Inicializar variables para almacenar los datos
        column_2_data = None
        column_3_data = None
        
        # Recorre cada celda en la fila
        for col_index, col in enumerate(row.find_all(['th', 'td'])):
            # Extraer el contenido de la columna 2
            if col_index == column_2:
                span_tag = col.find('span')
                if span_tag:
                    column_2_data = span_tag.text.strip()
                else:
                    column_2_data = col.text.strip()
                
            # Extraer el contenido de la columna 3
            if col_index == column_3:
                a_tag = col.find('a', class_='AnchorLink')
                if a_tag:
                    href_value = a_tag.get('href')
                    relevant_part = href_value.split('/')[-1]
                    cadena_sin_guiones = relevant_part.replace('-', ' ')
                    column_3_data = cadena_sin_guiones

        # Agregar los datos a la lista si ambos datos están presentes
        if column_2_data and column_3_data:
            data_list.append({
                'Column_2': column_2_data,
                'OpNomCom': column_3_data
            })

# Convertir la lista de datos en un DataFrame
dfNomComDetOp = pd.DataFrame(data_list)

In [240]:
Arizona.insert(0, 'Equipo', 'Arizona Cardinals')
Arizona['Resultado_L'] = Arizona['Resultado'].str.extract(r'([A-Za-z]+)')
Arizona['Resultado_Numeros'] = Arizona['Resultado'].str.extract(r'(\d+-\d+)')
Arizona[['R1', 'R2']] = Arizona['Resultado_Numeros'].str.split('-', expand=True)
Arizona['Local_Visitante'] = Arizona['Oponente'].str.split().str[0].str.replace('.', '')
Arizona['Local_Visitante'] = Arizona['Local_Visitante'].str.replace('vs', 'local').str.replace('en', 'visitante')
Arizona['Equipo_Oponente'] = Arizona['Oponente'].str.extract(r'(vs\.|en\s)([^,]+)')[1]
# Agregar las columnas "G," "P," y "E" basadas en la columna "Resultado_L"
Arizona['G'] = (Arizona['Resultado_L'] == 'G').astype(int)
Arizona['P'] = (Arizona['Resultado_L'] == 'P').astype(int)
Arizona['E'] = (Arizona['Resultado_L'] == 'E').astype(int)
columnas_deseadas = ['Equipo', 'Semana', 'Fecha', 'Resultado_L', 'R1', 'R2', 'Local_Visitante', 'Equipo_Oponente', 'G', 'P', 'E']
Arizona_select = Arizona[columnas_deseadas]
Arizona_select.loc[:, ['Semana', 'R1', 'R2', 'G', 'P', 'E']] = Arizona_select[['Semana', 'R1', 'R2', 'G', 'P', 'E']].astype(int)
Arizona_select = Arizona_select.copy()
Arizona_select['Diferencia_Pts.'] = Arizona_select['R1'] - Arizona_select['R2']

In [241]:
Arizona_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.
0,Arizona Cardinals,1,"Dom., 8 de Sep.",P,34,28,visitante,Buffalo,0,1,0,6
1,Arizona Cardinals,2,"Dom., 15 de Sep.",G,41,10,local,Los Angeles,1,0,0,31

In [242]:
# Convertir fechas a un formato común en ambos DataFrames
Arizona_select['Fecha'] = Arizona_select['Fecha'].str.strip()
dfNomComDetOp['Column_2'] = dfNomComDetOp['Column_2'].str.strip()

# Realizar la unión basada en las fechas
Arizona_select = pd.merge(Arizona_select, dfNomComDetOp, left_on='Fecha', right_on='Column_2', how='inner')
Arizona_select = Arizona_select.drop(columns=['Column_2'])

# Mostrar el DataFrame combinado
Arizona_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.,OpNomCom
0,Arizona Cardinals,1,"Dom., 8 de Sep.",P,34,28,visitante,Buffalo,0,1,0,6,buffalo bills
1,Arizona Cardinals,2,"Dom., 15 de Sep.",G,41,10,local,Los Angeles,1,0,0,31,los angeles rams

# Buffalo

In [243]:
rBuf = requests.get(urlBuf, cookies=cookies, headers=headers)
html_contentsBuf = rBuf.text

In [244]:
html_soupBuf = BeautifulSoup(html_contentsBuf, 'html.parser')

In [245]:
calendarioBuf = html_soupBuf.find_all('table', class_='Table')

In [246]:
Buffalo  = pd.DataFrame(columns = TabGen)

In [247]:
for table in calendarioBuf:
    for row in table.find_all('tr')[2:21]:
        values = []
        for col in row.find_all(['th','td']):
            values.append(col.text)
        if len(values) == len(TabGen):
            Buffalo.loc[len(Buffalo)] = values

In [248]:
column_2 = 1
column_3 = 2

# Lista para almacenar los datos
data_list = []

# Recorre cada tabla
for table_index, table in enumerate(calendarioBuf):
    # Recorre cada fila en la tabla
    for row_index, row in enumerate(table.find_all('tr')):
        # Inicializar variables para almacenar los datos
        column_2_data = None
        column_3_data = None
        
        # Recorre cada celda en la fila
        for col_index, col in enumerate(row.find_all(['th', 'td'])):
            # Extraer el contenido de la columna 2
            if col_index == column_2:
                span_tag = col.find('span')
                if span_tag:
                    column_2_data = span_tag.text.strip()
                else:
                    column_2_data = col.text.strip()
                
            # Extraer el contenido de la columna 3
            if col_index == column_3:
                a_tag = col.find('a', class_='AnchorLink')
                if a_tag:
                    href_value = a_tag.get('href')
                    relevant_part = href_value.split('/')[-1]
                    cadena_sin_guiones = relevant_part.replace('-', ' ')
                    column_3_data = cadena_sin_guiones

        # Agregar los datos a la lista si ambos datos están presentes
        if column_2_data and column_3_data:
            data_list.append({
                'Column_2': column_2_data,
                'OpNomCom': column_3_data
            })

# Convertir la lista de datos en un DataFrame
dfNomComDetOp = pd.DataFrame(data_list)

In [249]:
Buffalo.insert(0, 'Equipo', 'Buffalo Bills')
Buffalo['Resultado_L'] = Buffalo['Resultado'].str.extract(r'([A-Za-z]+)')
Buffalo['Resultado_Numeros'] = Buffalo['Resultado'].str.extract(r'(\d+-\d+)')
Buffalo[['R1', 'R2']] = Buffalo['Resultado_Numeros'].str.split('-', expand=True)
Buffalo['Local_Visitante'] = Buffalo['Oponente'].str.split().str[0].str.replace('.', '')
Buffalo['Local_Visitante'] = Buffalo['Local_Visitante'].str.replace('vs', 'local').str.replace('en', 'visitante')
Buffalo['Equipo_Oponente'] = Buffalo['Oponente'].str.extract(r'(vs\.|en\s)([^,]+)')[1]
# Agregar las columnas "G," "P," y "E" basadas en la columna "Resultado_L"
Buffalo['G'] = (Buffalo['Resultado_L'] == 'G').astype(int)
Buffalo['P'] = (Buffalo['Resultado_L'] == 'P').astype(int)
Buffalo['E'] = (Buffalo['Resultado_L'] == 'E').astype(int)
columnas_deseadas = ['Equipo', 'Semana', 'Fecha', 'Resultado_L', 'R1', 'R2', 'Local_Visitante', 'Equipo_Oponente', 'G', 'P', 'E']
Buffalo_select = Buffalo[columnas_deseadas]
Buffalo_select.loc[:, ['Semana', 'R1', 'R2', 'G', 'P', 'E']] = Buffalo_select[['Semana', 'R1', 'R2', 'G', 'P', 'E']].astype(int)
Buffalo_select = Buffalo_select.copy()
Buffalo_select['Diferencia_Pts.'] = Buffalo_select['R1'] - Buffalo_select['R2']

In [250]:
Buffalo_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.
0,Buffalo Bills,1,"Dom., 8 de Sep.",G,34,28,local,Arizona,1,0,0,6
1,Buffalo Bills,2,"Jue., 12 de Sep.",G,31,10,visitante,Miami,1,0,0,21

In [251]:
# Convertir fechas a un formato común en ambos DataFrames
Buffalo_select['Fecha'] = Buffalo_select['Fecha'].str.strip()
dfNomComDetOp['Column_2'] = dfNomComDetOp['Column_2'].str.strip()

# Realizar la unión basada en las fechas
Buffalo_select = pd.merge(Buffalo_select, dfNomComDetOp, left_on='Fecha', right_on='Column_2', how='inner')
Buffalo_select = Buffalo_select.drop(columns=['Column_2'])

# Mostrar el DataFrame combinado
Buffalo_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.,OpNomCom
0,Buffalo Bills,1,"Dom., 8 de Sep.",G,34,28,local,Arizona,1,0,0,6,arizona cardinals
1,Buffalo Bills,2,"Jue., 12 de Sep.",G,31,10,visitante,Miami,1,0,0,21,miami dolphins

# Denver

In [252]:
rDen = requests.get(urlDen, cookies=cookies, headers=headers)
html_contentsDen = rDen.text

In [253]:
html_soupDen = BeautifulSoup(html_contentsDen, 'html.parser')

In [254]:
calendarioDen = html_soupDen.find_all('table', class_='Table')

In [255]:
Denver  = pd.DataFrame(columns = TabGen)

In [256]:
for table in calendarioDen:
    for row in table.find_all('tr')[2:21]:
        values = []
        for col in row.find_all(['th','td']):
            values.append(col.text)
        if len(values) == len(TabGen):
            Denver.loc[len(Denver)] = values

In [257]:
column_2 = 1
column_3 = 2

# Lista para almacenar los datos
data_list = []

# Recorre cada tabla
for table_index, table in enumerate(calendarioDen):
    # Recorre cada fila en la tabla
    for row_index, row in enumerate(table.find_all('tr')):
        # Inicializar variables para almacenar los datos
        column_2_data = None
        column_3_data = None
        
        # Recorre cada celda en la fila
        for col_index, col in enumerate(row.find_all(['th', 'td'])):
            # Extraer el contenido de la columna 2
            if col_index == column_2:
                span_tag = col.find('span')
                if span_tag:
                    column_2_data = span_tag.text.strip()
                else:
                    column_2_data = col.text.strip()
                
            # Extraer el contenido de la columna 3
            if col_index == column_3:
                a_tag = col.find('a', class_='AnchorLink')
                if a_tag:
                    href_value = a_tag.get('href')
                    relevant_part = href_value.split('/')[-1]
                    cadena_sin_guiones = relevant_part.replace('-', ' ')
                    column_3_data = cadena_sin_guiones

        # Agregar los datos a la lista si ambos datos están presentes
        if column_2_data and column_3_data:
            data_list.append({
                'Column_2': column_2_data,
                'OpNomCom': column_3_data
            })

# Convertir la lista de datos en un DataFrame
dfNomComDetOp = pd.DataFrame(data_list)

In [258]:
Denver.insert(0, 'Equipo', 'Denver Broncos')
Denver['Resultado_L'] = Denver['Resultado'].str.extract(r'([A-Za-z]+)')
Denver['Resultado_Numeros'] = Denver['Resultado'].str.extract(r'(\d+-\d+)')
Denver[['R1', 'R2']] = Denver['Resultado_Numeros'].str.split('-', expand=True)
Denver['Local_Visitante'] = Denver['Oponente'].str.split().str[0].str.replace('.', '')
Denver['Local_Visitante'] = Denver['Local_Visitante'].str.replace('vs', 'local').str.replace('en', 'visitante')
Denver['Equipo_Oponente'] = Denver['Oponente'].str.extract(r'(vs\.|en\s)([^,]+)')[1]
# Agregar las columnas "G," "P," y "E" basadas en la columna "Resultado_L"
Denver['G'] = (Denver['Resultado_L'] == 'G').astype(int)
Denver['P'] = (Denver['Resultado_L'] == 'P').astype(int)
Denver['E'] = (Denver['Resultado_L'] == 'E').astype(int)
columnas_deseadas = ['Equipo', 'Semana', 'Fecha', 'Resultado_L', 'R1', 'R2', 'Local_Visitante', 'Equipo_Oponente', 'G', 'P', 'E']
Denver_select = Denver[columnas_deseadas]
Denver_select.loc[:, ['Semana', 'R1', 'R2', 'G', 'P', 'E']] = Denver_select[['Semana', 'R1', 'R2', 'G', 'P', 'E']].astype(int)
Denver_select = Denver_select.copy()
Denver_select['Diferencia_Pts.'] = Denver_select['R1'] - Denver_select['R2']

In [259]:
Denver_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.
0,Denver Broncos,1,"Dom., 8 de Sep.",P,26,20,visitante,Seattle,0,1,0,6
1,Denver Broncos,2,"Dom., 15 de Sep.",P,13,6,local,Pittsburgh,0,1,0,7

In [260]:
# Convertir fechas a un formato común en ambos DataFrames
Denver_select['Fecha'] = Denver_select['Fecha'].str.strip()
dfNomComDetOp['Column_2'] = dfNomComDetOp['Column_2'].str.strip()

# Realizar la unión basada en las fechas
Denver_select = pd.merge(Denver_select, dfNomComDetOp, left_on='Fecha', right_on='Column_2', how='inner')
Denver_select = Denver_select.drop(columns=['Column_2'])

# Mostrar el DataFrame combinado
Denver_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.,OpNomCom
0,Denver Broncos,1,"Dom., 8 de Sep.",P,26,20,visitante,Seattle,0,1,0,6,seattle seahawks
1,Denver Broncos,2,"Dom., 15 de Sep.",P,13,6,local,Pittsburgh,0,1,0,7,pittsburgh steelers

# Tennessee

In [261]:
rTen = requests.get(urlTen, cookies=cookies, headers=headers)
html_contentsTen = rTen.text

In [262]:
html_soupTen = BeautifulSoup(html_contentsTen, 'html.parser')

In [263]:
calendarioTen = html_soupTen.find_all('table', class_='Table')

In [264]:
Tennessee  = pd.DataFrame(columns = TabGen)

In [265]:
for table in calendarioTen:
    for row in table.find_all('tr')[2:21]:
        values = []
        for col in row.find_all(['th','td']):
            values.append(col.text)
        if len(values) == len(TabGen):
            Tennessee.loc[len(Tennessee)] = values

In [266]:
column_2 = 1
column_3 = 2

# Lista para almacenar los datos
data_list = []

# Recorre cada tabla
for table_index, table in enumerate(calendarioTen):
    # Recorre cada fila en la tabla
    for row_index, row in enumerate(table.find_all('tr')):
        # Inicializar variables para almacenar los datos
        column_2_data = None
        column_3_data = None
        
        # Recorre cada celda en la fila
        for col_index, col in enumerate(row.find_all(['th', 'td'])):
            # Extraer el contenido de la columna 2
            if col_index == column_2:
                span_tag = col.find('span')
                if span_tag:
                    column_2_data = span_tag.text.strip()
                else:
                    column_2_data = col.text.strip()
                
            # Extraer el contenido de la columna 3
            if col_index == column_3:
                a_tag = col.find('a', class_='AnchorLink')
                if a_tag:
                    href_value = a_tag.get('href')
                    relevant_part = href_value.split('/')[-1]
                    cadena_sin_guiones = relevant_part.replace('-', ' ')
                    column_3_data = cadena_sin_guiones

        # Agregar los datos a la lista si ambos datos están presentes
        if column_2_data and column_3_data:
            data_list.append({
                'Column_2': column_2_data,
                'OpNomCom': column_3_data
            })

# Convertir la lista de datos en un DataFrame
dfNomComDetOp = pd.DataFrame(data_list)

In [267]:
Tennessee.insert(0, 'Equipo', 'Tennessee Titans')
Tennessee['Resultado_L'] = Tennessee['Resultado'].str.extract(r'([A-Za-z]+)')
Tennessee['Resultado_Numeros'] = Tennessee['Resultado'].str.extract(r'(\d+-\d+)')
Tennessee[['R1', 'R2']] = Tennessee['Resultado_Numeros'].str.split('-', expand=True)
Tennessee['Local_Visitante'] = Tennessee['Oponente'].str.split().str[0].str.replace('.', '')
Tennessee['Local_Visitante'] = Tennessee['Local_Visitante'].str.replace('vs', 'local').str.replace('en', 'visitante')
Tennessee['Equipo_Oponente'] = Tennessee['Oponente'].str.extract(r'(vs\.|en\s)([^,]+)')[1]
# Agregar las columnas "G," "P," y "E" basadas en la columna "Resultado_L"
Tennessee['G'] = (Tennessee['Resultado_L'] == 'G').astype(int)
Tennessee['P'] = (Tennessee['Resultado_L'] == 'P').astype(int)
Tennessee['E'] = (Tennessee['Resultado_L'] == 'E').astype(int)
columnas_deseadas = ['Equipo', 'Semana', 'Fecha', 'Resultado_L', 'R1', 'R2', 'Local_Visitante', 'Equipo_Oponente', 'G', 'P', 'E']
Tennessee_select = Tennessee[columnas_deseadas]
Tennessee_select.loc[:, ['Semana', 'R1', 'R2', 'G', 'P', 'E']] = Tennessee_select[['Semana', 'R1', 'R2', 'G', 'P', 'E']].astype(int)
Tennessee_select = Tennessee_select.copy()
Tennessee_select['Diferencia_Pts.'] = Tennessee_select['R1'] - Tennessee_select['R2']

In [268]:
Tennessee_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.
0,Tennessee Titans,1,"Dom., 8 de Sep.",P,24,17,visitante,Chicago,0,1,0,7
1,Tennessee Titans,2,"Dom., 15 de Sep.",P,24,17,local,New York,0,1,0,7

In [269]:
# Convertir fechas a un formato común en ambos DataFrames
Tennessee_select['Fecha'] = Tennessee_select['Fecha'].str.strip()
dfNomComDetOp['Column_2'] = dfNomComDetOp['Column_2'].str.strip()

# Realizar la unión basada en las fechas
Tennessee_select = pd.merge(Tennessee_select, dfNomComDetOp, left_on='Fecha', right_on='Column_2', how='inner')
Tennessee_select = Tennessee_select.drop(columns=['Column_2'])

# Mostrar el DataFrame combinado
Tennessee_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.,OpNomCom
0,Tennessee Titans,1,"Dom., 8 de Sep.",P,24,17,visitante,Chicago,0,1,0,7,chicago bears
1,Tennessee Titans,2,"Dom., 15 de Sep.",P,24,17,local,New York,0,1,0,7,new york jets

# Seattle

In [270]:
rSea = requests.get(urlSea, cookies=cookies, headers=headers)
html_contentsSea = rSea.text

In [271]:
html_soupSea = BeautifulSoup(html_contentsSea, 'html.parser')

In [272]:
calendarioSea = html_soupSea.find_all('table', class_='Table')

In [273]:
Seattle  = pd.DataFrame(columns = TabGen)

In [274]:
for table in calendarioSea:
    for row in table.find_all('tr')[2:21]:
        values = []
        for col in row.find_all(['th','td']):
            values.append(col.text)
        if len(values) == len(TabGen):
            Seattle.loc[len(Seattle)] = values

In [275]:
column_2 = 1
column_3 = 2

# Lista para almacenar los datos
data_list = []

# Recorre cada tabla
for table_index, table in enumerate(calendarioSea):
    # Recorre cada fila en la tabla
    for row_index, row in enumerate(table.find_all('tr')):
        # Inicializar variables para almacenar los datos
        column_2_data = None
        column_3_data = None
        
        # Recorre cada celda en la fila
        for col_index, col in enumerate(row.find_all(['th', 'td'])):
            # Extraer el contenido de la columna 2
            if col_index == column_2:
                span_tag = col.find('span')
                if span_tag:
                    column_2_data = span_tag.text.strip()
                else:
                    column_2_data = col.text.strip()
                
            # Extraer el contenido de la columna 3
            if col_index == column_3:
                a_tag = col.find('a', class_='AnchorLink')
                if a_tag:
                    href_value = a_tag.get('href')
                    relevant_part = href_value.split('/')[-1]
                    cadena_sin_guiones = relevant_part.replace('-', ' ')
                    column_3_data = cadena_sin_guiones

        # Agregar los datos a la lista si ambos datos están presentes
        if column_2_data and column_3_data:
            data_list.append({
                'Column_2': column_2_data,
                'OpNomCom': column_3_data
            })

# Convertir la lista de datos en un DataFrame
dfNomComDetOp = pd.DataFrame(data_list)

In [276]:
Seattle.insert(0, 'Equipo', 'Seattle Seahawks')
Seattle['Resultado_L'] = Seattle['Resultado'].str.extract(r'([A-Za-z]+)')
Seattle['Resultado_Numeros'] = Seattle['Resultado'].str.extract(r'(\d+-\d+)')
Seattle[['R1', 'R2']] = Seattle['Resultado_Numeros'].str.split('-', expand=True)
Seattle['Local_Visitante'] = Seattle['Oponente'].str.split().str[0].str.replace('.', '')
Seattle['Local_Visitante'] = Seattle['Local_Visitante'].str.replace('vs', 'local').str.replace('en', 'visitante')
Seattle['Equipo_Oponente'] = Seattle['Oponente'].str.extract(r'(vs\.|en\s)([^,]+)')[1]
# Agregar las columnas "G," "P," y "E" basadas en la columna "Resultado_L"
Seattle['G'] = (Seattle['Resultado_L'] == 'G').astype(int)
Seattle['P'] = (Seattle['Resultado_L'] == 'P').astype(int)
Seattle['E'] = (Seattle['Resultado_L'] == 'E').astype(int)
columnas_deseadas = ['Equipo', 'Semana', 'Fecha', 'Resultado_L', 'R1', 'R2', 'Local_Visitante', 'Equipo_Oponente', 'G', 'P', 'E']
Seattle_select = Seattle[columnas_deseadas]
Seattle_select.loc[:, ['Semana', 'R1', 'R2', 'G', 'P', 'E']] = Seattle_select[['Semana', 'R1', 'R2', 'G', 'P', 'E']].astype(int)
Seattle_select = Seattle_select.copy()
Seattle_select['Diferencia_Pts.'] = Seattle_select['R1'] - Seattle_select['R2']

In [277]:
Seattle_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.
0,Seattle Seahawks,1,"Dom., 8 de Sep.",G,26,20,local,Denver,1,0,0,6
1,Seattle Seahawks,2,"Dom., 15 de Sep.",G,23,20,visitante,New England,1,0,0,3

In [278]:
# Convertir fechas a un formato común en ambos DataFrames
Seattle_select['Fecha'] = Seattle_select['Fecha'].str.strip()
dfNomComDetOp['Column_2'] = dfNomComDetOp['Column_2'].str.strip()

# Realizar la unión basada en las fechas
Seattle_select = pd.merge(Seattle_select, dfNomComDetOp, left_on='Fecha', right_on='Column_2', how='inner')
Seattle_select = Seattle_select.drop(columns=['Column_2'])

# Mostrar el DataFrame combinado
Seattle_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.,OpNomCom
0,Seattle Seahawks,1,"Dom., 8 de Sep.",G,26,20,local,Denver,1,0,0,6,denver broncos
1,Seattle Seahawks,2,"Dom., 15 de Sep.",G,23,20,visitante,New England,1,0,0,3,new england patriots

# Carolina

In [279]:
rCar = requests.get(urlCar, cookies=cookies, headers=headers)
html_contentsCar = rCar.text

In [280]:
html_soupCar = BeautifulSoup(html_contentsCar, 'html.parser')

In [281]:
calendarioCar = html_soupCar.find_all('table', class_='Table')

In [282]:
Carolina   = pd.DataFrame(columns = TabGen)

In [283]:
for table in calendarioCar:
    for row in table.find_all('tr')[2:21]:
        values = []
        for col in row.find_all(['th','td']):
            values.append(col.text)
        if len(values) == len(TabGen):
            Carolina.loc[len(Carolina)] = values

In [284]:
column_2 = 1
column_3 = 2

# Lista para almacenar los datos
data_list = []

# Recorre cada tabla
for table_index, table in enumerate(calendarioCar):
    # Recorre cada fila en la tabla
    for row_index, row in enumerate(table.find_all('tr')):
        # Inicializar variables para almacenar los datos
        column_2_data = None
        column_3_data = None
        
        # Recorre cada celda en la fila
        for col_index, col in enumerate(row.find_all(['th', 'td'])):
            # Extraer el contenido de la columna 2
            if col_index == column_2:
                span_tag = col.find('span')
                if span_tag:
                    column_2_data = span_tag.text.strip()
                else:
                    column_2_data = col.text.strip()
                
            # Extraer el contenido de la columna 3
            if col_index == column_3:
                a_tag = col.find('a', class_='AnchorLink')
                if a_tag:
                    href_value = a_tag.get('href')
                    relevant_part = href_value.split('/')[-1]
                    cadena_sin_guiones = relevant_part.replace('-', ' ')
                    column_3_data = cadena_sin_guiones

        # Agregar los datos a la lista si ambos datos están presentes
        if column_2_data and column_3_data:
            data_list.append({
                'Column_2': column_2_data,
                'OpNomCom': column_3_data
            })

# Convertir la lista de datos en un DataFrame
dfNomComDetOp = pd.DataFrame(data_list)

In [285]:
Carolina.insert(0, 'Equipo', 'Carolina Panthers')
Carolina['Resultado_L'] = Carolina['Resultado'].str.extract(r'([A-Za-z]+)')
Carolina['Resultado_Numeros'] = Carolina['Resultado'].str.extract(r'(\d+-\d+)')
Carolina[['R1', 'R2']] = Carolina['Resultado_Numeros'].str.split('-', expand=True)
Carolina['Local_Visitante'] = Carolina['Oponente'].str.split().str[0].str.replace('.', '')
Carolina['Local_Visitante'] = Carolina['Local_Visitante'].str.replace('vs', 'local').str.replace('en', 'visitante')
Carolina['Equipo_Oponente'] = Carolina['Oponente'].str.extract(r'(vs\.|en\s)([^,]+)')[1]
# Agregar las columnas "G," "P," y "E" basadas en la columna "Resultado_L"
Carolina['G'] = (Carolina['Resultado_L'] == 'G').astype(int)
Carolina['P'] = (Carolina['Resultado_L'] == 'P').astype(int)
Carolina['E'] = (Carolina['Resultado_L'] == 'E').astype(int)
columnas_deseadas = ['Equipo', 'Semana', 'Fecha', 'Resultado_L', 'R1', 'R2', 'Local_Visitante', 'Equipo_Oponente', 'G', 'P', 'E']
Carolina_select = Carolina[columnas_deseadas]
Carolina_select.loc[:, ['Semana', 'R1', 'R2', 'G', 'P', 'E']] = Carolina_select[['Semana', 'R1', 'R2', 'G', 'P', 'E']].astype(int)
Carolina_select = Carolina_select.copy()
Carolina_select['Diferencia_Pts.'] = Carolina_select['R1'] - Carolina_select['R2']

In [286]:
Carolina_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.
0,Carolina Panthers,1,"Dom., 8 de Sep.",P,47,10,visitante,New Orleans,0,1,0,37
1,Carolina Panthers,2,"Dom., 15 de Sep.",P,26,3,local,Los Angeles,0,1,0,23

In [287]:
# Convertir fechas a un formato común en ambos DataFrames
Carolina_select['Fecha'] = Carolina_select['Fecha'].str.strip()
dfNomComDetOp['Column_2'] = dfNomComDetOp['Column_2'].str.strip()

# Realizar la unión basada en las fechas
Carolina_select = pd.merge(Carolina_select, dfNomComDetOp, left_on='Fecha', right_on='Column_2', how='inner')
Carolina_select = Carolina_select.drop(columns=['Column_2'])

# Mostrar el DataFrame combinado
Carolina_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.,OpNomCom
0,Carolina Panthers,1,"Dom., 8 de Sep.",P,47,10,visitante,New Orleans,0,1,0,37,new orleans saints
1,Carolina Panthers,2,"Dom., 15 de Sep.",P,26,3,local,Los Angeles,0,1,0,23,los angeles chargers

# Houston

In [288]:
rHou = requests.get(urlHou, cookies=cookies, headers=headers)
html_contentsHou = rHou.text

In [289]:
html_soupHou = BeautifulSoup(html_contentsHou, 'html.parser')

In [290]:
calendarioHou = html_soupHou.find_all('table', class_='Table')

In [291]:
Houston = pd.DataFrame(columns = TabGen)

In [292]:
for table in calendarioHou:
    for row in table.find_all('tr')[2:21]:
        values = []
        for col in row.find_all(['th','td']):
            values.append(col.text)
        if len(values) == len(TabGen):
            Houston.loc[len(Houston)] = values

In [293]:
column_2 = 1
column_3 = 2

# Lista para almacenar los datos
data_list = []

# Recorre cada tabla
for table_index, table in enumerate(calendarioHou):
    # Recorre cada fila en la tabla
    for row_index, row in enumerate(table.find_all('tr')):
        # Inicializar variables para almacenar los datos
        column_2_data = None
        column_3_data = None
        
        # Recorre cada celda en la fila
        for col_index, col in enumerate(row.find_all(['th', 'td'])):
            # Extraer el contenido de la columna 2
            if col_index == column_2:
                span_tag = col.find('span')
                if span_tag:
                    column_2_data = span_tag.text.strip()
                else:
                    column_2_data = col.text.strip()
                
            # Extraer el contenido de la columna 3
            if col_index == column_3:
                a_tag = col.find('a', class_='AnchorLink')
                if a_tag:
                    href_value = a_tag.get('href')
                    relevant_part = href_value.split('/')[-1]
                    cadena_sin_guiones = relevant_part.replace('-', ' ')
                    column_3_data = cadena_sin_guiones

        # Agregar los datos a la lista si ambos datos están presentes
        if column_2_data and column_3_data:
            data_list.append({
                'Column_2': column_2_data,
                'OpNomCom': column_3_data
            })

# Convertir la lista de datos en un DataFrame
dfNomComDetOp = pd.DataFrame(data_list)

In [294]:
Houston.insert(0, 'Equipo', 'Houston Texans')
Houston['Resultado_L'] = Houston['Resultado'].str.extract(r'([A-Za-z]+)')
Houston['Resultado_Numeros'] = Houston['Resultado'].str.extract(r'(\d+-\d+)')
Houston[['R1', 'R2']] = Houston['Resultado_Numeros'].str.split('-', expand=True)
Houston['Local_Visitante'] = Houston['Oponente'].str.split().str[0].str.replace('.', '')
Houston['Local_Visitante'] = Houston['Local_Visitante'].str.replace('vs', 'local').str.replace('en', 'visitante')
Houston['Equipo_Oponente'] = Houston['Oponente'].str.extract(r'(vs\.|en\s)([^,]+)')[1]
# Agregar las columnas "G," "P," y "E" basadas en la columna "Resultado_L"
Houston['G'] = (Houston['Resultado_L'] == 'G').astype(int)
Houston['P'] = (Houston['Resultado_L'] == 'P').astype(int)
Houston['E'] = (Houston['Resultado_L'] == 'E').astype(int)
columnas_deseadas = ['Equipo', 'Semana', 'Fecha', 'Resultado_L', 'R1', 'R2', 'Local_Visitante', 'Equipo_Oponente', 'G', 'P', 'E']
Houston_select = Houston[columnas_deseadas]
Houston_select.loc[:, ['Semana', 'R1', 'R2', 'G', 'P', 'E']] = Houston_select[['Semana','R1', 'R2', 'G', 'P', 'E']].astype(int)
Houston_select = Houston_select.copy()
Houston_select['Diferencia_Pts.'] = Houston_select['R1'] - Houston_select['R2']

In [295]:
Houston_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.
0,Houston Texans,1,"Dom., 8 de Sep.",G,29,27,visitante,Indianapolis,1,0,0,2
1,Houston Texans,2,"Dom., 15 de Sep.",G,19,13,local,Chicago,1,0,0,6

In [296]:
# Convertir fechas a un formato común en ambos DataFrames
Houston_select['Fecha'] = Houston_select['Fecha'].str.strip()
dfNomComDetOp['Column_2'] = dfNomComDetOp['Column_2'].str.strip()

# Realizar la unión basada en las fechas
Houston_select = pd.merge(Houston_select, dfNomComDetOp, left_on='Fecha', right_on='Column_2', how='inner')
Houston_select = Houston_select.drop(columns=['Column_2'])

# Mostrar el DataFrame combinado
Houston_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.,OpNomCom
0,Houston Texans,1,"Dom., 8 de Sep.",G,29,27,visitante,Indianapolis,1,0,0,2,indianapolis colts
1,Houston Texans,2,"Dom., 15 de Sep.",G,19,13,local,Chicago,1,0,0,6,chicago bears

# Pittsburgh

In [297]:
rPit = requests.get(urlPit, cookies=cookies, headers=headers)
html_contentsPit = rPit.text

In [298]:
html_soupPit = BeautifulSoup(html_contentsPit, 'html.parser')

In [299]:
calendarioPit = html_soupPit.find_all('table', class_='Table')

In [300]:
Pittsburgh  = pd.DataFrame(columns = TabGen)

In [301]:
for table in calendarioPit:
    for row in table.find_all('tr')[2:21]:
        values = []
        for col in row.find_all(['th','td']):
            values.append(col.text)
        if len(values) == len(TabGen):
            Pittsburgh.loc[len(Pittsburgh)] = values

In [302]:
column_2 = 1
column_3 = 2

# Lista para almacenar los datos
data_list = []

# Recorre cada tabla
for table_index, table in enumerate(calendarioPit):
    # Recorre cada fila en la tabla
    for row_index, row in enumerate(table.find_all('tr')):
        # Inicializar variables para almacenar los datos
        column_2_data = None
        column_3_data = None
        
        # Recorre cada celda en la fila
        for col_index, col in enumerate(row.find_all(['th', 'td'])):
            # Extraer el contenido de la columna 2
            if col_index == column_2:
                span_tag = col.find('span')
                if span_tag:
                    column_2_data = span_tag.text.strip()
                else:
                    column_2_data = col.text.strip()
                
            # Extraer el contenido de la columna 3
            if col_index == column_3:
                a_tag = col.find('a', class_='AnchorLink')
                if a_tag:
                    href_value = a_tag.get('href')
                    relevant_part = href_value.split('/')[-1]
                    cadena_sin_guiones = relevant_part.replace('-', ' ')
                    column_3_data = cadena_sin_guiones

        # Agregar los datos a la lista si ambos datos están presentes
        if column_2_data and column_3_data:
            data_list.append({
                'Column_2': column_2_data,
                'OpNomCom': column_3_data
            })

# Convertir la lista de datos en un DataFrame
dfNomComDetOp = pd.DataFrame(data_list)

In [303]:
Pittsburgh.insert(0, 'Equipo', 'Pittsburgh Steelers')
Pittsburgh['Resultado_L'] = Pittsburgh['Resultado'].str.extract(r'([A-Za-z]+)')
Pittsburgh['Resultado_Numeros'] = Pittsburgh['Resultado'].str.extract(r'(\d+-\d+)')
Pittsburgh[['R1', 'R2']] = Pittsburgh['Resultado_Numeros'].str.split('-', expand=True)
Pittsburgh['Local_Visitante'] = Pittsburgh['Oponente'].str.split().str[0].str.replace('.', '')
Pittsburgh['Local_Visitante'] = Pittsburgh['Local_Visitante'].str.replace('vs', 'local').str.replace('en', 'visitante')
Pittsburgh['Equipo_Oponente'] = Pittsburgh['Oponente'].str.extract(r'(vs\.|en\s)([^,]+)')[1]
# Agregar las columnas "G," "P," y "E" basadas en la columna "Resultado_L"
Pittsburgh['G'] = (Pittsburgh['Resultado_L'] == 'G').astype(int)
Pittsburgh['P'] = (Pittsburgh['Resultado_L'] == 'P').astype(int)
Pittsburgh['E'] = (Pittsburgh['Resultado_L'] == 'E').astype(int)
columnas_deseadas = ['Equipo', 'Semana', 'Fecha', 'Resultado_L', 'R1', 'R2', 'Local_Visitante', 'Equipo_Oponente', 'G', 'P', 'E']
Pittsburgh_select = Pittsburgh[columnas_deseadas]
Pittsburgh_select.loc[:, ['Semana', 'R1', 'R2', 'G', 'P', 'E']] = Pittsburgh_select[['Semana', 'R1', 'R2', 'G', 'P', 'E']].astype(int)
Pittsburgh_select = Pittsburgh_select.copy()
Pittsburgh_select['Diferencia_Pts.'] = Pittsburgh_select['R1'] - Pittsburgh_select['R2']

In [304]:
Pittsburgh_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.
0,Pittsburgh Steelers,1,"Dom., 8 de Sep.",G,18,10,visitante,Atlanta,1,0,0,8
1,Pittsburgh Steelers,2,"Dom., 15 de Sep.",G,13,6,visitante,Denver,1,0,0,7

In [305]:
# Convertir fechas a un formato común en ambos DataFrames
Pittsburgh_select['Fecha'] = Pittsburgh_select['Fecha'].str.strip()
dfNomComDetOp['Column_2'] = dfNomComDetOp['Column_2'].str.strip()

# Realizar la unión basada en las fechas
Pittsburgh_select = pd.merge(Pittsburgh_select, dfNomComDetOp, left_on='Fecha', right_on='Column_2', how='inner')
Pittsburgh_select = Pittsburgh_select.drop(columns=['Column_2'])

# Mostrar el DataFrame combinado
Pittsburgh_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.,OpNomCom
0,Pittsburgh Steelers,1,"Dom., 8 de Sep.",G,18,10,visitante,Atlanta,1,0,0,8,atlanta falcons
1,Pittsburgh Steelers,2,"Dom., 15 de Sep.",G,13,6,visitante,Denver,1,0,0,7,denver broncos

# Cincinnati

In [306]:
rCin = requests.get(urlCin, cookies=cookies, headers=headers)
html_contentsCin = rCin.text

In [307]:
html_soupCin = BeautifulSoup(html_contentsCin, 'html.parser')

In [308]:
calendarioCin = html_soupCin.find_all('table', class_='Table')

In [309]:
Cincinnati = pd.DataFrame(columns = TabGen)

In [310]:
for table in calendarioCin:
    for row in table.find_all('tr')[2:21]:
        values = []
        for col in row.find_all(['th','td']):
            values.append(col.text)
        if len(values) == len(TabGen):
            Cincinnati.loc[len(Cincinnati)] = values

In [311]:
column_2 = 1
column_3 = 2

# Lista para almacenar los datos
data_list = []

# Recorre cada tabla
for table_index, table in enumerate(calendarioCin):
    # Recorre cada fila en la tabla
    for row_index, row in enumerate(table.find_all('tr')):
        # Inicializar variables para almacenar los datos
        column_2_data = None
        column_3_data = None
        
        # Recorre cada celda en la fila
        for col_index, col in enumerate(row.find_all(['th', 'td'])):
            # Extraer el contenido de la columna 2
            if col_index == column_2:
                span_tag = col.find('span')
                if span_tag:
                    column_2_data = span_tag.text.strip()
                else:
                    column_2_data = col.text.strip()
                
            # Extraer el contenido de la columna 3
            if col_index == column_3:
                a_tag = col.find('a', class_='AnchorLink')
                if a_tag:
                    href_value = a_tag.get('href')
                    relevant_part = href_value.split('/')[-1]
                    cadena_sin_guiones = relevant_part.replace('-', ' ')
                    column_3_data = cadena_sin_guiones

        # Agregar los datos a la lista si ambos datos están presentes
        if column_2_data and column_3_data:
            data_list.append({
                'Column_2': column_2_data,
                'OpNomCom': column_3_data
            })

# Convertir la lista de datos en un DataFrame
dfNomComDetOp = pd.DataFrame(data_list)

In [312]:
Cincinnati.insert(0, 'Equipo', 'Cincinnati Bengals')
Cincinnati['Resultado_L'] = Cincinnati['Resultado'].str.extract(r'([A-Za-z]+)')
Cincinnati['Resultado_Numeros'] = Cincinnati['Resultado'].str.extract(r'(\d+-\d+)')
Cincinnati[['R1', 'R2']] = Cincinnati['Resultado_Numeros'].str.split('-', expand=True)
Cincinnati['Local_Visitante'] = Cincinnati['Oponente'].str.split().str[0].str.replace('.', '')
Cincinnati['Local_Visitante'] = Cincinnati['Local_Visitante'].str.replace('vs', 'local').str.replace('en', 'visitante')
Cincinnati['Equipo_Oponente'] = Cincinnati['Oponente'].str.extract(r'(vs\.|en\s)([^,]+)')[1]
# Agregar las columnas "G," "P," y "E" basadas en la columna "Resultado_L"
Cincinnati['G'] = (Cincinnati['Resultado_L'] == 'G').astype(int)
Cincinnati['P'] = (Cincinnati['Resultado_L'] == 'P').astype(int)
Cincinnati['E'] = (Cincinnati['Resultado_L'] == 'E').astype(int)
columnas_deseadas = ['Equipo', 'Semana', 'Fecha', 'Resultado_L', 'R1', 'R2', 'Local_Visitante', 'Equipo_Oponente', 'G', 'P', 'E']
Cincinnati_select = Cincinnati[columnas_deseadas]
Cincinnati_select.loc[:, ['Semana', 'R1', 'R2', 'G', 'P', 'E']] = Cincinnati_select[['Semana', 'R1', 'R2', 'G', 'P', 'E']].astype(int)
Cincinnati_select = Cincinnati_select.copy()
Cincinnati_select['Diferencia_Pts.'] = Cincinnati_select['R1'] - Cincinnati_select['R2']

In [313]:
Cincinnati_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.
0,Cincinnati Bengals,1,"Dom., 8 de Sep.",P,16,10,local,New England,0,1,0,6
1,Cincinnati Bengals,2,"Dom., 15 de Sep.",P,26,25,visitante,Kansas City,0,1,0,1

In [314]:
# Convertir fechas a un formato común en ambos DataFrames
Cincinnati_select['Fecha'] = Cincinnati_select['Fecha'].str.strip()
dfNomComDetOp['Column_2'] = dfNomComDetOp['Column_2'].str.strip()

# Realizar la unión basada en las fechas
Cincinnati_select = pd.merge(Cincinnati_select, dfNomComDetOp, left_on='Fecha', right_on='Column_2', how='inner')
Cincinnati_select = Cincinnati_select.drop(columns=['Column_2'])

# Mostrar el DataFrame combinado
Cincinnati_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.,OpNomCom
0,Cincinnati Bengals,1,"Dom., 8 de Sep.",P,16,10,local,New England,0,1,0,6,new england patriots
1,Cincinnati Bengals,2,"Dom., 15 de Sep.",P,26,25,visitante,Kansas City,0,1,0,1,kansas city chiefs

# New York Giants

In [315]:
rNyg = requests.get(urlNyg, cookies=cookies, headers=headers)
html_contentsNyg = rNyg.text

In [316]:
html_soupNyg = BeautifulSoup(html_contentsNyg, 'html.parser')

In [317]:
calendarioNyg = html_soupNyg.find_all('table', class_='Table')

In [318]:
New_York_Giants = pd.DataFrame(columns = TabGen)

In [319]:
for table in calendarioNyg:
    for row in table.find_all('tr')[2:21]:
        values = []
        for col in row.find_all(['th','td']):
            values.append(col.text)
        if len(values) == len(TabGen):
            New_York_Giants.loc[len(New_York_Giants)] = values

In [320]:
column_2 = 1
column_3 = 2

# Lista para almacenar los datos
data_list = []

# Recorre cada tabla
for table_index, table in enumerate(calendarioNyg):
    # Recorre cada fila en la tabla
    for row_index, row in enumerate(table.find_all('tr')):
        # Inicializar variables para almacenar los datos
        column_2_data = None
        column_3_data = None
        
        # Recorre cada celda en la fila
        for col_index, col in enumerate(row.find_all(['th', 'td'])):
            # Extraer el contenido de la columna 2
            if col_index == column_2:
                span_tag = col.find('span')
                if span_tag:
                    column_2_data = span_tag.text.strip()
                else:
                    column_2_data = col.text.strip()
                
            # Extraer el contenido de la columna 3
            if col_index == column_3:
                a_tag = col.find('a', class_='AnchorLink')
                if a_tag:
                    href_value = a_tag.get('href')
                    relevant_part = href_value.split('/')[-1]
                    cadena_sin_guiones = relevant_part.replace('-', ' ')
                    column_3_data = cadena_sin_guiones

        # Agregar los datos a la lista si ambos datos están presentes
        if column_2_data and column_3_data:
            data_list.append({
                'Column_2': column_2_data,
                'OpNomCom': column_3_data
            })

# Convertir la lista de datos en un DataFrame
dfNomComDetOp = pd.DataFrame(data_list)

In [321]:
New_York_Giants

,Semana,Fecha,Oponente,Resultado,G-P,L.Pases,L. Corr,L. Recib
0,1,"Dom., 8 de Sep.",vs. Minnesota,P28-6,0-1,Jones 186,Singletary 37,Nabers 66
1,2,"Dom., 15 de Sep.",en Washington,P21-18,0-2,Jones 178,Singletary 95,Nabers 127

In [322]:
New_York_Giants.insert(0, 'Equipo', 'New York Giants')
New_York_Giants['Resultado_L'] = New_York_Giants['Resultado'].str.extract(r'([A-Za-z]+)')
New_York_Giants['Resultado_Numeros'] = New_York_Giants['Resultado'].str.extract(r'(\d+-\d+)')
New_York_Giants[['R1', 'R2']] = New_York_Giants['Resultado_Numeros'].str.split('-', expand=True)
New_York_Giants['Local_Visitante'] = New_York_Giants['Oponente'].str.split().str[0].str.replace('.', '')
New_York_Giants['Local_Visitante'] = New_York_Giants['Local_Visitante'].str.replace('vs', 'local').str.replace('en', 'visitante')
New_York_Giants['Equipo_Oponente'] = New_York_Giants['Oponente'].str.extract(r'(vs\.|en\s)([^,]+)')[1]
# Agregar las columnas "G," "P," y "E" basadas en la columna "Resultado_L"
New_York_Giants['G'] = (New_York_Giants['Resultado_L'] == 'G').astype(int)
New_York_Giants['P'] = (New_York_Giants['Resultado_L'] == 'P').astype(int)
New_York_Giants['E'] = (New_York_Giants['Resultado_L'] == 'E').astype(int)
columnas_deseadas = ['Equipo', 'Semana', 'Fecha', 'Resultado_L', 'R1', 'R2', 'Local_Visitante', 'Equipo_Oponente', 'G', 'P', 'E']
New_York_Giants_select = New_York_Giants[columnas_deseadas]
New_York_Giants_select.loc[:, ['Semana', 'R1', 'R2', 'G', 'P', 'E']] = New_York_Giants_select[['Semana', 'R1', 'R2', 'G', 'P', 'E']].astype(int)
New_York_Giants_select = New_York_Giants_select.copy()
New_York_Giants_select['Diferencia_Pts.'] = New_York_Giants_select['R1'] - New_York_Giants_select['R2']

In [323]:
New_York_Giants_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.
0,New York Giants,1,"Dom., 8 de Sep.",P,28,6,local,Minnesota,0,1,0,22
1,New York Giants,2,"Dom., 15 de Sep.",P,21,18,visitante,Washington,0,1,0,3

In [324]:
# Convertir fechas a un formato común en ambos DataFrames
New_York_Giants_select['Fecha'] = New_York_Giants_select['Fecha'].str.strip()
dfNomComDetOp['Column_2'] = dfNomComDetOp['Column_2'].str.strip()

# Realizar la unión basada en las fechas
New_York_Giants_select = pd.merge(New_York_Giants_select, dfNomComDetOp, left_on='Fecha', right_on='Column_2', how='inner')
New_York_Giants_select = New_York_Giants_select.drop(columns=['Column_2'])

# Mostrar el DataFrame combinado
New_York_Giants_select

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.,OpNomCom
0,New York Giants,1,"Dom., 8 de Sep.",P,28,6,local,Minnesota,0,1,0,22,minnesota vikings
1,New York Giants,2,"Dom., 15 de Sep.",P,21,18,visitante,Washington,0,1,0,3,washington commanders

# Pocisiones

In [325]:
urlp = "https://www.espn.com.mx/futbol-americano/nfl/posiciones/_/grupo/liga"

In [326]:
rp = requests.get(urlp, cookies=cookies, headers=headers)
html_contentsp = rp.text

In [327]:
html_soupp = BeautifulSoup(html_contentsp, 'html.parser')

In [328]:
tabla_puntajep = html_soupp.find_all('table', class_='Table Table--align-right')

In [329]:
# Encuentra todos los elementos span con la clase hide-mobile
elementos_equipo = html_soupp.find_all('span', class_='hide-mobile')
# Inicializa una lista para almacenar los nombres de los equipos
nombres_equipos = []
# Itera sobre los elementos y obtén el texto de cada uno
for elemento_equipo in elementos_equipo:
    nombre_equipo = elemento_equipo.text
    nombres_equipos.append(nombre_equipo)
# Ahora, nombres_equipos contendrá los nombres de todos los equipos
# Crea un DataFrame con una columna llamada 'Nombre_Equipo'
nom = pd.DataFrame({'Equipo': nombres_equipos})

# Si deseas agregar un índice numérico, puedes hacerlo así:
nom.index = range(1, len(nom) + 1)  # Índice de 1 a n (número de equipos)

In [330]:
columnaspos =  ['G','P','E','PCT','LOCAL',
             'VIS','DIV','CONF','PA','PC',
             'DIFP','R']

In [331]:
pos = pd.DataFrame(columns = columnaspos)

In [332]:
for table in tabla_puntajep:
    for row in table.find_all('tr')[1:]:
        values = []
        for col in row.find_all(['th','td']):
            values.append(col.text)
        if len(values) == len(columnaspos):
            pos.loc[len(pos)] = values

In [333]:
pos.index = range(1, len(pos) + 1)  # Índice de 1 a n (número de equipos)

In [334]:
resultadopos = pd.concat([nom, pos ], axis=1)

In [335]:
resultadopos

,Equipo,G,P,E,PCT,LOCAL,VIS,DIV,CONF,PA,PC,DIFP,R
1,Buffalo Bills,2,0,0,1.000,1-0,1-0,1-0,1-0,65,38,+27,G2
2,New Orleans Saints,2,0,0,1.000,1-0,1-0,1-0,2-0,91,29,+62,G2
3,Minnesota Vikings,2,0,0,1.000,1-0,1-0,0-0,2-0,51,23,+28,G2
4,Houston Texans,2,0,0,1.000,1-0,1-0,1-0,1-0,48,40,+8,G2
5,Los Angeles Chargers,2,0,0,1.000,1-0,1-0,1-0,1-0,48,13,+35,G2
6,Seattle Seahawks,2,0,0,1.000,1-0,1-0,0-0,0-0,49,40,+9,G2
7,Pittsburgh Steelers,2,0,0,1.000,0-0,2-0,0-0,1-0,31,16,+15,G2
8,Kansas City Chiefs,2,0,0,1.000,2-0,0-0,0-0,2-0,53,45,+8,G2
9,Tampa Bay Buccaneers,2,0,0,1.000,1-0,1-0,0-0,2-0,57,36,+21,G2
10,Washington Commanders,1,1,0,.500,1-0,0-1,1-0,1-1,41,55,-14,G1
11,Atlanta Falcons,1,1,0,.500,0-1,1-0,0-0,1-0,32,39,-7,G1
12,New England Patriots,1,1,0,.500,0-1,1-0,0-0,1-0,36,33,+3,P1
13,New York Jets,1,1,0,.500,0-0,1-1,0-0,1-0,43,49,-6,G1
14,Arizona Cardinals,1,1,0,.500,1-0,0-1,1-0,1-0,69,44,+25,G1
15,Cleveland Browns,1,1,0,.500,0-1,1-0,0-0,1-0,35,46,-11,G1
16,Philadelphia Eagles,1,1,0,.500,1-1,0-0,0-0,1-1,55,51,+4,P1
17,Detroit Lions,1,1,0,.500,1-1,0-0,0-0,1-1,42,40,+2,P1
18,Las Vegas Raiders,1,1,0,.500,0-0,1-1,0-1,1-1,36,45,-9,G1
19,Dallas Cowboys,1,1,0,.500,0-1,1-0,0-0,0-1,52,61,-9,P1
20,Miami Dolphins,1,1,0,.500,1-1,0-0,0-1,1-1,30,48,-18,P1
21,San Francisco 49ers,1,1,0,.500,1-0,0-1,0-0,0-1,49,42,+7,P1
22,Chicago Bears,1,1,0,.500,1-0,0-1,0-0,0-0,37,36,+1,P1
23,Green Bay Packers,1,1,0,.500,1-0,0-1,0-0,0-1,45,44,+1,G1
24,Denver Broncos,0,2,0,.000,0-1,0-1,0-0,0-1,26,39,-13,P2
25,Baltimore Ravens,0,2,0,.000,0-1,0-1,0-0,0-2,43,53,-10,P2
26,Cincinnati Bengals,0,2,0,.000,0-1,0-1,0-0,0-2,35,42,-7,P2
27,Indianapolis Colts,0,2,0,.000,0-1,0-1,0-1,0-1,37,45,-8,P2
28,Carolina Panthers,0,2,0,.000,0-1,0-1,0-1,0-1,13,73,-60,P2
29,New York Giants,0,2,0,.000,0-1,0-1,0-1,0-2,24,49,-25,P2
30,Jacksonville Jaguars,0,2,0,.000,0-1,0-1,0-0,0-2,30,38,-8,P2
31,Tennessee Titans,0,2,0,.000,0-1,0-1,0-0,0-1,34,48,-14,P2
32,Los Angeles Rams,0,2,0,.000,0-0,0-2,0-1,0-2,30,67,-37,P2

# Base de Datos

In [429]:
conexion1 = psycopg2.connect(database="Nfl", user="postgres", password="Edgar821")
cursor1 = conexion1.cursor()

# Consular Semana

In [430]:
cursor1.execute("SELECT max(semana) from calendario1")

In [431]:
resultados = cursor1.fetchall()

In [432]:
semana_siguiente = resultados[0][0]+1

In [433]:
week_siguiente_DAL = Dallas_select[Dallas_select['Semana'] == semana_siguiente]
week_siguiente_MIA = Miami_select[Miami_select['Semana'] == semana_siguiente]
week_siguiente_SF = San_Francisco_select[San_Francisco_select['Semana'] == semana_siguiente]
week_siguiente_BAL = Baltimore_Ravens_select[Baltimore_Ravens_select['Semana'] == semana_siguiente]
week_siguiente_ATL = Atlanta_select[Atlanta_select['Semana'] == semana_siguiente]
week_siguiente_NO = New_Orleans_select[New_Orleans_select['Semana'] == semana_siguiente]
week_siguiente_TB = Tampa_Bay_select[Tampa_Bay_select['Semana'] == semana_siguiente]
week_siguiente_PHI = Philadelphia_select[Philadelphia_select['Semana'] == semana_siguiente]
week_siguiente_WSH = Washington_select[Washington_select['Semana'] == semana_siguiente]
week_siguiente_JAX = Jacksonville_select[Jacksonville_select['Semana'] == semana_siguiente]
week_siguiente_GB = Green_Bay_select[Green_Bay_select['Semana'] == semana_siguiente]
week_siguiente_LV = Las_Vegas_select[Las_Vegas_select['Semana'] == semana_siguiente]
week_siguiente_PIT = Pittsburgh_select[Pittsburgh_select['Semana'] == semana_siguiente]
week_siguiente_NYJ = New_York_Jets_select[New_York_Jets_select['Semana'] == semana_siguiente]
week_siguiente_KC = Kansas_City_select[Kansas_City_select['Semana'] == semana_siguiente]
week_siguiente_BUF = Buffalo_select[Buffalo_select['Semana'] == semana_siguiente]
week_siguiente_IND = Indianapolis_select[Indianapolis_select['Semana'] == semana_siguiente]
week_siguiente_LAR = Los_Angeles_Rams_select[Los_Angeles_Rams_select['Semana'] == semana_siguiente]
week_siguiente_TEN = Tennessee_select[Tennessee_select['Semana'] == semana_siguiente]
week_siguiente_SEA = Seattle_select[Seattle_select['Semana'] == semana_siguiente]
week_siguiente_CLE = Cleveland_select[Cleveland_select['Semana'] == semana_siguiente]
week_siguiente_NYG = New_York_Giants_select[New_York_Giants_select['Semana'] == semana_siguiente]
week_siguiente_DET = Detroit_select[Detroit_select['Semana'] == semana_siguiente]
week_siguiente_NE = New_England_select[New_England_select['Semana'] == semana_siguiente]
week_siguiente_MIN = Minnesota_select[Minnesota_select['Semana'] == semana_siguiente]
week_siguiente_LAC = Los_Angeles_Chargers_select[Los_Angeles_Chargers_select['Semana'] == semana_siguiente]
week_siguiente_CAR = Carolina_select[Carolina_select['Semana'] == semana_siguiente]
week_siguiente_HOU = Houston_select[Houston_select['Semana'] == semana_siguiente]
week_siguiente_CIN = Cincinnati_select[Cincinnati_select['Semana'] == semana_siguiente]
week_siguiente_ARI = Arizona_select[Arizona_select['Semana'] == semana_siguiente]
week_siguiente_CHI = Chicago_select[Chicago_select['Semana'] == semana_siguiente]
week_siguiente_DEN = Denver_select[Denver_select['Semana'] == semana_siguiente]



# Crear un nuevo DataFrame que contenga solo la semana 1 de ambas tablas
week_siguiente_df = pd.concat([week_siguiente_DAL, week_siguiente_MIA, week_siguiente_SF, week_siguiente_BAL, week_siguiente_ATL, week_siguiente_NO,
                               week_siguiente_TB, week_siguiente_PHI, week_siguiente_WSH, week_siguiente_JAX,week_siguiente_GB, week_siguiente_LV, 
                               week_siguiente_PIT, week_siguiente_NYJ, week_siguiente_KC, week_siguiente_BUF, week_siguiente_IND, week_siguiente_LAR, 
                               week_siguiente_TEN, week_siguiente_SEA,week_siguiente_HOU, week_siguiente_CHI, week_siguiente_CLE, week_siguiente_NYG, week_siguiente_DET, week_siguiente_NE, 
                               week_siguiente_MIN, week_siguiente_LAC, week_siguiente_CAR, week_siguiente_CIN, 
                               week_siguiente_ARI, week_siguiente_DEN], ignore_index=True)
#

In [434]:
week_siguiente_df

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.,OpNomCom
0,Dallas Cowboys,2,"Dom., 15 de Sep.",P,44,19,local,New Orleans,0,1,0,25,new orleans saints
1,Miami Dolphins,2,"Jue., 12 de Sep.",P,31,10,local,Buffalo,0,1,0,21,buffalo bills
2,San Francisco 49ers,2,"Dom., 15 de Sep.",P,23,17,visitante,Minnesota,0,1,0,6,minnesota vikings
3,Baltimore Ravens,2,"Dom., 15 de Sep.",P,26,23,local,Las Vegas,0,1,0,3,las vegas raiders
4,Atlanta Falcons,2,"Lun., 16 de Sep.",G,22,21,visitante,Philadelphia,1,0,0,1,philadelphia eagles
5,New Orleans Saints,2,"Dom., 15 de Sep.",G,44,19,visitante,Dallas,1,0,0,25,dallas cowboys
6,Tampa Bay Buccaneers,2,"Dom., 15 de Sep.",G,20,16,visitante,Detroit,1,0,0,4,detroit lions
7,Philadelphia Eagles,2,"Lun., 16 de Sep.",P,22,21,local,Atlanta,0,1,0,1,atlanta falcons
8,Washington Commanders,2,"Dom., 15 de Sep.",G,21,18,local,New York,1,0,0,3,new york giants
9,Jacksonville Jaguars,2,"Dom., 15 de Sep.",P,18,13,local,Cleveland,0,1,0,5,cleveland browns
10,Green Bay Packers,2,"Dom., 15 de Sep.",G,16,10,local,Indianapolis,1,0,0,6,indianapolis colts
11,Las Vegas Raiders,2,"Dom., 15 de Sep.",G,26,23,visitante,Baltimore,1,0,0,3,baltimore ravens
12,Pittsburgh Steelers,2,"Dom., 15 de Sep.",G,13,6,visitante,Denver,1,0,0,7,denver broncos
13,New York Jets,2,"Dom., 15 de Sep.",G,24,17,visitante,Tennessee,1,0,0,7,tennessee titans
14,Kansas City Chiefs,2,"Dom., 15 de Sep.",G,26,25,local,Cincinnati,1,0,0,1,cincinnati bengals
15,Buffalo Bills,2,"Jue., 12 de Sep.",G,31,10,visitante,Miami,1,0,0,21,miami dolphins
16,Indianapolis Colts,2,"Dom., 15 de Sep.",P,16,10,visitante,Green Bay,0,1,0,6,green bay packers
17,Los Angeles Rams,2,"Dom., 15 de Sep.",P,41,10,visitante,Arizona,0,1,0,31,arizona cardinals
18,Tennessee Titans,2,"Dom., 15 de Sep.",P,24,17,local,New York,0,1,0,7,new york jets
19,Seattle Seahawks,2,"Dom., 15 de Sep.",G,23,20,visitante,New England,1,0,0,3,new england patriots
20,Houston Texans,2,"Dom., 15 de Sep.",G,19,13,local,Chicago,1,0,0,6,chicago bears
21,Chicago Bears,2,"Dom., 15 de Sep.",P,19,13,visitante,Houston,0,1,0,6,houston texans
22,Cleveland Browns,2,"Dom., 15 de Sep.",G,18,13,visitante,Jacksonville,1,0,0,5,jacksonville jaguars
23,New York Giants,2,"Dom., 15 de Sep.",P,21,18,visitante,Washington,0,1,0,3,washington commanders
24,Detroit Lions,2,"Dom., 15 de Sep.",P,20,16,local,Tampa Bay,0,1,0,4,tampa bay buccaneers
25,New England Patriots,2,"Dom., 15 de Sep.",P,23,20,local,Seattle,0,1,0,3,seattle seahawks
26,Minnesota Vikings,2,"Dom., 15 de Sep.",G,23,17,local,San Francisco,1,0,0,6,san francisco 49ers
27,Los Angeles Chargers,2,"Dom., 15 de Sep.",G,26,3,visitante,Carolina,1,0,0,23,carolina panthers
28,Carolina Panthers,2,"Dom., 15 de Sep.",P,26,3,local,Los Angeles,0,1,0,23,los angeles chargers
29,Cincinnati Bengals,2,"Dom., 15 de Sep.",P,26,25,visitante,Kansas City,0,1,0,1,kansas city chiefs
30,Arizona Cardinals,2,"Dom., 15 de Sep.",G,41,10,local,Los Angeles,1,0,0,31,los angeles rams
31,Denver Broncos,2,"Dom., 15 de Sep.",P,13,6,local,Pittsburgh,0,1,0,7,pittsburgh steelers

In [435]:
Div = pd.read_excel("Export/NombresNFL.xlsx")
columnas_deseadas = ['Equipo', 'PCT', 'PA', 'PC', 'DIFP', 'R']
resultadopos_select = resultadopos[columnas_deseadas]
df_possem = pd.merge(week_siguiente_df, resultadopos_select, on='Equipo', how='inner')
df_mergedsem = pd.merge(df_possem, Div, on='Equipo', how='inner')
df_mergedsem

,Equipo,Semana,Fecha,Resultado_L,R1,R2,Local_Visitante,Equipo_Oponente,G,P,E,Diferencia_Pts.,OpNomCom,PCT,PA,PC,DIFP,R,Nombre_Abreviado,Divisiones
0,Dallas Cowboys,2,"Dom., 15 de Sep.",P,44,19,local,New Orleans,0,1,0,25,new orleans saints,.500,52,61,-9,P1,DAL,NFC ESTE
1,Miami Dolphins,2,"Jue., 12 de Sep.",P,31,10,local,Buffalo,0,1,0,21,buffalo bills,.500,30,48,-18,P1,MIA,AFC ESTE
2,San Francisco 49ers,2,"Dom., 15 de Sep.",P,23,17,visitante,Minnesota,0,1,0,6,minnesota vikings,.500,49,42,+7,P1,SF,NFC OESTE
3,Baltimore Ravens,2,"Dom., 15 de Sep.",P,26,23,local,Las Vegas,0,1,0,3,las vegas raiders,.000,43,53,-10,P2,BAL,AFC NORTE
4,Atlanta Falcons,2,"Lun., 16 de Sep.",G,22,21,visitante,Philadelphia,1,0,0,1,philadelphia eagles,.500,32,39,-7,G1,ATL,NFC SUR
5,New Orleans Saints,2,"Dom., 15 de Sep.",G,44,19,visitante,Dallas,1,0,0,25,dallas cowboys,1.000,91,29,+62,G2,NO,NFC SUR
6,Tampa Bay Buccaneers,2,"Dom., 15 de Sep.",G,20,16,visitante,Detroit,1,0,0,4,detroit lions,1.000,57,36,+21,G2,TB,NFC SUR
7,Philadelphia Eagles,2,"Lun., 16 de Sep.",P,22,21,local,Atlanta,0,1,0,1,atlanta falcons,.500,55,51,+4,P1,PHI,NFC ESTE
8,Washington Commanders,2,"Dom., 15 de Sep.",G,21,18,local,New York,1,0,0,3,new york giants,.500,41,55,-14,G1,WSH,NFC ESTE
9,Jacksonville Jaguars,2,"Dom., 15 de Sep.",P,18,13,local,Cleveland,0,1,0,5,cleveland browns,.000,30,38,-8,P2,JAX,AFC SUR
10,Green Bay Packers,2,"Dom., 15 de Sep.",G,16,10,local,Indianapolis,1,0,0,6,indianapolis colts,.500,45,44,+1,G1,GB,NFC NORTE
11,Las Vegas Raiders,2,"Dom., 15 de Sep.",G,26,23,visitante,Baltimore,1,0,0,3,baltimore ravens,.500,36,45,-9,G1,LV,AFC OESTE
12,Pittsburgh Steelers,2,"Dom., 15 de Sep.",G,13,6,visitante,Denver,1,0,0,7,denver broncos,1.000,31,16,+15,G2,PIT,AFC NORTE
13,New York Jets,2,"Dom., 15 de Sep.",G,24,17,visitante,Tennessee,1,0,0,7,tennessee titans,.500,43,49,-6,G1,NYJ,AFC ESTE
14,Kansas City Chiefs,2,"Dom., 15 de Sep.",G,26,25,local,Cincinnati,1,0,0,1,cincinnati bengals,1.000,53,45,+8,G2,KC,AFC OESTE
15,Buffalo Bills,2,"Jue., 12 de Sep.",G,31,10,visitante,Miami,1,0,0,21,miami dolphins,1.000,65,38,+27,G2,BUF,AFC ESTE
16,Indianapolis Colts,2,"Dom., 15 de Sep.",P,16,10,visitante,Green Bay,0,1,0,6,green bay packers,.000,37,45,-8,P2,IND,AFC SUR
17,Los Angeles Rams,2,"Dom., 15 de Sep.",P,41,10,visitante,Arizona,0,1,0,31,arizona cardinals,.000,30,67,-37,P2,LAR,NFC OESTE
18,Tennessee Titans,2,"Dom., 15 de Sep.",P,24,17,local,New York,0,1,0,7,new york jets,.000,34,48,-14,P2,TEN,AFC SUR
19,Seattle Seahawks,2,"Dom., 15 de Sep.",G,23,20,visitante,New England,1,0,0,3,new england patriots,1.000,49,40,+9,G2,SEA,NFC OESTE
20,Houston Texans,2,"Dom., 15 de Sep.",G,19,13,local,Chicago,1,0,0,6,chicago bears,1.000,48,40,+8,G2,HOU,AFC SUR
21,Chicago Bears,2,"Dom., 15 de Sep.",P,19,13,visitante,Houston,0,1,0,6,houston texans,.500,37,36,+1,P1,CHI,NFC NORTE
22,Cleveland Browns,2,"Dom., 15 de Sep.",G,18,13,visitante,Jacksonville,1,0,0,5,jacksonville jaguars,.500,35,46,-11,G1,CLE,AFC NORTE
23,New York Giants,2,"Dom., 15 de Sep.",P,21,18,visitante,Washington,0,1,0,3,washington commanders,.000,24,49,-25,P2,NYG,NFC ESTE
24,Detroit Lions,2,"Dom., 15 de Sep.",P,20,16,local,Tampa Bay,0,1,0,4,tampa bay buccaneers,.500,42,40,+2,P1,DET,NFC NORTE
25,New England Patriots,2,"Dom., 15 de Sep.",P,23,20,local,Seattle,0,1,0,3,seattle seahawks,.500,36,33,+3,P1,NE,AFC ESTE
26,Minnesota Vikings,2,"Dom., 15 de Sep.",G,23,17,local,San Francisco,1,0,0,6,san francisco 49ers,1.000,51,23,+28,G2,MIN,NFC NORTE
27,Los Angeles Chargers,2,"Dom., 15 de Sep.",G,26,3,visitante,Carolina,1,0,0,23,carolina panthers,1.000,48,13,+35,G2,LAC,AFC OESTE
28,Carolina Panthers,2,"Dom., 15 de Sep.",P,26,3,local,Los Angeles,0,1,0,23,los angeles chargers,.000,13,73,-60,P2,CAR,NFC SUR
29,Cincinnati Bengals,2,"Dom., 15 de Sep.",P,26,25,visitante,Kansas City,0,1,0,1,kansas city chiefs,.000,35,42,-7,P2,CIN,AFC NORTE
30,Arizona Cardinals,2,"Dom., 15 de Sep.",G,41,10,local,Los Angeles,1,0,0,31,los angeles rams,.500,69,44,+25,G1,ARI,NFC OESTE
31,Denver Broncos,2,"Dom., 15 de Sep.",P,13,6,local,Pittsburgh,0,1,0,7,pittsburgh steelers,.000,26,39,-13,P2,DEN,AFC OESTE

In [436]:

try:
    for index, row in df_mergedsem.iterrows():
        cursor1.execute(
            "INSERT INTO calendario1 (Equipo, Semana, Fecha, Resultado_L, R1, R2, Local_Visitante, Equipo_Oponente, G, P, E, Diferencia_Pts, OpNomCom, PCT, PA, PC, DIFP, R, Nombre_Abreviado, Divisiones)"
            "VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)",
            (row['Equipo'], int(row['Semana']), row['Fecha'], row['Resultado_L'], int(row['R1']), int(row['R2']),
             row['Local_Visitante'], row['Equipo_Oponente'], int(row['G']), int(row['P']), int(row['E']), int(row['Diferencia_Pts.']), row['OpNomCom'], float(row['PCT']), 
             int(row['PA']), int(row['PC']), int(row['DIFP']), row['R'], row['Nombre_Abreviado'], row['Divisiones'])
        )



    
    # Confirmar la transacción
    conexion1.commit()
    
except Exception as e:
    print(f"Error: {e}")
    # Realizar un rollback en caso de error
    conexion1.rollback()

finally:
    cursor1.close()
    conexion1.close()

In [357]:
conexion1 = psycopg2.connect(database="Nfl", user="postgres", password="Edgar821")
cursor1 = conexion1.cursor()

# Ofensiva

In [4]:
# Especifica la ubicación del controlador de Chrome (chromedriver.exe)
chromedriver_pathoff = 'chromedriver.exe'

# Configura el servicio de Chrome con el argumento executable_path
chrome_serviceoff = ChromeService(executable_path=chromedriver_pathoff)

# Crea una instancia del navegador Chrome con el servicio configurado
driveroff = webdriver.Chrome(service=chrome_serviceoff)

# Abre la página web
urloff = 'https://www.espn.com.mx/futbol-americano/nfl/estadisticas/equipo'
driveroff.get(urloff)

# Espera a que la tabla esté presente en la página
wait = WebDriverWait(driveroff, 10)
tabla_presenteoff = EC.presence_of_element_located((By.CSS_SELECTOR, '.Table.Table--align-right.Table--fixed.Table--fixed-left'))
tablaoff = wait.until(tabla_presenteoff)

# Obtén el contenido HTML de la tabla
tabla_htmloff = tablaoff.get_attribute('outerHTML')

# Utiliza BeautifulSoup para analizar el contenido HTML
soupoff = BeautifulSoup(tabla_htmloff, 'html.parser')

# Encuentra todas las filas de la tabla
filasoff = soupoff.find_all('tr')

# Inicializa una lista para almacenar los datos
datosoff = []

# Recorre las filas y obtén los datos de cada celda
for fila in filasoff:
    celdas = fila.find_all('td')
    if celdas:  # Verifica si hay al menos una celda de datos en la fila
        fila_datos = [celda.text.strip() for celda in celdas]
        datosoff.append(fila_datos)

# Crea un DataFrame de Pandas con los datos filtrados
columnasoff = ['Equipo']  # Reemplaza con el nombre de tu columna
dfoff = pd.DataFrame(datosoff, columns=columnasoff)


# Cierra el navegador
driveroff.quit()

In [5]:
roff = requests.get(urloff, cookies=cookies, headers=headers)
html_contentsoff = roff.text

In [6]:
html_soupoff = BeautifulSoup(html_contentsoff, 'html.parser')

In [7]:
tabla_puntajeoff = html_soupoff.find_all('table', class_='Table Table--align-right')

In [8]:
columnasoff =  ['GP','YDS','YDS/G','YDS1','YDS/G',
             'YDS2','YDS/G','PTS','PTS/G',]

In [9]:
infoff = pd.DataFrame(columns = columnasoff)

In [10]:
for table in tabla_puntajeoff:
    for row in table.find_all('tr')[2:]:
        values = []
        for col in row.find_all(['th','td']):
            values.append(col.text)
        if len(values) == len(columnasoff):
            infoff.loc[len(infoff)] = values

In [11]:
dfoff.insert(0, 'Semana', semana_siguiente)
dfoff.insert(1, 'RK', range(1, 33, 1))
columnsUnidoff = pd.concat([dfoff,infoff], axis=1)

NameError: name 'semana_siguiente' is not defined

In [366]:
columnas_deseadasoff = ['Semana','RK','Equipo','GP','YDS']
Off_select = columnsUnidoff[columnas_deseadasoff]
Off_select

    Semana  RK                 Equipo GP  YDS
0        1   1       Baltimore Ravens  2  835
1        1   2          Detroit Lions  2  826
2        1   3     New Orleans Saints  2  811
3        1   4      Green Bay Packers  2  797
4        1   5    San Francisco 49ers  2  797
5        1   6    Philadelphia Eagles  2  775
6        1   7      Arizona Cardinals  2  759
7        1   8         Miami Dolphins  2  751
8        1   9         Houston Texans  2  727
9        1  10  Washington Commanders  2  724
10       1  11      Minnesota Vikings  2  715
11       1  12   Los Angeles Chargers  2  665
12       1  13       Seattle Seahawks  2  662
13       1  14     Indianapolis Colts  2  641
14       1  15     Kansas City Chiefs  2  639
15       1  16       Los Angeles Rams  2  632
16       1  17         Dallas Cowboys  2  618
17       1  18        Atlanta Falcons  2  611
18       1  19   Tampa Bay Buccaneers  2  608
19       1  20   New England Patriots  2  600
20       1  21          Buffalo Bills  2  599
21       1  22   Jacksonville Jaguars  2  590
22       1  23      Las Vegas Raiders  2  556
23       1  24     Cincinnati Bengals  2  544
24       1  25        New York Giants  2  544
25       1  26       Tennessee Titans  2  544
26       1  27          New York Jets  2  531
27       1  28       Cleveland Browns  2  527
28       1  29         Denver Broncos  2  526
29       1  30    Pittsburgh Steelers  2  521
30       1  31          Chicago Bears  2  353
31       1  32      Carolina Panthers  2  352

In [367]:

try:
    for index, row in Off_select.iterrows():
        cursor1.execute(
            "INSERT INTO offencive (Semana, RK, Equipo, GP, YDS) "
            "VALUES (%s, %s, %s, %s, %s)",
            (int(row['Semana']), int(row['RK']), row['Equipo'], int(row['GP'].replace(',', '')), int(row['YDS'].replace(',', '')))
        )
        conexion1.commit()

except Exception as e:
    print(f"Error: {e}")
    # Rollback en caso de error
    conexion1.rollback()

finally:
    # Cierre del cursor fuera del bucle
    cursor1.close()

# Cierre de la conexión fuera del bucle de iteración
conexion1.close()

In [368]:
Off_select.to_excel('Export\\OFENRensemana11ESPN.xlsx')

# Defensiva

In [369]:
conexion1 = psycopg2.connect(database="Nfl", user="postgres", password="Edgar821")
cursor1 = conexion1.cursor()

In [370]:
# Especifica la ubicación del controlador de Chrome (chromedriver.exe)
chromedriver_path = 'chromedriver.exe'

# Configura el servicio de Chrome con el argumento executable_path
chrome_service = ChromeService(executable_path=chromedriver_path)

# Crea una instancia del navegador Chrome con el servicio configurado
driver = webdriver.Chrome(service=chrome_service)

# Abre la página web
urldeff = 'https://www.espn.com.mx/futbol-americano/nfl/estadisticas/equipo/_/vista/defensiva'
driver.get(urldeff)

# Espera a que la tabla esté presente en la página
wait = WebDriverWait(driver, 10)
tabla_presente = EC.presence_of_element_located((By.CSS_SELECTOR, '.Table.Table--align-right.Table--fixed.Table--fixed-left'))
tabla = wait.until(tabla_presente)

# Obtén el contenido HTML de la tabla
tabla_html = tabla.get_attribute('outerHTML')

# Utiliza BeautifulSoup para analizar el contenido HTML
soup = BeautifulSoup(tabla_html, 'html.parser')

# Encuentra todas las filas de la tabla
filas = soup.find_all('tr')

# Inicializa una lista para almacenar los datos
datos = []

# Recorre las filas y obtén los datos de cada celda
for fila in filas:
    celdas = fila.find_all('td')
    if celdas:  # Verifica si hay al menos una celda de datos en la fila
        fila_datos = [celda.text.strip() for celda in celdas]
        datos.append(fila_datos)

# Crea un DataFrame de Pandas con los datos filtrados
columnas = ['Equipo']  # Reemplaza con el nombre de tu columna
dfdeff = pd.DataFrame(datos, columns=columnas)


# Cierra el navegador
driver.quit()

In [371]:
rdeff = requests.get(urldeff, cookies=cookies, headers=headers)
html_contentsdeff = rdeff.text

In [372]:
html_soupdeff = BeautifulSoup(html_contentsdeff, 'html.parser')

In [373]:
tabla_puntajedeff = html_soupdeff.find_all('table', class_='Table Table--align-right')

In [374]:
columnasdeff =  ['GP','YDS','YDS/G','YDS1','YDS/G',
             'YDS2','YDS/G','PTS','PTS/G',]

In [375]:
infdeff = pd.DataFrame(columns = columnasdeff)

In [376]:
for table in tabla_puntajedeff:
    for row in table.find_all('tr')[2:]:
        values = []
        for col in row.find_all(['th','td']):
            values.append(col.text)
        if len(values) == len(columnasdeff):
            infdeff.loc[len(infdeff)] = values

In [377]:
dfdeff.insert(0, 'Semana', semana_siguiente)
dfdeff.insert(1, 'RK', range(1, 33, 1))
columnsUniddeff = pd.concat([dfdeff,infdeff], axis=1)

In [378]:
columnas_deseadasdeff = ['Semana','RK','Equipo','GP','YDS']
Deff_select = columnsUniddeff[columnas_deseadasdeff]
Deff_select

    Semana  RK                 Equipo GP  YDS
0        1   1       Tennessee Titans  2  413
1        1   2   Los Angeles Chargers  2  455
2        1   3         Houston Texans  2  508
3        1   4         Miami Dolphins  2  514
4        1   5    Pittsburgh Steelers  2  521
5        1   6       Seattle Seahawks  2  541
6        1   7     New Orleans Saints  2  546
7        1   8          Chicago Bears  2  554
8        1   9         Denver Broncos  2  555
9        1  10     Cincinnati Bengals  2  576
10       1  11   New England Patriots  2  582
11       1  12       Cleveland Browns  2  588
12       1  13      Arizona Cardinals  2  597
13       1  14          Detroit Lions  2  603
14       1  15       Baltimore Ravens  2  613
15       1  16          Buffalo Bills  2  621
16       1  17        Atlanta Falcons  2  635
17       1  18      Minnesota Vikings  2  636
18       1  19         Dallas Cowboys  2  662
19       1  20    San Francisco 49ers  2  669
20       1  21  Washington Commanders  2  696
21       1  22   Jacksonville Jaguars  2  697
22       1  23      Las Vegas Raiders  2  699
23       1  24          New York Jets  2  701
24       1  25      Carolina Panthers  2  728
25       1  26        New York Giants  2  737
26       1  27      Green Bay Packers  2  748
27       1  28   Tampa Bay Buccaneers  2  762
28       1  29     Kansas City Chiefs  2  772
29       1  30    Philadelphia Eagles  2  799
30       1  31     Indianapolis Colts  2  800
31       1  32       Los Angeles Rams  2  852

In [379]:

try:
    for index, row in Deff_select.iterrows():
        cursor1.execute(
            "INSERT INTO defencive (Semana, RK, Equipo, GP, YDS) "
            "VALUES (%s, %s, %s, %s, %s)",
            (int(row['Semana']), int(row['RK']), row['Equipo'], int(row['GP'].replace(',', '')), int(row['YDS'].replace(',', '')))
        )
        conexion1.commit()

except Exception as e:
    print(f"Error: {e}")
    # Rollback en caso de error
    conexion1.rollback()

finally:
    # Cierre del cursor fuera del bucle
    cursor1.close()

# Cierre de la conexión fuera del bucle de iteración
conexion1.close()

In [380]:
Deff_select.to_excel('Export\\DEFRensemana11ESPN.xlsx')

# Power Index

In [400]:
conexion1 = psycopg2.connect(database="Nfl", user="postgres", password="Edgar821")
cursor1 = conexion1.cursor()

In [401]:
# Especifica la ubicación del controlador de Chrome (chromedriver.exe)
chromedriver_path = 'chromedriver.exe'

# Configura el servicio de Chrome con el argumento executable_path
chrome_service = ChromeService(executable_path=chromedriver_path)

# Crea una instancia del navegador Chrome con el servicio configurado
driver = webdriver.Chrome(service=chrome_service)

# Abre la página web
urlpi = 'https://www.espn.com.mx/futbol-americano/nfl/fpi'
driver.get(urlpi)

# Espera a que la tabla esté presente en la página
wait = WebDriverWait(driver, 10)
tabla_presente = EC.presence_of_element_located((By.CSS_SELECTOR, '.Table.Table--align-right.Table--fixed.Table--fixed-left'))
tabla = wait.until(tabla_presente)

# Obtén el contenido HTML de la tabla
tabla_html = tabla.get_attribute('outerHTML')

# Utiliza BeautifulSoup para analizar el contenido HTML
soup = BeautifulSoup(tabla_html, 'html.parser')

# Encuentra todas las filas de la tabla
filas = soup.find_all('tr')

# Inicializa una lista para almacenar los datos
datos = []

# Recorre las filas y obtén los datos de cada celda
for fila in filas:
    celdas = fila.find_all('td')
    if celdas:  # Verifica si hay al menos una celda de datos en la fila
        fila_datos = [celda.text.strip() for celda in celdas]
        datos.append(fila_datos)

# Crea un DataFrame de Pandas con los datos filtrados
columnas = ['Equipo']  # Reemplaza con el nombre de tu columna
dfpi = pd.DataFrame(datos, columns=columnas)


# Cierra el navegador
driver.quit()

In [402]:
rpi = requests.get(urlpi, cookies=cookies, headers=headers)
html_contentspi = rpi.text

In [403]:
html_souppi = BeautifulSoup(html_contentspi, 'html.parser')

In [404]:
tabla_indexpi = html_souppi.find_all('table', class_='Table Table--align-right')

In [405]:
columnaspi =  ['W-L-T','FPI','RK1','TREND','OFF',
             'DEF','ST','SOS','REM SOS','AVGWP',]

In [406]:
infpi = pd.DataFrame(columns = columnaspi)

In [407]:
for table in tabla_indexpi:
    for row in table.find_all('tr')[2:]:
        values = []
        for col in row.find_all(['th','td']):
            values.append(col.text)
        if len(values) == len(columnaspi):
            infpi.loc[len(infpi)] = values

In [408]:
dfpi.insert(0, 'Semana', semana_siguiente)
dfpi.insert(1, 'RK', range(1, 33, 1))
columnsUnidpi = pd.concat([dfpi,infpi], axis=1)

In [409]:
columnas_deseadaspi = ['Semana', 'RK', 'Equipo', 'FPI']
Pi_select = columnsUnidpi[columnas_deseadaspi]
Pi_select

    Semana  RK                 Equipo   FPI
0        1   1    San Francisco 49ers   5.2
1        1   2          Buffalo Bills   5.1
2        1   3     Kansas City Chiefs   4.7
3        1   4    Philadelphia Eagles   3.6
4        1   5          Detroit Lions   3.6
5        1   6     New Orleans Saints   3.1
6        1   7         Houston Texans   2.9
7        1   8       Baltimore Ravens   2.9
8        1   9      Arizona Cardinals   2.0
9        1  10          New York Jets   1.8
10       1  11     Cincinnati Bengals   1.3
11       1  12   Los Angeles Chargers   0.8
12       1  13        Atlanta Falcons   0.6
13       1  14   Tampa Bay Buccaneers   0.5
14       1  15         Dallas Cowboys   0.4
15       1  16      Minnesota Vikings   0.2
16       1  17   Jacksonville Jaguars  -0.3
17       1  18       Seattle Seahawks  -0.4
18       1  19      Green Bay Packers  -0.5
19       1  20       Cleveland Browns  -0.8
20       1  21       Los Angeles Rams  -1.1
21       1  22          Chicago Bears  -1.4
22       1  23    Pittsburgh Steelers  -1.4
23       1  24     Indianapolis Colts  -1.5
24       1  25  Washington Commanders  -2.9
25       1  26       Tennessee Titans  -3.1
26       1  27      Las Vegas Raiders  -3.2
27       1  28   New England Patriots  -3.5
28       1  29        New York Giants  -5.5
29       1  30         Miami Dolphins  -5.9
30       1  31         Denver Broncos  -6.0
31       1  32      Carolina Panthers  -7.1

In [410]:
print("Semana:", row['Semana'])
print("RK:", row['RK'])

KeyError: 'Semana'

In [411]:

try:
    for index, row in Pi_select.iterrows():
        cursor1.execute(
            "INSERT INTO powerindex (Semana, RK, Equipo, FPI)"
            "VALUES (%s, %s, %s, %s)",
            (int(row['Semana']), int(row['RK']),row['Equipo'],float(row['FPI']))
        )
    
    # Confirmar la transacción
    conexion1.commit()
    
except Exception as e:
    print(f"Error: {e}")
    # Realizar un rollback en caso de error
    conexion1.rollback()

finally:
    cursor1.close()
    conexion1.close()

In [412]:
Pi_select.to_excel('Export\\powerindexESPNsem11.xlsx')

#  QBR

In [413]:
conexion1 = psycopg2.connect(database="Nfl", user="postgres", password="Edgar821")
cursor1 = conexion1.cursor()

In [414]:
urlqbr="https://www.espn.com.mx/futbol-americano/nfl/qbr"

In [415]:
rqbr = requests.get(urlqbr, cookies=cookies, headers=headers)
html_contentsqbr = rqbr.text

In [416]:
html_soupqbr = BeautifulSoup(html_contentsqbr, 'html.parser')

In [417]:
tabla_QBR = html_soupqbr.find_all('table', class_='Table Table--align-right')

In [418]:
columnasqbr =  ['QBR','PAA','PLAYS','EPA','PASS',
             'RUN','SACK','PEN','RAW']

In [419]:
QBR = pd.DataFrame(columns = columnasqbr)

In [420]:
for table in tabla_QBR:
    for row in table.find_all('tr')[1:]:
        values = []
        for col in row.find_all(['th','td']):
            values.append(col.text)
        if len(values) == len(columnasqbr):
            QBR.loc[len(QBR)] = values

In [421]:
tabla_nomqbr = html_soupqbr.find_all('table', class_='Table Table--align-right Table--fixed Table--fixed-left') 
Nombresqbr =  ['RK','Nombre']
rk = pd.DataFrame(columns = Nombresqbr)

In [422]:
for table in tabla_nomqbr:
    for row in table.find_all('tr')[1:]:
        values = []
        for col in row.find_all(['th','td']):
            values.append(col.text)
        if len(values) == len(Nombresqbr):
            rk.loc[len(rk)] = values

In [423]:
tabla_eqbr = html_soupqbr.find_all('span', class_='pl2 ns10 athleteCell__teamAbbrev') 
Eqqbr =  ['Equipo']
nomqbr = pd.DataFrame(columns = Eqqbr)

In [424]:
team_abbreviations = [element.text for element in tabla_eqbr]

# Crear un DataFrame con las abreviaciones
nomqbr = pd.DataFrame({Eqqbr[0]: team_abbreviations})

In [425]:
resultado= pd.concat([rk, nomqbr, QBR], axis=1)

In [426]:
resultado.insert(0, 'Semana', semana_siguiente)
resultado = resultado.drop(columns=['Nombre'])
resultado

    Semana  RK Equipo   QBR    PAA PLAYS   EPA  PASS   RUN  SACK   PEN   RAW
0        1   1     NO  96.2   10.7    47  10.1   8.3   1.1  -0.4   0.7  96.2
1        1   2    ARI  91.3   11.3    69  14.4   8.8   5.4  -1.9   0.2  91.0
2        1   3    BUF  84.2    9.0    60  13.7   8.4   5.3  -0.8  -0.1  89.4
3        1   4    SEA  71.5    7.4    90  15.2  10.3   3.4  -1.6   1.4  76.2
4        1   4    MIN  71.5    4.3    62   8.8   6.1   2.2  -1.5   0.5  72.7
5        1   6     TB  69.6    5.7    68  11.0   6.8   2.9  -3.4   1.3  76.5
6        1   7    PHI  68.8    6.4    94  14.4   8.9   4.2  -0.9   1.3  72.3
7        1   8     SF  63.3    1.5    82   8.1   8.7  -0.7  -2.6   0.0  56.3
8        1   9    HOU  63.0    3.8    86  11.3  11.9  -0.7  -3.7   0.1  65.1
9        1  10    IND  62.7    1.7    67   6.7   0.3   6.8  -1.6  -0.4  58.9
10       1  11     NE  62.5    1.9    64   7.5   4.9   2.2  -1.9   0.3  60.1
11       1  12    ATL  58.7    0.8    62   6.1   8.4  -2.5  -1.2   0.2  54.3
12       1  13    CIN  58.2    3.5    84  10.9   9.6   0.3  -2.8   1.0  64.5
13       1  14    LAC  58.2    1.1    57   5.5   4.7   0.9  -0.8  -0.2  57.0
14       1  15    JAX  56.6    1.1    68   6.9   1.4   4.2  -3.7   1.3  55.7
15       1  16    BAL  55.6    1.7   105  10.8   7.0   3.9  -1.2  -0.2  55.8
16       1  17    LAR  49.2    0.8    88   7.3   6.4   0.0  -2.4   1.0  53.1
17       1  18    NYJ  47.8   -1.4    57   3.4   3.8  -0.2  -1.4  -0.1  41.5
18       1  19     KC  47.1    0.2    69   6.3   3.1   2.8  -1.3   0.4  50.9
19       1  20    WSH  46.8   -1.1    93   6.4   2.3   3.6  -3.1   0.5  45.8
20       1  21     LV  44.1   -3.1    86   4.4   5.0  -2.1  -4.2   1.5  37.7
21       1  22    DAL  42.8   -3.0    87   3.7   2.5   1.2  -2.0   0.1  38.0
22       1  23    PIT  41.8   -0.5    78   6.1   5.2  -0.4  -1.7   1.3  47.5
23       1  24    NYG  40.4   -2.5    97   5.2   4.5   0.7  -1.5   0.0  40.9
24       1  25    DET  37.4   -3.4    90   4.6   3.6   1.1  -0.6  -0.1  36.9
25       1  26    MIA  36.0   -2.4    75   4.0   0.8   3.2  -2.2   0.0  38.7
26       1  27    DEN  35.7   -6.3    96   2.0  -0.7   2.9  -1.8  -0.1  28.3
27       1  28    TEN  35.7   -4.2    82   3.0  -0.2   3.0  -2.8   0.3  32.7
28       1  29    CLE  24.3   -9.0   101   0.0  -0.7   0.6  -3.1   0.1  22.1
29       1  30    CHI  24.2   -8.9    96  -0.4  -1.3   0.6  -4.3   0.3  21.2
30       1  31    CAR   9.1  -12.9    73  -3.4  -3.5   0.2  -1.9  -0.1   7.5

In [427]:
columnas_deseadasqbr = ['Semana', 'RK', 'Equipo', 'QBR']
QBR_select = resultado[columnas_deseadasqbr]
QBR_select

    Semana  RK Equipo   QBR
0        1   1     NO  96.2
1        1   2    ARI  91.3
2        1   3    BUF  84.2
3        1   4    SEA  71.5
4        1   4    MIN  71.5
5        1   6     TB  69.6
6        1   7    PHI  68.8
7        1   8     SF  63.3
8        1   9    HOU  63.0
9        1  10    IND  62.7
10       1  11     NE  62.5
11       1  12    ATL  58.7
12       1  13    CIN  58.2
13       1  14    LAC  58.2
14       1  15    JAX  56.6
15       1  16    BAL  55.6
16       1  17    LAR  49.2
17       1  18    NYJ  47.8
18       1  19     KC  47.1
19       1  20    WSH  46.8
20       1  21     LV  44.1
21       1  22    DAL  42.8
22       1  23    PIT  41.8
23       1  24    NYG  40.4
24       1  25    DET  37.4
25       1  26    MIA  36.0
26       1  27    DEN  35.7
27       1  28    TEN  35.7
28       1  29    CLE  24.3
29       1  30    CHI  24.2
30       1  31    CAR   9.1

In [428]:

try:
    for index, row in df_mergedsem.iterrows():
        cursor1.execute(
            "INSERT INTO calendario (Semana, RK, Equipo, QBR) "
            "VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)",
            (int(row['Equipo'], int(row['RK']), row['Equipo'], row['QBR']))
        )
    # Confirmar la transacción
    conexion1.commit()
    
except Exception as e:
    print(f"Error: {e}")
    # Realizar un rollback en caso de error
    conexion1.rollback()

finally:
    cursor1.close()
    conexion1.close()

Error: 'RK'

In [ ]:
QBR_select.to_excel('Export\\QBR11.xlsx')